@using Kendo.Mvc.UI

@{
    Layout = null;
}

  <script>
      completed = function (xhr) {
            RefreshPorRol();
            RefreshPorUser();
            alert(` ${xhr.responseText}!`);
            $('#myModal').modal('hide');
      };

 </script>



<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Agregar rol y usuario</h4>
      </div>
      <div class="modal-body">
          
                <form class="form-signin" asp-controller="UserRol" asp-action="Insert" 
                 data-ajax-method="post" 
                 data-ajax-complete="completed" 
                 data-ajax="true" >
                  <div class="row">
                   <div class="col-md-12">
                       @Html.Label("Usuario") 
                      @(Html.Kendo().DropDownList()
                        .Name("UserId")
                        .OptionLabel("Seleccione un usuario")
                        .DataValueField("UserId")
                        .DataTextField("UserName")
                        .Filter(FilterType.Contains)                   
                        .HtmlAttributes(new { @style = "width:100%" })                         
                        .Enable(true)
                        .DataSource(Source => Source.Read(r => r.Action("GetJsonUsers", "UserRol")))
                      )
                        
                  </div>
                </div>
                    
                 <div class="row">
                   <div class="col-md-12">
                     @Html.Label("Rol") 
                     @(Html.Kendo().DropDownList()
                      // .HtmlAttributes(new { data_bind="value:RoleId"})
                      .Name("RoleId")
                      .DataValueField("RoleId")
                      .DataTextField("RoleName")
                      .Filter(FilterType.Contains)
                      .HtmlAttributes(new { @style = "width:100%" })
                      .OptionLabel("Seleccione un rol")
                      //.Events(e=>e.Select("rolf"))
                      //.AutoBind(true)
                      .Enable(true)
                      .DataSource(Source => Source.Read(r => r.Action("GetJsonRoles", "UserRol")))
                    
                     )
                    </div>
                 </div>
                    <br/>
                    <div class="row">
                      <div class="col-md-12">
                           <button class="btn btn-lg btn-primary btn-block" type="submit">
                          Guardar</button>
                       </div>
                    </div>
              </form>
            
           </div>
      <div class="modal-footer">
           
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



