@{
    ViewData["Title"] = "Roles por Usuario";

}


<script>
    function AddUserRol() {
        $('#myModal').modal('show');
        $("#RoleId").data("kendoDropDownList").value('0');
        $("#UserId").data("kendoDropDownList").value('0');
        var validator = $("#frmUserRol").data("kendoValidator");
        validator.hideMessages();
    }

    function RefreshPorRol() {
        var grid2 = $("#gridUsersRoles").getKendoGrid();
        if (grid2 != null) {
            grid2.dataSource.read();
        }
    }

    function RefreshPorUser() {
        var grid = $("#gridRolesByUser").getKendoGrid();
        if (grid != null) {
            grid.dataSource.read();
        }
    }

    function EliminarUsuarioRol(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var dataObject = {
            'UserId': dataItem.UserId,
            'RoleId': dataItem.RoleId
        };

        $.ajax({
            url: '@Url.Action("Delete", "UserRol")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (data) {
                RefreshPorRol();
                RefreshPorUser();
                $.toast({
                    heading: 'Satisfactorio',
                    text: 'Registro eliminado correctamente.',
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'success',
                    hideAfter: 6000,
                    stack: 6
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.toast({
                    heading: 'Error',
                    text: XMLHttpRequest.responseText,
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 30000,
                    stack: 6
                });
            }
        });
    }
</script>


<h3 class="text-themecolor">Roles Usuario</h3>


@(Html.Kendo().TabStrip()
    .Name("tabUserRol")
    .Items(tabstrip =>
    {
        tabstrip.Add().Text("Por Rol")
        .LoadContentFrom("PorRol", "UserRol");

        tabstrip.Add().Text("Por Usuario")
        .LoadContentFrom(@Url.Action("PorUsuario", "UserRol"));
    })
    .SelectedIndex(0)
)


@await Html.PartialAsync("pvwAddUserRol")





