@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "CAI";
}

<script>



    function Detalles(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        window.location.href = "@Url.Action("Details", "CAI")?IdCAI=" + dataItem.IdCAI;
    }
</script>


@(Html.Kendo().Grid<ERPMVC.Models.CAI>
    ()
    .Name("gridCAI")
    .Columns(columns =>
    {
        columns.Bound(p => p.IdCAI).Width(100);
        columns.Bound(p => p._cai).Width(150);
        columns.Bound(p => p.FechaRecepcion).ClientTemplate("#= kendo.toString(kendo.parseDate(FechaRecepcion), 'dd/MM/yyyy') #").Width(100);
        columns.Bound(p => p.FechaLimiteEmision).ClientTemplate("#= kendo.toString(kendo.parseDate(FechaLimiteEmision), 'dd/MM/yyyy') #").Width(100);
        columns.Bound(p => p.Estado).Width(100);
        columns.Bound(p => p.FechaCreacion).ClientTemplate("#= kendo.toString(kendo.parseDate(FechaCreacion), 'dd/MM/yyyy') #").Width(100);
        columns.Bound(p => p.FechaModificacion).ClientTemplate("#= kendo.toString(kendo.parseDate(FechaModificacion), 'dd/MM/yyyy') #").Width(100);
        columns.Bound(p => p.UsuarioCreacion).Width(100);
        columns.Bound(p => p.UsuarioModificacion).Width(100);
        columns.Command(command => {
            //command.Custom("Ver detalles").Click("Detalles");
            command.Edit(); command.Destroy(); }).Width(250);

    })
    .ToolBar(tools =>
    {
        tools.Create();
        tools.Excel().HtmlAttributes(new { @class = "toolbar-field" });
        tools.Pdf().HtmlAttributes(new { @class = "toolbar-field" });



    })
    .Editable(e=>e.Mode(GridEditMode.InLine))
    .Sortable()
    .Pageable()
    .Filterable()
    .Scrollable()
    .Pdf(pdf => pdf.FileName("CAIReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
    + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
    .ProxyURL(Url.Action("Export", "Home")).AllPages())
        .Excel(excel => excel.FileName("CAIReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
    + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
    .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
    .DataSource(dataSource =>
        dataSource
        .WebApi()
        .ServerOperation(true)
        .Model(model =>
        {
            model.Id(p => p.IdCAI);
            model.Field(p => p.IdCAI).Editable(false);
            model.Field(p => p.FechaCreacion).Editable(true);
            model.Field(p => p.FechaLimiteEmision).Editable(true);
            model.Field(p => p.FechaRecepcion).Editable(true);

        })
        .Events(events => events.Error("error_handler"))
        .Read(read => read.Action("Get", "CAI"))
        .Create(create => create.Action("Insert", "CAI"))
        .Update(update => update.Action("Update", "CAI", new { id = "{0}" }))
        .Destroy(destroy => destroy.Action("Delete", "CAI", new { id = "{0}" }))
    )
)

@*<div>
@(Html.Kendo().PanelBar()
        .Name("IntroPanelBar")
        .Items(items =>
        {
            items.Add()
                .Text("Grafica de ventas")
                .Selected(true)
                .Expanded(true)
                .Content(@<text>
                    <p style="padding:1em 2em">
                        Learn how to build ASP.NET apps that can run anywhere.
                        <a target="_blank" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">Learn More</a>
                    </p>
                </text>);
                    items.Add()
                        .Text("Conceptos ERP")
                        .Content(@<text>
                            <p style="padding:1em 2em">
                                There are powerful new features in Visual Studio for building modern web apps.
                                <a target="_blank" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">Learn More</a>
                            </p>
                        </text>);
                                                    items.Add()
                                            .Text("Contactenos")
                                            .Content(@<text>
                                                <p style="padding:1em 2em">
                                                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                                                    <a target="_blank" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">Learn More</a>
                                                </p>
                                            </text>);
                                                                    })
)


</div>*@



