@model ERPMVC.DTO.CAIDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                           // {"required","Valor requerido" }
                        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "BranchId" && input.val() === "0") {
                return false;
            }

        }

        //$('#btnprueba').val("");
</script>



<div id="ModalCAI" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">CAI</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmCAI" kendo-validator="true" kendo-messages="messages" kendo-rules="rules"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveCAI"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">CAI</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdCAI" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IdCAI" name="IdCAI" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="IdCAI" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="_cai" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="_cai" id="_cai" name="_cai" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="_cai" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Estado" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaRecepcion" class=" control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="FechaRecepcion"
                                                                          style="width: 100%;"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaRecepcion"></kendo-datetimepicker>
                                                    @*<input type="date" asp-for="FechaRecepcion" name="FechaRecepcion" class="form-control" autocomplete="off" style="width:100%" />*@
                                                    <span asp-validation-for="FechaRecepcion" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaLimiteEmision" class=" control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="FechaLimiteEmision"
                                                                          style="width: 100%;"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaLimiteEmision"></kendo-datetimepicker>
                                                    @*<input type="date" asp-for="FechaLimiteEmision" name="FechaLimiteEmision" class="form-control" autocomplete="off" style="width:100%" />*@
                                                    <span asp-validation-for="FechaLimiteEmision" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnCAI" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        function SaveCAI(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnCAI").hide();
            $("#btnCAI").prop("disabled", true);

            var displayedData = $("#gridCAI").data().kendoGrid.dataSource.view();

            var dataObject = {  'IdCAI': $("#IdCAI").val()===""?"0":$("#IdCAI").val(),
                           '_cai': $("#_cai").val(),
                           'IdEstado': $("#IdEstado").val(),
                           'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                           'FechaRecepcion': $("#FechaRecepcion").val(),
                           'FechaLimiteEmision': $("#FechaLimiteEmision").val(),
                           'FechaCreacion': $("#FechaCreacion").val(),
                           'FechaModificacion':$("#FechaModificacion").val(),
                           'UsuarioCreacion':$("#UsuarioCreacion").val(),
                           'UsuarioModificacion':$("#UsuarioModificacion").val(),
                           '_CAIs': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

            var validator = $("#frmCAI").data("kendoValidator");
                 var status = $(".status");

            if (displayedData.length > 0) {
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveCAI", "CAI")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefreshGridCAI();

                            $('#ModalCAI').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
            }
            else {
                notification.show({
                    title: "Validacion",
                    message: "Debe agregar los productos!"
                }, "error");
               // notification.show("New E-mail","Debe agregar los productos", "info");
                //alert('Debe agregar los productos!!');
            }

            $("#btnCAI").show();
            $("#btnCAI").prop("disabled", false);
    }
</script>
