@model ERPMVC.DTO.CAIDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }

    //$('#btnprueba').val("");
</script>



<div id="ModalCAI" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">CAI</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmCAI" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveCAI"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        @*<h3 class="card-title">CAI</h3>*@
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdCAI" class=" control-label" style="width:100%">Id CAI</label>
                                                    <input type="text" asp-for="IdCAI" name="CAI" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="IdCAI" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label asp-for="_cai" class=" control-label" style="width:100%">CAI</label>
                                                    <input type="text" asp-for="_cai" id="elcai" name="_cai" class="form-control" data-val-required="El CAI es requerido" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="_cai" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">                                         
                                           
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaRecepcion" class=" control-label" style="width:100%">Fecha Recepción</label>
                                                    <kendo-datetimepicker name="FechaRecepcion" style="min-width: 86%;font-weight:600;" class="form-control"
                                                                          format="dd/MM/yyyy"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha recepción es requerida"
                                                                          value="Model.FechaRecepcion"></kendo-datetimepicker>
                                                    @*<input type="date" asp-for="FechaRecepcion" name="FechaRecepcion" class="form-control" autocomplete="off" style="width:100%" />*@
                                                    <span asp-validation-for="FechaRecepcion" class="text-danger"></span>
                                                </div>
                                            </div>
                                      

                                        
                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    <label asp-for="FechaLimiteEmision" class=" control-label" style="width:100%">Fecha límite emisión</label>
                                                    <kendo-datetimepicker name="FechaLimiteEmision" style="min-width: 86%;font-weight:600;" class="form-control"
                                                                          format="dd/MM/yyyy"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha limite emisión es requerida"
                                                                          value="Model.FechaLimiteEmision"></kendo-datetimepicker>
                                                    @*<input type="date" asp-for="FechaLimiteEmision" name="FechaLimiteEmision" class="form-control" autocomplete="off" style="width:100%" />*@
                                                    <span asp-validation-for="FechaLimiteEmision" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Estado" class="control-label">Estado</label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        data-val-required="El estado es requerido"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnCAI" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        function SaveCAI(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnCAI").hide();
            $("#btnCAI").prop("disabled", true);

            var displayedData = $("#gridCAI").data().kendoGrid.dataSource.view();

            var dataObject = {  'IdCAI': $("#IdCAI").val()===""?"0":$("#IdCAI").val(),
                'elcai': $("#elcai").val(),
                'FechaRecepcion': $("#FechaRecepcion").getKendoDateTimePicker().value().toJSON(),
                'FechaLimiteEmision': $("#FechaLimiteEmision").getKendoDateTimePicker().value().toJSON(),
                'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                'IdEstado': $("#IdEstado").val(),
                           //'_CAIs': displayedData
            };

         //   console.log(dataObject);

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

            var validator = $("#frmCAI").data("kendoValidator");
                 var status = $(".status");
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveCAI", "CAI")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/> Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 70000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalCAI').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
           

            $("#btnCAI").show();
            $("#btnCAI").prop("disabled", false);
    }
</script>
