@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "Planilla";

}

<script>

    function onsave(e) {
        //   console.log(new Date(e.model.FechaRecepcion).toISOString());
        // e.model.set('FechaRecepcion', new Date(e.model.FechaRecepcion).toISOString());
    }

    function caidata(data) {
        data.FechaRecepcion = data.FechaRecepcion.toISOString('yyyy-MM-dd');
        data.FechaLimiteEmision = data.FechaLimiteEmision.toISOString('yyyy-MM-dd');
    }

     function AddPlanilla() {

         $('#ModalPlanilla').find(':input').not(':submit').val('');
         $('#ModalPlanilla').modal('show');
         $("#IdPlanilla").val('0');
    }


             function EditPlanilla(e) {
             e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
             var dataObject = {
                 IdPlanilla: dataItem.IdPlanilla,
                editar : 0
            };

            $.ajax({
                url: '@Url.Action("pvwAddPlanilla", "Planilla")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (result) {
                    //console.log('success', result)

                    $("#numPlanilla").html('');
                    $("#numPlanilla").html(result);


                    //$("#btnCAI").hide();
                    $('#ModalPlanilla').modal('show');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
    }

    function RefrescarGrid() {

        var grid = $("#gridPlanilla").getKendoGrid();
        grid.dataSource.read();

    }



</script>

<h3 class="text-themecolor">Tipo de Planillas</h3>

@(Html.Kendo().Grid<ERPMVC.Models.Planilla>()

                        .Name("gridPlanilla")

                        .Columns(columns =>
                        {
                            columns.Command(command =>
                            {
                    //command.Custom("Ver detalles").Click("Detalles");
                    command.Custom("Editar").Click("EditPlanilla");
                    // command.Destroy().Text("Eliminar");
                }).Width(250);
                            columns.Bound(p => p.IdPlanilla).Width(190);
                            columns.Bound(p => p.TipoPlanilla).Width(190);
                            columns.Bound(p => p.Descripcion).Width(190);
                            columns.Bound(p => p.EstadoId).Width(190);
                        })


                        .ToolBar(tools =>
                        {

                //tools.Create();
                tools.Custom().Text("Agregar").IconClass("k-icon k-i-plus")
                            .HtmlAttributes(new { @class = "k-i-plus-sm", onclick = "AddPlanilla()" });
                            tools.Excel().Text("Exportar a excel").HtmlAttributes(new { @class = "toolbar-field" });
                            tools.Pdf().Text("Exportar a pdf").HtmlAttributes(new { @class = "toolbar-field" });



                        })
                        .Editable(e => e.Mode(GridEditMode.PopUp))
                        .Sortable()
                        .Pageable()
                        .Filterable()
                        .Scrollable()
                        .Pdf(pdf => pdf.FileName("PlanillaReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                        + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                        .ProxyURL(Url.Action("Export", "Home")).AllPages())
                        .Excel(excel => excel.FileName("PlanillaReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                        + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                        .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                        .DataSource(dataSource =>
                        dataSource
                        .WebApi()

                        .ServerOperation(true)
                        .Model(model =>
                        {
                            model.Id(p => p.IdPlanilla);
                            model.Field(p => p.IdPlanilla).Editable(false);

                        })
                        .Events(events => events.Error("error_handler"))
                        .Read(read => read.Action("Get", "Planilla"))
                        .Create(create => create.Action("Insert", "Planilla").Type(HttpVerbs.Post))
                        .Update(update => update.Action("Update", "Planilla").Type(HttpVerbs.Post))
                        // .Destroy(destroy => destroy.Action("Delete", "Planilla").Type(HttpVerbs.Post))
                        )
                        .Events(e =>
                        {
                            e.Save("onsave");

                        })
)

<div id="numPlanilla">
    @await Html.PartialAsync("pvwAddPlanilla", new ERPMVC.DTO.PlanillaDTO { IdPlanilla = 0 })
</div>

