@model ERPMVC.DTO.ProductTypeDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "BranchId" && input.val() === "0") {
                return false;
            }

        }


</script>



<div id="ModalProductType" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tipo de producto</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmProductType" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveProductType"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductTypeId" class=" control-label" style="width:100%">Id Tipo de Producto</label>
                                                    <input type="text" asp-for="ProductTypeId" name="IdProductType" class="k-textbox" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="ProductTypeId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ProductTypeName" class=" control-label" style="width:100%">Nombre del Tipo de Producto</label>
                                                    <input type="text" asp-for="ProductTypeName" data-val-required="Nombre del producto es requerido" name="ProductTypeName" class="k-textbox" style="min-width:100%" />
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEstado" class="control-label">Estado</label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        data-val-required="Estado es requerido"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="Description" class=" control-label" style="width:100%">Descripción</label>
                                                    <textarea type="text" asp-for="Description" data-val-required="Descripción es requerido" name="Description" class="k-textarea" autocomplete="off" style="min-width:100%" rows="2" ></textarea>
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>


                                            
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnProductType" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


    function RefreshCotizaciones() {
       // $("#myModalGoodsDelivered").modal('hide');
        var grid = $("#gridProductType").getKendoGrid();
        grid.dataSource.read();
    }

        function SaveProductType(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnProductType").hide();
            $("#btnProductType").prop("disabled", true);

            var dataObject = {
                'ProductTypeId': $("#ProductTypeId").val() === "" ? "0" : $("#ProductTypeId").val(),
                'ProductTypeName': $("#ProductTypeName").val(),
                'Description': $("#Description").val(),
                'IdEstado': $("#IdEstado").val(),
                'Estado': $("#IdEstado").data("kendoDropDownList").text(),
            };
            var validator = $("#frmProductType").data("kendoValidator");
            var status = $(".status");
             if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveProductType", "ProductType")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 3000,
                                stack: 6
                            });

                            RefreshCotizaciones();

                            $('#ModalProductType').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log('VERIFICAR')

                            $.toast({
                                heading: 'Error',
                                text: textStatus + ": " + XMLHttpRequest.responseText,
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 3000,
                                stack: 6
                            });

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                        $("#btnProductType").show();
                }
           

            $("#btnProductType").show();
            $("#btnProductType").prop("disabled", false);
    }
</script>
