@model ERPMVC.Models.SalesOrder
<div class="row" id="validation">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="m-b-0 text-white">SalesOrder</h4>
            </div>
            <div class="card-body">
                <form id="frmSalesOrder" asp-controller="SalesOrder" asp-action="SaveSalesOrder" method="post" class="validation-wizard wizard-circle">
                    <div class="form-body">
                        <h3 class="card-title">Información SalesOrder</h3>
                        <hr>
	    		    					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="SalesOrderId" class="col-md-2 control-label"></label>							            
							  <kendo-numerictextbox name="SalesOrderId"
                                  format="n"
                                  min="0"
                                  max="99999999"
                                  step="1"
                                  value="Model.SalesOrderId">
						     </kendo-numerictextbox>					
							  <span asp-validation-for="SalesOrderId" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					  					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="SalesOrderName" class="col-md-2 control-label"></label>	
							  <textarea asp-for="SalesOrderName" class="form-control required "></textarea>							  						
							  <span asp-validation-for="SalesOrderName" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					 
					  					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="BranchId" class="col-md-2 control-label"></label>							            
							  <kendo-numerictextbox name="BranchId"
                                  format="n"
                                  min="0"
                                  max="99999999"
                                  step="1"
                                  value="Model.BranchId">
						     </kendo-numerictextbox>					
							  <span asp-validation-for="BranchId" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					  					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="CustomerId" class="col-md-2 control-label"></label>							            
							  <kendo-numerictextbox name="CustomerId"
                                  format="n"
                                  min="0"
                                  max="99999999"
                                  step="1"
                                  value="Model.CustomerId">
						     </kendo-numerictextbox>					
							  <span asp-validation-for="CustomerId" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					  					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="OrderDate" class="col-md-2 control-label"></label>							            
							  <kendo-datepicker name="OrderDate"
							    style="width: 100%;"
								format="yyyy-MM-dd" value="Model.OrderDate.DateTime">
							 </kendo-datepicker>						
							  <span asp-validation-for="OrderDate" class="text-danger"></span>		
			              </div>
	   			       </div>
					 				 
					 
					 
					 					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="DeliveryDate" class="col-md-2 control-label"></label>							            
							  <kendo-datepicker name="DeliveryDate"
							    style="width: 100%;"
								format="yyyy-MM-dd" value="Model.DeliveryDate.DateTime">
							 </kendo-datepicker>						
							  <span asp-validation-for="DeliveryDate" class="text-danger"></span>		
			              </div>
	   			       </div>
					 				 
					 
					 
					 					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="CurrencyId" class="col-md-2 control-label"></label>							            
							  <kendo-numerictextbox name="CurrencyId"
                                  format="n"
                                  min="0"
                                  max="99999999"
                                  step="1"
                                  value="Model.CurrencyId">
						     </kendo-numerictextbox>					
							  <span asp-validation-for="CurrencyId" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					  					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="CustomerRefNumber" class="col-md-2 control-label"></label>	
							  <textarea asp-for="CustomerRefNumber" class="form-control required "></textarea>							  						
							  <span asp-validation-for="CustomerRefNumber" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					 
					  					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="SalesTypeId" class="col-md-2 control-label"></label>							            
							  <kendo-numerictextbox name="SalesTypeId"
                                  format="n"
                                  min="0"
                                  max="99999999"
                                  step="1"
                                  value="Model.SalesTypeId">
						     </kendo-numerictextbox>					
							  <span asp-validation-for="SalesTypeId" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					  					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="Remarks" class="col-md-2 control-label"></label>	
							  <textarea asp-for="Remarks" class="form-control required "></textarea>							  						
							  <span asp-validation-for="Remarks" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					 
					  					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="Amount" class="col-md-2 control-label"></label>							            
							  <kendo-numerictextbox name="Amount"
                                  format="n2"
                                  min="0"
                                  max="999999999"
                                  step="1"
                                  value="Model.Amount">
						     </kendo-numerictextbox>					
							  <span asp-validation-for="Amount" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					 					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="SubTotal" class="col-md-2 control-label"></label>							            
							  <kendo-numerictextbox name="SubTotal"
                                  format="n2"
                                  min="0"
                                  max="999999999"
                                  step="1"
                                  value="Model.SubTotal">
						     </kendo-numerictextbox>					
							  <span asp-validation-for="SubTotal" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					 					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="Discount" class="col-md-2 control-label"></label>							            
							  <kendo-numerictextbox name="Discount"
                                  format="n2"
                                  min="0"
                                  max="999999999"
                                  step="1"
                                  value="Model.Discount">
						     </kendo-numerictextbox>					
							  <span asp-validation-for="Discount" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					 					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="Tax" class="col-md-2 control-label"></label>							            
							  <kendo-numerictextbox name="Tax"
                                  format="n2"
                                  min="0"
                                  max="999999999"
                                  step="1"
                                  value="Model.Tax">
						     </kendo-numerictextbox>					
							  <span asp-validation-for="Tax" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					 					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="Freight" class="col-md-2 control-label"></label>							            
							  <kendo-numerictextbox name="Freight"
                                  format="n2"
                                  min="0"
                                  max="999999999"
                                  step="1"
                                  value="Model.Freight">
						     </kendo-numerictextbox>					
							  <span asp-validation-for="Freight" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					 					
                       <div class="col-md-12">
                         <div class="form-group">							     
				              <label asp-for="Total" class="col-md-2 control-label"></label>							            
							  <kendo-numerictextbox name="Total"
                                  format="n2"
                                  min="0"
                                  max="999999999"
                                  step="1"
                                  value="Model.Total">
						     </kendo-numerictextbox>					
							  <span asp-validation-for="Total" class="text-danger"></span>		
			              </div>
	   			        </div>
					 
					 
					</div>
					  <div class="row">                     
                       <button type="submit">Guardar</button>
                    </div>
               </form>
			</div>	
		</div>
	</div>
</div>	