@model ERPMVC.Models.Insurances

<script src="~/admp/assets/plugins/dropify/dist/js/dropify.min.js"></script>

<link rel="stylesheet" href="~/admp/assets/plugins/dropify/dist/css/dropify.min.css">

<script>
    $(document).ready(function () {

    });
    //SaveInsurancesDocument
    function SaveInsurancesDocument(e) {
        //var formdata = new FormData($('#CustomerDocument').get(0));

        var dataObject = {
            'InsurancesId': $("#InsurancesId").val(),
            'InsurancesName': $("#InsurancesName").val(),
            'DocumentTypeId': $("#DocumentTypeId").val(),
            'DocumentTypeName': $("#DocumentTypeId").data("kendoDropDownList").text(),
            //'DocumentName': $("#DocumentName").val(),
            // 'Path': $("#Path").val(),
            //'FechaCreacion': $("#FechaCreacion").val(),
            //'FechaModificacion': $("#FechaModificacion").val(),
            //'UsuarioCreacion': $("#UsuarioCreacion").val(),
            //'UsuarioModificacion': $("#UsuarioModificacion").val()
        };

        e.data = dataObject;

           @*$.ajax({
            url: '@Url.Action("SaveCustomerDocument", "CustomerDocument")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
               async: false,
               data: formdata,
               success: function (result) {
                   //console.log(result);
                   //debugger;
                   $("#ConditionView").html('');
                   $("#ConditionView").html(result);

            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
         });*@
    }
    function RefrescarGrid() {
        var grid = $("#gridInsurancesDocument").getKendoGrid();
        grid.dataSource.read();
    }

    function closeInsurancesDocument() {
        //$('#myModalCustomerAuthorizedSignature').find(':input').not(':submit').val('0');
        //   RefreshGridCustomerAuthorizedSignature();
        RefrescarGrid();
        $("#myModalInsurancesDocumentUpload").modal('hide');
    }
    function DocumentTypeN() {
        if ($("#DocumentTypeId").data("kendoDropDownList").value() == 0) {
            //$("#files").data("kendoUpload").disable();
            $("#DocumentTypeName").val("");
        }
        else {
            //$("#files").data("kendoUpload").enable();
            var TipoDocumento = $("#DocumentTypeId").data("kendoDropDownList").text()
            $("#DocumentTypeName").val(TipoDocumento);
        }
    }
    $("#InsurancesName").keyup(function (e) {
        if ($("#DocumentTypeId").data("kendoDropDownList").value() == 0 || $("#InsurancesName").val() == "") {
            //$("#files").data("kendoUpload").disable();
        }
        else {
            //$("#files").data("kendoUpload").enable();
        }
    });

    var onBegin = function () {
        //alert("Begin");

    };

    var onComplete = function () {
        //alert("Complete");
        //$('#ModalEmployees').modal('hide');
    };

    var onSuccess = function (context) {
        //alert(context);
        console.log(context);
        $.toast({
            heading: 'Satisfactorio',
            text: '<br/><br/> Datos guardados correctamente.',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'success',
            hideAfter: 30000,
            stack: 6
        });

        RefrescarGrid();
        $('#myModalInsurancesDocumentUpload').modal('hide');
    };

    var onFailed = function (context) {
        // alert(context);
        console.log(context);
        if (context.responseText == "Ya existe una Aseguradora registrada con ese nombre.") {
            $.toast({
                heading: 'Error',
                text: '<br/><br/> Ya existe una Aseguradora registrada con ese nombre.',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 30000,
                stack: 6
            });
        }
        else if (context.responseText == "Seleccione una Imagen.") {
            $.toast({
                heading: 'Error',
                text: '<br/><br/> Seleccione una Imagen.',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 30000,
                stack: 6
            });
        }
        else if (context.responseText == "Extensión de Imagen no válida.") {
            $.toast({
                heading: 'Error',
                text: '<br/><br/> Extensión de Imagen no válida.',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 30000,
                stack: 6
            });
        }
            
        else {
            $.toast({
                heading: 'Error',
                text: '<br/><br/> Error al Crear la Aseguradora.',
                position: 'top-right',
                loaderBg: '#ff6849',
                icon: 'error',
                hideAfter: 30000,
                stack: 6
            });
        }
    };
</script>


<div id="myModalInsurancesDocumentUpload" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Aseguradora</h4>
                <button type="button" class="close" onclick="closeInsurancesDocument();">&times;</button>
                
            </div>
            <div class="modal-body">
                <div class="box">
                    Extensiones Permitidas: .jpg, .jpeg, .png y .gif
                </div>

                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">

                            @*data-ajax-method="post"
                                method="post"
                                data-ajax-begin="return SaveCustomerDocument();"
                                data-ajax="true"*@

                            <div class="card-body">
                                <form id="InsuracesDocument" kendo-validator="true" asp-action="SaveInsurancesDocument" asp-controller="Insurances"
                                      data-ajax="true"
                                      data-ajax-method="post" enctype="multipart/form-data"
                                      data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                                      data-ajax-failure="onFailed" data-ajax-success="onSuccess">

                                    <div class="row">
                                        <div class="col-md-4" hidden="hidden">
                                            <input type="text" name="InsurancesId" hidden="hidden" asp-for="InsurancesId" class="form-control" style="min-width:100%" />
                                            <label asp-for="DocumentTypeId" class="control-label" style="width:100%"></label>
                                            <kendo-dropdownlist name="DocumentTypeId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                for="DocumentTypeId"
                                                                datatextfield="Nombre"
                                                                datavaluefield="Id"
                                                                auto-bind="true"
                                                                onchange="DocumentTypeN();"
                                                                data-val-required="El Tipo de Documento es requerido."
                                                                style="width: 100%;">
                                                <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                    <transport>
                                                        <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion", new {Id = 19 })" />
                                                    </transport>
                                                </datasource>

                                            </kendo-dropdownlist>
                                            <span asp-validation-for="DocumentTypeId" class="text-danger"></span>
                                        </div>

                                        <input type="text" hidden="hidden" name="DocumentTypeName" asp-for="DocumentTypeName" class="form-control" style="min-width:100%" />

                                        <div class="col-md-4">
                                            <label asp-for="InsurancesName" class="control-label" style="width:100%"></label>
                                            <input type="text" name="InsurancesName" data-val-required="El Nombre de la Aseguradora es requerido." class="form-control" style="min-width:100%" asp-for="InsurancesName" />
                                        </div>
                                        <div class="col-md-4" hidden>
                                            <div class="form-group">
                                                @(Html.Kendo().Upload()
                                                                            .Name("file")
                                                                            .HtmlAttributes(new { aria_label = "Foto Empleado" })
                                                )
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="card-title">Imagen de Aseguradora</h4>
                                                    @if (Model.Path != null)
                                                    {
                                                        <input type="file" id="files" asp-for="Path" name="files" class="dropify" data-max-file-size="2M" accept=".jpg,.jpeg,.png,.gif" data-default-file="../Insurances/@Model.Path.Split("/").Last()" />
                                                    }
                                                    else
                                                    {
                                                        <input type="file" id="files" asp-for="Path" name="files" class="dropify" data-max-file-size="2M" accept=".jpg,.jpeg,.png,.gif" />
                                                    }
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <div class="col-md-12">
                                            <button id="btnInsuranceDocument" class="form-control btn-miboton" type="submit"> Guardar </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnInsuranceDocument").click(function (event) {
            debugger;
            if ($("#DocumentTypeId").data("kendoDropDownList").value() == 0) {
                $.toast({
                    heading: 'Error',
                    text: '<br/><br/> Seleccione el Tipo de Documento',
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'error',
                    hideAfter: 30000,
                    stack: 6
                });

                return false;
            }
            else {
                return true;
            }
        });

        // Basic
        $('.dropify-std').dropify();

        // Translated
        $('.dropify').dropify({
            messages: {
                default: 'Arrastre un archivo de Imagen o click para cargar archivo',
                replace: 'Click para Reemplazar',
                remove: 'Quitar',
                error: 'Error'

            }
        });

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function (event, element) {
            return confirm("Esta seguro que desea eliminar el archivo \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function (event, element) {
            alert('Archivo eliminado');
        });

        drEvent.on('dropify.errors', function (event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function (e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
</script>