@using Kendo.Mvc.UI

<script>

</script>


    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cierre Contable Manual</h4>
            </div>
            <div class="modal-body">
                    <div class="col-lg-12">                                                
                           <div class="row">
                                 <div class="col-md-4">
                                      <div class="form-group">
                                          <label style="width:100%">Fecha</label>
                                          <kendo-datetimepicker name="Date" style="width: 100%;"
                                                                  format="dd/MM/yyyy hh:mm:ss"
                                                                  time-format="hh:mm:ss"
                                                                  data-val-required="La fecha es requerida"
                                                                  disabled="disabled"></kendo-datetimepicker>
                                          <span class="text-danger k-invalid-msg" data-for="Date"></span>
                                       </div>
                                 </div>
                                 <div class="col-md-4">
                                     <div class="form-group">
                                       <label style="width:100%"></label>
                                       <button type="button" id="Cierre" class="form-control btn-miboton">Ejecutar</button>
                                     </div>
                                  </div>
                          </div>                                                                           
                    </div>
            </div>
        </div>
    </div>
