@model ERPMVC.DTO.JournalEntryDTO



@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "JournalEntryId" && input.val() === "0") {
            return false;
        }

    }

    //$('#btnprueba').val("");
</script>



<div id="ModalJournalEntry" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Movimiento Financiero</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmBranch" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveJournalEntry"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Movimiento Financiero</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="JournalEntryId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="JournalEntryId" name="JournalEntryId" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="JournalEntryId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PartyId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="PartyId" name="PartyId" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="PartyId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="VoucherType" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="VoucherType" name="VoucherType" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="VoucherType" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Date"></label>
                                                    <kendo-datetimepicker for="Date" />
                                                    <span asp-validation-for="Date" class="text-danger k-invalid-msg" data-for="Date"></span>

                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Memo"></label>
                                                    <input asp-for="Memo" class="k-textbox" />
                                                    <span asp-validation-for="Memo" class="text-danger k-invalid-msg" data-for="Memo"></span>

                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdPaymentCode" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IdPaymentCode" name="IdPaymentCode" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="IdPaymentCode" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdTypeofPayment" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IdTypeofPayment" name="IdTypeofPayment" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="IdTypeofPayment" class="text-danger"></span>
                                                </div>
                                            </div>

                                            
                                        </div>

                                        
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnJournalEntry" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function RefrescarGrid() {

        var grid = $("#gridNumeracionJournalEntry").getKendoGrid();
        grid.dataSource.read();
    }
    function SaveBranch(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
        $("#btnJournalEntry").hide();
        $("#btnJournalEntry").prop("disabled", true);

        var displayedData = $("#gridNumeracionJournalEntry").data().kendoGrid.dataSource.view();

        var dataObject = {
            'JournalEntryId': $("#JournalEntryId").val() === "" ? "0" : $("#JournalEntryId").val(),
                           'BranchName': $("#BranchName").val(),
                           'Memo': $("#Memo").val(),
            'IdPaymentCode': $("#IdPaymentCode").val(),
            'IdTypeofPayment': $("#IdTypeofPayment").val(),
                           'City': $("#City").val(),
                           'Description': $("#Description").val(),
                           'State': $("#State").val(),
                           'ZipCode': $("#ZipCode").val(),
                           'Phone': $("#Phone").val(),
                           'Email': $("#Email").val(),
                           'ContactPerson': $("#ContactPerson").val(),
                           'IdEstado': $("#IdEstado").val(),
                           'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                           'FechaCreacion': $("#FechaCreacion").val(),
                           'FechaModificacion':$("#FechaModificacion").val(),
                           'UsuarioCreacion':$("#UsuarioCreacion").val(),
                           'UsuarioModificacion':$("#UsuarioModificacion").val(),
                           '_Brach': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmJournalEntry").data("kendoValidator");
                 var status = $(".status");


                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveJournalEntry", "JournalEntry")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalJournalEntry').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


        $("#btnJournalEntry").show();
        $("#btnJournalEntry").prop("disabled", false);
    }
</script>

