@model ERPMVC.Models.Employees

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                {"required","Valor requerido" }
                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<div id="ModalEmpleado" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Información Empleado</h4>
            </div>
            <div class="modal-body">
                <!-- Contenido -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h3 id="titulo">Editar</h3>
                            <hr />
                            <!-- -->
                            <div class="row">
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label asp-for="NombreEmpleado" class="control-label" style="width:100%">Nombre Completo</label>
                                        <input asp-for="NombreEmpleado" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="NombreEmpleado" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Correo" class="control-label" style="width:100%">Correo</label>
                                        <input asp-for="Correo" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="Correo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label asp-for="IdEstado" class="control-label">Estado: </label>
                                        <kendo-dropdownlist name="IdEstado" for="IdEstado" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            option-label="Seleccionar Estado"
                                                            datatextfield="NombreEstado"
                                                            datavaluefield="IdEstado"
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                <transport>
                                                    <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="IdEstado" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <!--  -->
                            <h5>Información General</h5>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Userid" class="control-label" style="width:100%">Usuario</label>
                                        <input asp-for="Userid" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="Userid" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="NombreDepartamento" class="control-label" style="width:100%">Departamento</label>
                                        <input asp-for="NombreDepartamento" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="NombreDepartamento" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="NombrePuesto" class="control-label" style="width:100%">Puesto</label>
                                        <input asp-for="NombrePuesto" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="NombrePuesto" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="NombreSucursal" class="control-label" style="width:100%">Sucursal</label>
                                        <input asp-for="NombreSucursal" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="NombreSucursal" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <!--  -->
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="IdTipoContrato" class="control-label" style="width:100%">Tipo de Contrato</label>
                                        <input asp-for="IdTipoContrato" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="IdTipoContrato" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="MonedaSalario" class="control-label" style="width:100%">Moneda Salario</label>
                                        <input asp-for="MonedaSalario" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="MonedaSalario" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Salario" class="control-label" style="width:100%">Salario</label>
                                        <input asp-for="Salario" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="Salario" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Idsescalas" class="control-label" style="width:100%">Escala</label>
                                        <input asp-for="Idsescalas" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="Idsescalas" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>

                            <!--  -->
                            <h5>Información de Contacto</h5>
                            <hr />
                            <div class="row">
                                <div class="col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Ciudad" class="control-label" style="width:100%">Ciudad</label>
                                        <input asp-for="Ciudad" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="Ciudad" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Direccion" class="control-label" style="width:100%">Dirección</label>
                                        <input asp-for="Direccion" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="Direccion" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Telefono" class="control-label" style="width:100%">Teléfono</label>
                                        <input asp-for="Telefono" class="form-control" style="min-width: 100% !important;" required />
                                        <span asp-validation-for="Telefono" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row" id="btnGuardarEmp">
                        <div class="col-12">
                            <button type="submit" class="form-control btn-miboton " onclick="GuardarEmpleado();">Guardar</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>