@using Kendo.Mvc.UI
@{
    var editable = (int)ViewData["Editar"] != 1;
    var codigoEmpleado = (long) ViewData["CodigoEmpleado"];
    var nombreEmpleado = (string) ViewData["NombreEmpleado"];
}
<div id="DeduccionEmpleadoModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CerrarDeduccionEmpleado();">&times;</button>
                <h4 class="modal-title">Deducciones Empleado</h4>
            </div>

            <div class="modal-body" kendo-validator="true" name="mdlCuerpo">

            </div>
        </div>
    </div>
</div>
<span id="notificacion"></span>

<script>

    $(document).ready(function () {
        
    });

    function CerrarDeduccionEmpleado() {
        window.RefreshDeduccionEmpleado();
        $("#DeduccionEmpleadoModal").modal('hide');
    }

    function Guardar(e) {
        
    }
</script>