@using Kendo.Mvc.UI
@{
    var editable = (int)ViewData["Editar"] != 1;
    var codigoEmpleado = (long) ViewData["CodigoEmpleado"];
    var nombreEmpleado = (string) ViewData["NombreEmpleado"];
}
<div id="DeduccionEmpleadoModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CerrarDeduccionEmpleado();">&times;</button>
                <h4 class="modal-title">Deducciones Empleado</h4>
            </div>

            <div class="modal-body" kendo-validator="true" name="mdlCuerpo">
                <div id="grdDeduccionesEmpleado"></div>
            </div>
        </div>
    </div>
</div>
<span id="notificacion"></span>

<script>

    $(document).ready(function () {
        CrearGrid();
    });

    function CrearGrid() {
        $("#grdDeduccionesEmpleado").kendoGrid({
            dataSource: {
                type:"WebApi",
                transport: {
                    read:"@Url.Action("GetDeducciones", "TipoDeduccion")"
                },
                schema: {
                    model: {
                        fields: {
                            DeductionId: { name: "DeductionId", type: "number", editable: false },
                            Description: { name: "Description", type: "string", editable: false },
                            DeductionType: { name: "DeductionType", type: "string", editable: false },
                            Formula: { name: "Formula", type: "number", editable: false },
                            Fortnight: { name: "Fortnight", type: "number", editable: false }
                        }
                    }
                }
            },
            toolbar: [
                { template: '<a class="k-button" href="\\#" onclick="return agregar_click()">Agregar</a>' }
            ],
            columns: [
                {
                    command: [
                        { name: "editar", click: editar_click, iconClass: "fa fa-edit", text:"" },
                        { name: "detalle", click: detalle_click, iconClass: "fa fa-list-alt", text:"" }
                    ],
                    width:100
                },
                { field: "DeductionId", title: "Id. ", width: 80 },
                { field: "Description", title: "Descripción", width: 200},
                { field: "DeductionType", title: "Tipo", width: 100 },
                { field: "Formula", title: "Formula/Valor", width: 100 },
                { field: "Fortnight", title: "Quincena a aplicar", width: 100 }
            ],
            height: 400,
            scrollable: true,
            editable: false
        });
    }

    function CerrarDeduccionEmpleado() {
        debugger;
        window.RefreshDeduccionEmpleado();
        $("#DeduccionEmpleadoModal").modal('hide');
    }

    function Guardar(e) {
        
    }
</script>