@model ERPMVC.DTO.FormulasConFormulasDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
            {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "IdFormulaconformulas" && input.val() === "0") {
                return false;
            }

        }
    //function TipoFormulasConFormulas() {
    //    return { Id: 24 };
    //} 
        //$('#btnprueba').val("");
</script>



<div id="ModalFormulasConFormulas" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fórmulas Con Fórmulas</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmFormulasConFormulas" kendo-validator="true" kendo-messages="messages"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveFormulasConFormulas"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Fórmulas Con Fórmulas</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">

                                                <div class="form-group">
                                                    <label asp-for="IdFormulaconformula" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IdFormulaconformula" name="IdFormulaconformula" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="IdFormulaconformula" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdFormula" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdFormula"
                                                                        for="IdFormula"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Formula"
                                                                        datatextfield="NombreFormula"
                                                                        datavaluefield="IdFormula"
                                                                        required
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Formula")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NombreFormulachild" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="NombreFormulachild" name="NombreFormulachild" class="form-control" autocomplete="off" style="min-width:100%" required />
                                                    <span asp-validation-for="NombreFormulachild" class="text-danger"></span>
                                                </div>
                                                @*<div class="form-group">
            <label asp-for="IdFormulachild" class=" control-label" style="width:100%"></label>
            <input type="text" asp-for="IdFormulachild" name="IdFormulasConFormulaschild" class="form-control" autocomplete="off" style="min-width:100%"  required/>
            <span asp-validation-for="IdFormulachild" class="text-danger"></span>
        </div>*@
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="EstructuraConcepto" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="EstructuraConcepto" name="EstructuraConcepto" class="form-control" autocomplete="off" style="min-width:100%" required/>
                                                    <span asp-validation-for="EstructuraConcepto" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnFormulasConFormulas" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SaveFormulasConFormulas(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnFormulasConFormulas").hide();
            $("#btnFormulasConFormulas").prop("disabled", true);

            var displayedData = $("#gridFormulasConFormulas").data().kendoGrid.dataSource.view();

        var dataObject = {
            'IdFormulaconformula': $("#IdFormulaconformula").val() === "" ? "0" : $("#IdFormulaconformula").val(),
            'IdFormula': $("#IdFormula").val(),
            //'CalculoFormulasConFormulas': $("#CalculoFormulasConFormulas").val(),
            //'IdFormulachild': $("#IdFormulachild").val(),
            'NombreFormulachild': $("#NombreFormulachild").val(),
            //'NombreFormulachild': $("#IdFormulachild").data("kendoDropDownList").text(),
            'EstructuraConcepto': $("#EstructuraConcepto").val(),
            //'NombreTipoFormulasConFormulas': $("#IdTipoFormulasConFormulas").data("kendoDropDownList").text(),
        };
 

        var validator = $("#frmFormulasConFormulas").data("kendoValidator");
                 var status = $(".status");

                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveFormulasConFormulas", "FormulasConFormulas")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 3000,
                                stack: 6
                            });

                            RefreshGrIdFormulaconformula();

                            $('#ModalFormulasConFormulas').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


            $("#btnFormulasConFormulas").show();
            $("#btnFormulasConFormulas").prop("disabled", false);
    }
</script>
