
@using Syncfusion.JavaScript

<div style=" align-items:center; height:825px;width: 100%;">
    <ej-report-viewer id="reportviewer1" rendering-begin="renderingBegin" report-print="onPrintReport" processing-mode="Remote" locale="es-ES"
report-service-url="/ReportViewer"  report-loaded="onReportLoaded" report-path="/ReportsTemplate/AreasOcupadas.rdl" />

</div>


<script type="text/javascript">
        $(function () {
            $("#reportviewer1").ejReportViewer(
                {
                    exportSettings: { exportOptions:ej.ReportViewer.ExportOptions.Excel }
                });
        });
</script>


<ej-script-manager></ej-script-manager>