<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>A</b>LT</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg"><b>ERP-Bi</b></span>
    </a>
    @* END Logo *@
    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
  
  
                @* BEGIN User Account Menu *@
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/images/bi.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">Bi-Dss</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/images/bi.jpg" class="img-circle" alt="User Image">

                            <p>
                                Gold
                                <small>Microsoft Partner</small>
                            </p>
                            
                               <form  asp-controller="Account" asp-action="Logout" method="get" id="logoutForm">
                                    <div class="pull-right">
                                        <button type="submit" class="btn btn-default btn-flat">Salir</button>
                                    </div>
                                </form>
                           
                        </li>
                        <li></li>
 
                    </ul>
                </li>
                @* END User Account Menu *@
 
            </ul>
        </div>
    </nav>
</header>