<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile image -->
            <div class="profile-img">
                <img src="~/admp/assets/images/users/profile.png" alt="user" />
                <!-- this is blinking heartbit-->
                <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
            </div>
            <!-- User profile text-->
            <div class="profile-text">
                <h5>Almacafe</h5>
                <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="mdi mdi-settings"></i></a>
                <a href="app-email.html" class="" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
                <a href="pages-login.html" class="" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
                <div class="dropdown-menu animated flipInY">
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                    <!-- text-->
                    <div class="dropdown-divider"></div>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                    <!-- text-->
                    <div class="dropdown-divider"></div>
                    <!-- text-->
                    <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                    <!-- text-->
                </div>
            </div>
        </div>

        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-small-cap">Administración</li>
                <li policy="Admin">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Administración <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li><a asp-action="Estados" asp-controller="Estados" policy="Admin">Estados</a></li>
                        <li><a asp-action="UnitOfMeasure" asp-controller="UnitOfMeasure" policy="Admin"><i class="fa fa-pencil-ruler"></i> Unidades de medida</a></li>
                        <li><a asp-action="Brach" asp-controller="Branch" policy="Admin"><i class="fa fa-code-branch"></i> Sucursales</a></li>
                        <li><a asp-action="Index" asp-controller="CAI" policy="Admin"><i class="fa fa-question-square"></i> CAI</a></li>
                        <li><a asp-action="Index" asp-controller="PuntoEmision" policy="Admin"><i class="fa fa-map-marker-exclamation"></i> Puntos Emision</a></li>
                        <li><a asp-action="TiposDocumento" asp-controller="TiposDocumento" policy="Admin"><i class="fa fa-file-alt"></i> Tipos de documentos</a></li>
                        <li><a asp-action="NumeracionSAR" asp-controller="NumeracionSAR" policy="Admin"><i class="fa fa-sort-numeric-down"></i> Numeracion SAR</a></li>
                        <li><a asp-action="Currency" asp-controller="Currency" policy="Admin">Moneda</a></li>
                        <li><a asp-action="CustomerType" asp-controller="CustomerType" policy="Admin">Tipo de Empleado</a></li>


                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-security"></i><span class="hide-menu">Seguridad</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Usuarios" asp-controller="Usuario" policy="Admin"><i class="fa fa-users-cog"></i> Usuarios</a></li>
                        <li><a asp-action="Roles" asp-controller="Roles" policy="Admin"><i class="fa fa-user-tag"></i> Roles</a></li>
                        <li><a asp-action="UserRol" asp-controller="UserRol" policy="Admin"><i class="fa fa-user-tag"></i> Roles por usuario</a></li>
                        <li><a asp-action="Policy" asp-controller="Policy" policy="Admin"><i class="fa fa-users-cog"></i> Politicas</a></li>
                        <li><a asp-action="PolicyRoles" asp-controller="PolicyRoles" policy="Admin"><i class="fa fa-users-cog"></i> Roles Politicas</a></li>
                        <li><a asp-action="UserClaim" asp-controller="UserClaim" policy="Admin"><i class="fa fa-question-square"></i> User Claims</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cash"></i><span class="hide-menu">Bancos</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Bank" asp-controller="Bank" policy="Admin">Bancos</a></li>
                        <li>@Html.ActionLink("Cheques", "Index", "Cheques")</li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Clientes</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li>@Html.ActionLink("Datos de Clientes", "Index", "Customer")</li>
                        <li><a asp-action="BlackListCustomers" asp-controller="BlackListCustomers" policy="Admin"><i class="fa fa-users-cog"></i>Lista Negra de Clientes</a></li>
                        <li><a asp-action="PEPS" asp-controller="PEPS" policy="Admin"><i class="fa fa-users-cog"></i> PEPS</a></li>

                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cash"></i><span class="hide-menu">Ventas</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Index" asp-controller="SalesOrder"><i class="fa fa-file-alt"></i> Cotizaciones</a></li>
                        <li><a asp-action="Index" asp-controller="ProformaInvoice"><i class="fa fa-file-alt"></i> Factura proforma</a></li>

                        @* <li><a asp-action="ReplaceTest" asp-controller="CustomerContracts"><i class="fa fa-file-alt"></i>Test Word Template</a></li>*@
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-stocking"></i><span class="hide-menu"> Inventarios</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Index" asp-controller="ControlPallets"><i class="fa fa-file-alt"></i> Control de ingresos</a></li>
                        <li><a asp-action="Index" asp-controller="GoodsReceived"><i class="fa fa-file-alt"></i> Recibo de mercaderias</a></li>
                        <li><a asp-action="Index" asp-controller="GoodsDeliveryAuthorization"><i class="fa fa-file-alt"></i> Autorizacion de Entrega de mercaderia</a></li>
                        <li><a asp-action="Index" asp-controller="GoodsDelivered"><i class="fa fa-file-alt"></i> Entrega de mercaderia</a></li>
                        <li><a asp-action="Index" asp-controller="Kardex"><i class="fa fa-file-alt"></i> Kardex</a></li>
                        <li><a asp-action="Index" asp-controller="CertificadoDeposito"><i class="fa fa-file-alt"></i> Certificado de depósito</a></li>
                        <li><a asp-action="Index" asp-controller="SolicitudCertificadoDeposito"><i class="fa fa-file-alt"></i> Solicitud Certificado de depósito</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-circle"></i><span class="hide-menu"> Recursos Humanos</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li>@Html.ActionLink("Datos de Empleados", "Index", "Empleados")</li>
                        <li><a href="#">Planilla de Sueldos</a></li>
                        <li><a href="#">Deducciones</a></li>
                        <li><a href="#">Deptos. de Empleados</a></li>
                        <li><a href="#">Libros Sueldos y Salarios</a></li>
                        <li><a href="#">Boleta de Pagos</a></li>
                        <li><a href="#">Imprimir Planilla</a></li>
                        <li>@Html.ActionLink("Catálogos", "Index", "CataPersonal")</li>
                        <li><a href="#">Reportes</a></li>
                    </ul>
                </li>

            </ul>
         </nav>

    </div>
</aside>
