<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <nav class="sidebar-nav ">
            
            <ul id="sidebarnav">

                <li class="nav-devider"></li>
                <li permiso="Administracion">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Administración </span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li permiso="Administracion.Estados"><a asp-action="Estados" asp-controller="Estados"><i class="fa fa-thermometer-quarter"></i> Estados</a></li>
                        <li permiso="Administracion.Unidades de Medida"><a asp-action="UnitOfMeasure" asp-controller="UnitOfMeasure"><i class="fa fa-pencil-ruler"></i> Unidades de medida</a></li>
                        <li permiso="Administracion.Sucursales"><a asp-action="Brach" asp-controller="Branch"><i class="fa fa-code-branch"></i> Sucursales</a></li>
                        <li permiso="Administracion.CAI"><a asp-action="Index" asp-controller="CAI"><i class="fa fa-question-square"></i> CAI</a></li>
                        <li permiso="Administracion.Puntos Emision"><a asp-action="Index" asp-controller="PuntoEmision"><i class="fa fa-map-marker-exclamation"></i> Puntos Emisión</a></li>
                        <li permiso="Administracion.Tipos de Documentos"><a asp-action="TiposDocumento" asp-controller="TiposDocumento"><i class="fa fa-file-alt"></i> Tipos de Documentos Fiscales</a></li>
                        <li permiso="Administracion.Numeracion SAR"><a asp-action="NumeracionSAR" asp-controller="NumeracionSAR"><i class="fa fa-sort-numeric-down"></i> Numeración SAR</a></li>
                        <li permiso="Administracion.Moneda"><a asp-action="Currency" asp-controller="Currency"><i class="fa fa-euro-sign"></i> Moneda</a></li>
                        <li permiso="Administracion.PrecioCafe"><a asp-action="PrecioCafe" asp-controller="PrecioCafes"><i class="fas fa-dollar-sign"></i> Precio Café</a></li>


                    </ul>
                </li>
                <li permiso="Configuracion">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-settings "></i><span class="hide-menu"> Configuración</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li permiso="Configuracion.Elemento Configuracion"><a asp-action="ElementoConfiguracion" asp-controller="ElementoConfiguracion"><i class="fa fa-wrench"></i> Elemento Configuración</a></li>
                        <li permiso="Configuracion.Pais"><a asp-action="Country" asp-controller="Country"><i class="fa fa-globe-americas"></i> País</a></li>
                        <li permiso="Configuracion.Depto"><a asp-action="State" asp-controller="State"><i class="fa fa-road"></i> Departamento</a></li>
                        <li permiso="Configuracion.Ciudad"><a asp-action="City" asp-controller="City"><i class="fa fa-building"></i> Ciudad</a></li>

                        <li permiso="Configuracion.Escala"><a asp-action="Escala" asp-controller="Escala"><i class="fa fa-layer-group"></i> Escala</a></li>
                        <li permiso="Configuracion.Informacion de la Empresa"><a asp-action="CompanyInfo" asp-controller="CompanyInfo"><i class="fa fa-building"></i> Información de la empresa</a></li>
                        <li permiso="Configuracion.Impuestos"><a asp-action="Tax" asp-controller="Tax"><i class="fa fa-layer-group"></i> Impuestos</a></li>
                        <li permiso="Configuracion.Tasa de Cambio"><a asp-action="ExchangeRate" asp-controller="ExchangeRate"><i class="fas fa-dollar-sign"></i>  Tasa de cambio</a></li>
                    </ul>
                </li>
                <li permiso="Seguridad">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-security"></i><span class="hide-menu">Seguridad</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li permiso="Seguridad.Usuarios"><a asp-action="Usuarios" asp-controller="Usuario"><i class="fa fa-users-cog"></i> Usuarios</a></li>
                        <li permiso="Seguridad.Roles"><a asp-action="Roles" asp-controller="Roles"><i class="fa fa-user-tag"></i> Roles</a></li>
                        <li permiso="Seguridad.Roles por Usuario"><a asp-action="UserRol" asp-controller="UserRol"><i class="fa fa-user-tag"></i> Roles por usuario</a></li>
                        <li permiso="Seguridad.Permiso Roles"><a asp-action="PermisosRoles" asp-controller="Roles"><i class="fa fa-user-tag"></i> Permisos por Rol</a></li>
                        <li permiso="Seguridad.Sucursales por Usuario"><a asp-action="UserBranch" asp-controller="UserBranch"><i class="fa fa-user-tag"></i> Sucursales por Usuario</a></li>
                    </ul>
                </li>
                <li permiso="Catalogos">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-keyboard-close"></i><span class="hide-menu">Catálogos</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li permiso="Catalogos.Servicios"><a asp-action="Product" asp-controller="Product"><i class="fa fa-archive"></i> Servicios</a></li>
                        <li permiso="Catalogos.SubServicios"><a asp-action="SubProductPropios" asp-controller="SubProduct"><i class="fa fa-box-open"></i> SubServicios </a></li>
                        <li permiso="Catalogos.Tipo de Producto"><a asp-action="ProductType" asp-controller="ProductType"><i class="fa fa-box-open"></i> Tipo de producto</a></li>
                        <li permiso="Catalogos.Productos de Cliente"><a asp-action="SubProductClientes" asp-controller="SubProduct"><i class="fa fa-box-open"></i> Productos de clientes</a></li>
                        <li permiso="Catalogos.Relacion Servicio"><a asp-action="ProductRelation" asp-controller="ProductRelation"><i class="fa fa-boxes"></i> Relación Servicio</a></li>
                    </ul>
                </li>
               
                    <li permiso="Bancos">
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cash"></i><span class="hide-menu">Bancos</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li permiso="Bancos.Bancos"><a asp-action="Bank" asp-controller="Bank"><i class="fa fa-money-check"></i> Bancos</a></li>
                            <li permiso="Bancos.Cuentas Bancarias"><a asp-action="Index" asp-controller="AccountManagement"><i class="fa fa-credit-card"></i> Cuentas Bancarias</a></li>
                            <li permiso="Bancos.Transferencias"><a asp-action="Index" asp-controller="BankAccountTransfers"><i class="fa fa-credit-card"></i> Transferencias</a></li>
                            <li permiso="Bancos.Cheques"><a asp-action="Index" asp-controller="CheckAccount"><i class="fa fa-money-check-alt"></i> Chequeras</a></li>
                            <li permiso="Bancos.Conciliacion Bancaria"><a asp-action="Conciliacion" asp-controller="Conciliacion"><i class="fa fa-handshake"></i> Conciliación Bancaria</a></li>
                        </ul>
                    </li>
                
                <li permiso="Presupuesto">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-calculator"></i><span class="hide-menu">Presupuesto</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li permiso="Presupuesto.Presupuesto"><a asp-action="Presupuesto" asp-controller="Presupuesto"><i class="fa fa-fa fa-calculator"></i>Presupuesto</a></li>
                        <li permiso="Presupuesto.Periodo"><a asp-action="Periodo" asp-controller="Periodo"><i class="fa fa-calendar"></i>Periodo</a></li>
                    </ul>
                </li>
               
                    <li permiso="Contabilidad">
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-scale-balance"></i><span class="hide-menu"> Contabilidad</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li permiso="Contabilidad.Activos">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-scale-balance"></i><span class="hide-menu"> Activos</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li permiso="Contabilidad.Activos.Grupo de Activos"><a asp-action="FixedAssetGroup" asp-controller="FixedAssetGroup"><i class="fa fa-flag"></i> Grupo de Activos</a></li>
                                </ul>
                                <ul aria-expanded="false" class="collapse">
                                    <li permiso="Contabilidad.Activos.Activos Fijos"><a asp-action="FixedAsset" asp-controller="FixedAsset"><i class="fa fa-car-crash"></i> Activos Fijos</a></li>
                                </ul>
                            </li>
                            <li permiso="Contabilidad.Cuentas">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file-chart"></i><span class="hide-menu"> Cuentas</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li permiso="Contabilidad.Cuentas.Catalogo de Cuentas"><a asp-action="Index" asp-controller="Accounting"><i class="fas fa-university"></i>  Catálogo de Cuentas</a></li>
                                    <li permiso="Contabilidad.Cuentas.Tipos de Cuentas"><a asp-action="TypeAccount" asp-controller="TypeAccount"><i class="fas fa-columns"></i>  Tipos de Cuentas</a></li>
                                </ul>
                            </li>
                            <li permiso="Contabilidad.Movimientos">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file-chart"></i><span class="hide-menu"> Movimientos</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li permiso="Contabilidad.Movimientos.Configuracion de Asientos"><a asp-action="Index" asp-controller="JournalEntryConfiguration"><i class="fas fa-pallet"></i>  Configuración de Asientos</a></li>
                                    <li permiso="Contabilidad.Movimientos.Asiento Contable"><a asp-action="Index" asp-controller="JournalEntry"><i class="fas fa-clipboard-check"></i>  Asiento Contable</a></li>
                                    <li permiso="Contabilidad.Movimientos.Ajustes Contables"><a asp-action="IndexAjustes" asp-controller="JournalEntry"><i class="fas fa-university"></i> Ajustes Contables</a></li>
                                </ul>
                            </li>
                            <li permiso="Contabilidad.Seguros">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fas fa-fire-extinguisher"></i><span class="hide-menu"> Seguros</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li permiso="Contabilidad.Seguros.Aseguradoras"><a asp-action="Insurances" asp-controller="Insurances">Aseguradoras</a></li>
                                    <li permiso="Contabilidad.Seguros.Polizas"><a asp-action="InsurancePolicy" asp-controller="InsurancePolicy">Pólizas</a></li>                                    
                                    <li permiso="Contabilidad.Seguros.Certificados de Seguro"><a asp-action="Index" asp-controller="InsuranceCertificate">Certificados de Seguro</a></li>                                    
                                </ul>
                            </li>


                            <li permiso="Contabilidad.Procesos">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-clipboard"></i><span class="hide-menu"> Procesos</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li permiso="Contabilidad.Procesos.Cierre Contable Manual"><a asp-action="CierreContable" asp-controller="CierreContable"><i class="fa fa-file"></i> Cierre Contable Manual</a></li>
                                    <li permiso="Contabilidad.Procesos.Históricos de consulta del Catalogo Contable"><a asp-action="Index" asp-controller="CierresAccounting"><i class="fas fa-university"></i> Históricos de consulta del Catalogo Contable</a></li>
                                </ul>
                            </li>
                            <li permiso="Contabilidad.Reportes">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file-chart"></i><span class="hide-menu"> Reportes</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li><a asp-action="SFAuxiliarMovimientos" asp-controller="Accounting"><i class="fas fa-pallet"></i>  Histórico de movimientos por cuenta</a></li>
                                    <li><a asp-action="SFAuxiliarMovimientosPorDia" asp-controller="Accounting"><i class="fas fa-pallet"></i>  Histórico de movimientos por cuenta por dia</a></li>
                                    <li><a asp-action="SFMovimientosHistoricos" asp-controller="Accounting"><i class="fas fa-pallet"></i>  Movimientos Históricos</a></li>

                                </ul>
                            </li>
                            <li permiso="Contabilidad.Estados Finacieros">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-scale-balance"></i><span class="hide-menu">Estados Financieros</span></a>
                                <ul aria-expanded="false" class="collapse">
                                    <li permiso="Contabilidad.Estados Finacieros.Balance de Saldos"><a asp-action="BalanceSaldos" asp-controller="BalanceSheet"><i class="fas fa-pallet"></i>  Balance de Saldos </a></li>
                                    <li permiso="Contabilidad.Estados Finacieros.Estado de Resultado"><a asp-action="SFBalance" asp-controller="BalanceSheet"><i class="fas fa-pallet"></i>  Estado de Resultado</a></li>
                                    <li permiso="Contabilidad.Estados Finacieros.Estado de Situacion Financiera"><a asp-action="SFEstadoResultados" asp-controller="ProfitAndLoss"><i class="fas fa-pallet"></i> Estado de Situación Financiera</a></li>
                                    <li permiso="Contabilidad.Estados Finacieros.Cambios Patrimonio"><a asp-action="SFCambiosPatrimonio" asp-controller="Accounting"><i class="fas fa-pallet"></i>  Estado de Cambios en el Patrimonio</a></li>
                                    <li permiso="Contabilidad.Estados Finacieros.Notas Estados Financieros"><a asp-action="SFNotasEstadosFinancieros" asp-controller="ProfitAndLoss"><i class="fas fa-pallet"></i> Notas Estados Financieros</a></li>
                                </ul>
                            </li>
                            <li permiso="Contabilidad.Garantias Bancarias"><a asp-action="Index" asp-controller="GarantiaBancaria"><i class="fas fa-dollar-sign"></i>  Garantías Bancarias</a></li>
                            <li permiso="Contabilidad.Tipos de Documentos"><a asp-action="TypeJournal" asp-controller="TypeJournal"><i class="fas fa-archive"></i>  Tipos de Documentos/Vouchers</a></li>
                            <li permiso="Contabilidad.Centros de Costos"><a asp-action="Index" asp-controller="CostCenter"><i class="fas fa-sitemap"></i>  Centros de Costo</a></li>
                        </ul>
                    </li>
               

                <li permiso="Monitoreo">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-monitor"></i><span class="hide-menu">Monitoreo</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li permiso="Monitoreo.Alertas"><a asp-action="Alerts" asp-controller="Alert"><i class="fa fa-monitor-heart-rate"></i> Alertas</a></li>
                        <li permiso="Monitoreo.Informacion Mediatica"><a asp-action="BlackListCustomers" asp-controller="BlackListCustomers"><i class="fa fa-users-cog"></i> Información mediatica</a></li>
                        <li permiso="Monitoreo.Severidad de Riesgo"><a asp-action="Index" asp-controller="SeveridadRiesgo"><i class="fa fa-monitor-heart-rate"></i> Severidad de Riesgo</a></li>
                        <li permiso="Monitoreo.Riesgo Clientes"><a asp-action="CustomerRisk" asp-controller="Customer"><i class="fa fa-monitor-heart-rate"></i> Riesgo de Clientes</a></li>
                        <li permiso="Monitoreo.MantenimientoImpacto"><a asp-action="MantenimientoImpacto" asp-controller="MantenimientoImpacto"><i class="fa fa-monitor-heart-rate"></i> Impacto</a></li>
                        <li permiso="Monitoreo.Contexto de Riesgos"><a asp-action="Index" asp-controller="ContextoRiesgo"><i class="fas fa-clipboard-check"></i> Contexto de Riesgo</a></li>
                        <li permiso="Monitoreo.Probabilidad de Riesgos"><a asp-action="Index" asp-controller="ProbabilidadRiesgo"><i class="fa fa-sort-numeric-desc"></i> Probabilidad de Riesgos</a></li>
                        <li permiso="Monitoreo.Matriz de Riesgos Clientes"><a asp-action="Index" asp-controller="MatrizRiesgoCustomers"><i class="fa fa-table"></i> Matriz de Riesgos Clientes</a></li>
                        <li permiso="Monitoreo.PEPS"><a asp-action="PEPS" asp-controller="PEPS"><i class="fa fa-users-cog"></i> PEPS</a></li>
                        <li permiso="Monitoreo.Productos Prohibidos"><a asp-action="SubproductProhibidos" asp-controller="SubProduct"><i class="fa fa-ban"></i> Productos prohibidos</a></li>
                        <li permiso="Monitoreo.Paises GAFI"><a asp-action="Country" asp-controller="Alert"><i class="fa fa-ban"></i> Países GAFI </a></li>
                        <li permiso="Monitoreo.Tipo de accion de riesgo"><a asp-action="TipodeAccionesRiesgos" asp-controller="TipodeAccionderiesgo"><i class="fa fa-wrench"></i> Tipo de Acción de Riesgo </a></li>
                        <li permiso="Monitoreo.Resumen de Riesgos por Cliente"><a asp-action="SFResumenRiesgosClientes" asp-controller="MatrizRiesgoCustomers"><i class="mdi mdi-file-chart"></i> Resumen de Riesgos por Clientes </a></li>
                    </ul>
                </li>
                <li permiso="Inventarios">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-clipboard"></i><span class="hide-menu"> Inventarios</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li permiso="Inventarios.Control de Ingresos"><a asp-action="Index" asp-controller="ControlPallets"><i class="fa fa-file-alt"></i> Control de ingresos</a></li>
                        <li permiso="Inventarios.Recibo de Mercaderia"><a asp-action="Index" asp-controller="GoodsReceived"><i class="fa fa-file-alt"></i> Recibo de mercaderias</a></li>
                        <li permiso="Inventarios.Areas Ocupadas Bodega"><a asp-action="Index" asp-controller="CustomerArea"><i class="fa fa-users-cog"></i> Áreas ocupadas en bodega</a></li>
                        <li permiso="Inventarios.Kardex"><a asp-action="Index" asp-controller="Kardex"><i class="fa fa-file-alt"></i> Kardex</a></li>
                        
                            <li permiso="Inventarios.Solicitud Certificado Deposito"><a asp-action="Index" asp-controller="CertificadoDeposito"><i class="fa fa-file-alt"></i> Solicitud/Certificado de depósito</a></li>
                        
                        <li permiso="Inventarios.Autorizacion"><a asp-action="Index" asp-controller="GoodsDeliveryAuthorization"><i class="fa fa-file-alt"></i> Autorización Entrega de Mercaderias</a></li>
                        <li permiso="Inventarios.Control de Salida"><a asp-action="IndexSalida" asp-controller="ControlPallets"><i class="fa fa-file-alt"></i> Control de salidas</a></li>
                        <li permiso="Inventarios.Entrega de Mercaderia"><a asp-action="Index" asp-controller="GoodsDelivered"><i class="fa fa-file-alt"></i> Entrega de mercaderia</a></li>
                        <li permiso="Inventarios.Boleta de Salida"><a asp-action="Index" asp-controller="BoletaDeSalida"><i class="fa fa-file-alt"></i> Boleta de Salida</a></li>
                        <li permiso="Inventarios.Endosos"><a asp-action="Index" asp-controller="EndososCertificados"><i class="fa fa-file-alt"></i> Endosos</a></li>
                    </ul>

                </li>

                <li permiso="Clientes">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu"> Clientes</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li permiso="Clientes.Datos de Clientes"><a asp-action="Index" asp-controller="Customer"><i class="fa fa-address-book"></i> Datos de Clientes</a></li>
                        <li permiso="Administracion.Tipo de Cliente"><a asp-action="CustomerType" asp-controller="CustomerType"><i class="fa fa-text-width"></i> Tipo de Cliente</a></li>
                        <li permiso="Clientes.Reglas de Cobro"><a asp-action="Index" asp-controller="ScheduleSubservices"><i class="fa fa-users-cog"></i> Reglas de cobro</a></li>
                        <li permiso="Clientes.Horas Extra"><a asp-action="Index" asp-controller="EmployeeExtraHours"><i class="fa fa-users-cog"></i> Horas extras empleados</a></li>
                        <li permiso="Clientes.Subservicios Utilizados"><a asp-action="Index" asp-controller="SubServicesWareHouse"><i class="fa fa-users-cog"></i> Subservicios utilizados </a></li>
                    </ul>
                </li>
                
                    <li permiso="Compras">
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cart"></i><span class="hide-menu">Compras</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li permiso="Compras.Factura Proveedores"><a asp-action="Index" asp-controller="VendorInvoice"><i class="fa fa-file-alt"></i>Factura Proveedores</a></li>
                        </ul>
                    </li>
                    <li permiso="Ventas">
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cash"></i><span class="hide-menu">Ventas</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li permiso="Ventas.Cotizaciones"><a asp-action="Index" asp-controller="SalesOrder"><i class="fa fa-file-alt"></i> Cotizaciones</a></li>
                            <li permiso="Ventas.Factura Proforma"><a asp-action="Index" asp-controller="ProformaInvoice"><i class="fa fa-file-alt"></i> Factura proforma</a></li>
                            <li permiso="Ventas.Factura"><a asp-action="Index" asp-controller="Invoice"><i class="fa fa-file-alt"></i> Factura </a></li>
                            <li permiso="Ventas.Nota de Debito"><a asp-action="Index" asp-controller="DebitNote"><i class="fa fa-file-alt"></i> Nota Débito </a></li>
                            <li permiso="Ventas.Nota de Credito"><a asp-action="Index" asp-controller="CreditNote"><i class="fa fa-file-alt"></i> Nota Crédito </a></li>
                        </ul>
                    </li>
           
                    <li permiso="RRHH">
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-circle"></i><span class="hide-menu"> Recursos Humanos</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li permiso="RRHH.Parametros">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-calculator"></i> Parámetros</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li permiso="RRHH.Parametros.Departamento"><a asp-action="Departamento" asp-controller="Departamento"><i class="fa fa-sitemap"></i> Departamento</a></li>
                                    <li permiso="RRHH.Parametros.Puestos"><a asp-action="Puesto" asp-controller="Puesto"><i class="fal fa-sitemap"></i> Puesto</a></li>
                                    <li permiso="RRHH.Parametros.Tipo Contrato"><a asp-action="TipoContrato" asp-controller="TipoContrato"><i class="fa fa-file-contract"></i> Tipo de contrato</a></li>
                                    <li permiso="RRHH.Parametros.Feriados"><a asp-action="Index" asp-controller="Feriado"><i class="fa fa-umbrella-beach"></i> Feriados </a></li>
                                    <li permiso="RRHH.Parametros.Horarios"><a asp-action="Index" asp-controller="Horario"><i class="fa fa-clock"></i> Horarios </a></li>
                                    <li permiso="RRHH.Parametros.Configuracion Planillas"><a asp-action="ConfiguracionPlanilla" asp-controller="ElementoConfiguracion"><i class="fa fa-calculator"></i> Configuración Planillas </a></li>
                                    <li permiso="RRHH.Parametros.Tipos de Deducciones"><a asp-action="Index" asp-controller="TipoDeduccion"><i class="fal fa-minus-octagon"></i> Tipos de Deducciones</a></li>
                                    <li permiso="RRHH.Parametros.Tipos de Bonificaciones"><a asp-action="Index" asp-controller="TipoBonificacion"><i class="fal fa-plus-octagon"></i> Tipos de Bonificaciones</a></li>
                                </ul>
                            </li>
                            <li permiso="RRHH.Asistencia">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-user-check"></i> Asistencia</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li permiso="RRHH.Asistencia.Horario Empleados "><a asp-action="Index" asp-controller="EmpleadoHorario"><i class="fa fa-user-clock"></i> Horario Empleados</a></li>
                                    <li permiso="RRHH.Asistencia.Asignacion Empleados Biometrico"><a asp-action="Index" asp-controller="EmpleadoBiometrico"><i class="fa fa-user-lock"></i> Asignación Empleado Biometrico</a></li>
                                    <li permiso="RRHH.Asistencia.Cargar Archivo Biometrico"><a asp-action="Index" asp-controller="Biometrico"><i class="fa fa-file-check"></i> Cargar Archivo Biometrico</a></li>
                                    <li permiso="RRHH.Asistencia.Aprobar Llegadas Tarde"><a asp-action="Index" asp-controller="LlegadaTarde"><i class="fal fa-user-check"></i> Aprobar Llegadas Tarde</a></li>
                                    <li permiso="RRHH.Asistencia.Aprobar Horas Extra"><a asp-action="Index" asp-controller="HoraExtra"><i class="far fa-user-check"></i> Aprobar Horas Extra</a></li>
                                    <li permiso="RRHH.Asistencia.Aprobar Inasistencias"><a asp-action="Index" asp-controller="Inasistencia"><i class="fa fa-user-check"></i> Aprobar Inasistencias</a></li>
                                    <li permiso="RRHH.Asistencia.Horas Trabajadas"><a asp-action="Index" asp-controller="HoursWorked"><i class="fa fa-users"></i> Horas Trabajadas</a></li>
                                    <li permiso="RRHH.Asistencia.Control de Asistencias"><a asp-action="ControlAsistencia" asp-controller="ControlAsistencias"><i class="fa fa-users"></i> Control Asistencias</a></li>
                                </ul>
                            </li>
                            <li permiso="RRHH.Bonos y Deducciones">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-money-bill"></i> Bonos y Deducciones</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li permiso="RRHH.Bonos y Deducciones.Formula ISR"><a asp-action="Index" asp-controller="ISR"><i class="fa fa-calculator"></i> Formula ISR </a></li>
                                    <li permiso="RRHH.Bonos y Deducciones.Formula RAP"><a asp-action="ConfiguracionRap" asp-controller="ElementoConfiguracion"><i class="fa fa-calculator"></i> Formula RAP </a></li>
                                    <li permiso="RRHH.Bonos y Deducciones.Formula IHSS"><a asp-action="ConfiguracionIHSS" asp-controller="ElementoConfiguracion"><i class="fa fa-calculator"></i> Formula IHSS </a></li>
                                    <li permiso="RRHH.Bonos y Deducciones.Lineas de Telefono"><a asp-action="Index" asp-controller="PhoneLines"><i class="fa fa-phone"></i> Líneas de Teléfono</a></li>
                                    <li permiso="RRHH.Bonos y Deducciones.Bonificaciones"><a asp-action="Index" asp-controller="Bonificacion"><i class="fa fa-users"></i> Bonificaciones</a></li>
                                    <li permiso="RRHH.Bonos y Deducciones.Deducciones por Empleado"><a asp-action="Index" asp-controller="DeduccionEmpleado"><i class="fa fa-scissors"></i> Deducciones por Empleado </a></li>
                                </ul>
                            </li>
                            <li permiso="RRHH.Planillas y Operaciones">
                                <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="fa fa-file-invoice-dollar"></i> Planillas y Operaciones</a>
                                <ul aria-expanded="false" class="collapse">
                                    <li permiso="RRHH.Planillas y Operaciones.Tipo de Planillas"><a asp-action="TipoPlanillas" asp-controller="TipoPlanillas"><i class="fa fa-scissors"></i> Tipos de Planilla </a></li>
                                    <li permiso="RRHH.Planillas y Operaciones.Calculo ISR"><a asp-action="CalculoGeneralISR" asp-controller="DeduccionEmpleado"><i class="fa fa-calculator"></i> Cálculo General ISR </a></li>
                                    <li permiso="RRHH.Planillas y Operaciones"><a asp-action="CalculoGeneralIHSS" asp-controller="DeduccionEmpleado"><i class="fa fa-calculator"></i> Cálculo General IHSS </a></li>
                                    <li permiso="RRHH.Planillas y Operaciones"><a asp-action="CalculoGeneralRAP" asp-controller="DeduccionEmpleado"><i class="fa fa-calculator"></i> Cálculo General RAP </a></li>
                                    <li permiso="RRHH.Planillas y Operaciones.Planilla"><a><i class="fa fa-users"></i> Planilla de Sueldos</a></li>
                                </ul>
                            </li>
                            <li><a asp-action="Index" asp-controller="Employees"><i class="fa fa-users"></i> Empleados</a></li>
                        </ul>
                    </li>


                    <li permiso="Proveedores">
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cart"></i><span class="hide-menu"> Proveedores</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li permiso="Proveedores.Proveedores"><a asp-action="Index" asp-controller="Vendor"><i class="fas fa-shopping-bag"></i>  Proveedores</a></li>
                            <li permiso="Proveedores.Tipo Proveedores"><a asp-action="VendorType" asp-controller="VendorType"><i class="far fa-clipboard"></i>  Tipo de Proveedores</a></li>
                            @*<li permiso="Proveedores.Configuracion de Proveedor"><a asp-action="ConfigurationVendor" asp-controller="ConfigurationVendor"><i class="fas fa-microchip"></i>  Configuracion de Proveedores</a></li>*@
                            @*<li permiso="Proveedores.Listas de Costos"><a asp-action="CostListItem" asp-controller="CostListItem"><i class="fas fa-dolly-flatbed"></i>  Listas de Costos</a></li>*@
                            <li permiso="Proveedores.Comprobante de Retencion"><a asp-action="Index" asp-controller="RetentionReceipt"><i class="fas fa-receipt"></i>  Comprobante de Retención</a></li>
                        </ul>
                    </li>


                    <li permiso="Reportes">
                        <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file-chart"></i><span class="hide-menu">Reportes</span></a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a asp-action="SFAreas" asp-controller="Reportes"><i class="fa fa-money-check-alt"></i> Areas</a></li>
                            <li><a asp-action="SFDetalladoPorProducto" asp-controller="Reportes"><i class="fa fa-money-check"></i> Kardex detallado por producto</a></li>
                            <li><a asp-action="SFReciboMercaderia" asp-controller="Reportes"><i class="fa fa-money-check-alt"></i> Recibo de mercadería</a></li>
                            <li><a asp-action="SFIngresos" asp-controller="Reportes"><i class="fa fa-money-check-alt"></i> Ingresos</a></li>
                            <li><a asp-action="SFTabladeConversionPeso" asp-controller="Reportes"><i class="fa fa-money-check-alt"></i> Tabla de Conversión de Peso</a></li>
                        </ul>
                    </li>



                </ul>
           
            </nav>

    </div>
</aside>
