<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
            <!-- User profile image -->
            <div class="profile-img">
                <img src="~/admp/assets/images/users/profile.png" alt="user" />
                <!-- this is blinking heartbit-->
                <div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>
            </div>
            <!-- User profile text-->
            <div class="profile-text">
                <h5>Almacafe</h5>
                <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="mdi mdi-settings"></i></a>
                @*<a href="app-email.html" class="" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>*@
                <a href="@Url.Action("Logout","Account")" class="" data-toggle="tooltip" title="Salir"><i class="mdi mdi-power"></i></a>
                @*<div class="dropdown-menu animated flipInY">
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-user"></i> My Profile</a>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                    <!-- text-->
                    <div class="dropdown-divider"></div>
                    <!-- text-->
                    <a href="#" class="dropdown-item"><i class="ti-settings"></i> Account Setting</a>
                    <!-- text-->
                    <div class="dropdown-divider"></div>
                    <!-- text-->
                    <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
                    <!-- text-->
                </div>*@
            </div>
        </div>

        <nav class="sidebar-nav ">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-small-cap">Administración</li>
                <li policy="Admin">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Administración <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li><a asp-action="Estados" asp-controller="Estados" policy="Admin"><i class="fa fa-thermometer-quarter"></i> Estados</a></li>
                        <li><a asp-action="UnitOfMeasure" asp-controller="UnitOfMeasure" policy="Admin"><i class="fa fa-pencil-ruler"></i> Unidades de medida</a></li>
                        <li><a asp-action="Brach" asp-controller="Branch" policy="Admin"><i class="fa fa-code-branch"></i> Sucursales</a></li>
                        <li><a asp-action="Index" asp-controller="CAI" policy="Admin"><i class="fa fa-question-square"></i> CAI</a></li>
                        <li><a asp-action="Index" asp-controller="PuntoEmision" policy="Admin"><i class="fa fa-map-marker-exclamation"></i> Puntos Emisión</a></li>
                        <li><a asp-action="TiposDocumento" asp-controller="TiposDocumento" policy="Admin"><i class="fa fa-file-alt"></i> Tipos de documentos</a></li>
                        <li><a asp-action="NumeracionSAR" asp-controller="NumeracionSAR" policy="Admin"><i class="fa fa-sort-numeric-down"></i> Numeración SAR</a></li>
                        <li><a asp-action="Currency" asp-controller="Currency" policy="Admin"><i class="fa fa-euro-sign"></i> Moneda</a></li>
                        <li><a asp-action="CustomerType" asp-controller="CustomerType" policy="Admin"><i class="fa fa-text-width"></i> Tipo de Cliente</a></li>


                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-stocking"></i><span class="hide-menu"> Configuración</span></a>
                    <ul aria-expanded="false" class="collapse">

                        <li><a asp-action="Country" asp-controller="Country" policy="Admin"><i class="fa fa-globe-americas"></i> País</a></li>
                        <li><a asp-action="State" asp-controller="State" policy="Admin"><i class="fa fa-road"></i> Estado</a></li>
                        <li><a asp-action="City" asp-controller="City" policy="Admin"><i class="fa fa-building"></i> Ciudad</a></li>
                        <li><a asp-action="TipoContrato" asp-controller="TipoContrato" policy="Admin"><i class="fa fa-file-contract"></i> Tipo de Contrato</a></li>
                        @*<li><a asp-action="Index" asp-controller="Dependientes" policy="Admin"><i class="fa fa-user-cog"></i> Dependientes</a></li>*@
                        <li><a asp-action="Escala" asp-controller="Escala" policy="Admin"><i class="fa fa-layer-group"></i> Escala</a></li>
                        <li><a asp-action="CompanyInfo" asp-controller="CompanyInfo" policy="Admin"><i class="fa fa-building"></i> Información de la empresa</a></li>
                        <li><a asp-action="Tax" asp-controller="Tax" policy="Admin"><i class="fa fa-layer-group"></i> Impuestos</a></li>

                    </ul>
                </li>
                <li policy="Admin">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-security"></i><span class="hide-menu">Seguridad</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Usuarios" asp-controller="Usuario" policy="Admin"><i class="fa fa-users-cog"></i> Usuarios</a></li>
                        <li><a asp-action="Roles" asp-controller="Roles" policy="Admin"><i class="fa fa-user-tag"></i> Roles</a></li>
                        <li><a asp-action="UserRol" asp-controller="UserRol" policy="Admin"><i class="fa fa-user-tag"></i> Roles por usuario</a></li>
                        <li><a asp-action="Policy" asp-controller="Policy" policy="Admin"><i class="fa fa-users-cog"></i> Politicas</a></li>
                        <li><a asp-action="PolicyRoles" asp-controller="PolicyRoles" policy="Admin"><i class="fa fa-users-cog"></i> Roles Politicas</a></li>
                        <li><a asp-action="UserClaim" asp-controller="UserClaim" policy="Admin"><i class="fa fa-question-square"></i> User Claims</a></li>
                    </ul>
                </li>
                <li policy="Admin">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-keyboard-close"></i><span class="hide-menu">Configuraciones</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Product" asp-controller="Product"><i class="fa fa-archive"></i> Servicios</a></li>
                        <li><a asp-action="SubProductPropios" asp-controller="SubProduct"><i class="fa fa-box-open"></i> SubServicios </a></li>
                        <li><a asp-action="ProductType" asp-controller="ProductType"><i class="fa fa-box-open"></i> Tipo de producto</a></li>
                        <li>@*<a asp-action="SubProduct" asp-controller="SubProduct"><i class="fa fa-box-open"></i> SubProductos</a>*@</li>
                        <li><a asp-action="SubProductClientes" asp-controller="SubProduct"><i class="fa fa-box-open"></i> Productos de clientes</a></li>
                        <li><a asp-action="ProductRelation" asp-controller="ProductRelation"><i class="fa fa-boxes"></i> Relación Servicio</a></li>
                        <li><a asp-action="ElementoConfiguracion" asp-controller="ElementoConfiguracion"><i class="fa fa-wrench"></i> Elemento Configuración</a></li>
                        <li><a asp-action="GrupoConfiguracion" asp-controller="GrupoConfiguracion"><i class="fa fa-wrench"></i> Grupo Configuración</a></li>

                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cash"></i><span class="hide-menu">Bancos</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Bank" asp-controller="Bank" policy="Admin"><i class="fa fa-money-check"></i> Bancos</a></li>
                        <li><a asp-action="Index" asp-controller="CheckAccount" policy="Admin"><i class="fa fa-money-check-alt"></i> Cheques</a></li>
                        <li><a asp-action="Conciliacion" asp-controller="Conciliacion" policy="Admin"><i class="fa fa-handshake"></i> Conciliación Bancaria</a></li>
                        @*<li>@Html.ActionLink("Cheques", "Index", "Cheques")</li>*@
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-scale-balance"></i><span class="hide-menu"> Contabilidad</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Index" asp-controller="CostCenter"><i class="fas fa-sitemap"></i>  Centros de Costo</a></li>
                        <li><a asp-action="Index" asp-controller="Accounting" policy="Admin"><i class="fas fa-university"></i>  Catálogo de Cuentas</a></li>
                        <li><a asp-action="TypeAccount" asp-controller="TypeAccount" policy="Admin"><i class="fas fa-columns"></i>  Tipos de Cuentas</a></li>
                        <li><a asp-action="Index" asp-controller="JournalEntry" policy="Admin"><i class="fas fa-clipboard-check"></i>  Asiento Contable</a></li>
                        <li><a asp-action="IndexAjustes" asp-controller="JournalEntry" policy="Admin"><i class="fas fa-university"></i> Ajutes Contables</a></li>
                        <li><a asp-action="TypeJournal" asp-controller="TypeJournal" policy="Admin"><i class="fas fa-archive"></i>  Tipos de Documentos/Vouchers</a></li>
                        <li><a asp-action="ExchangeRate" asp-controller="ExchangeRate" policy="Admin"><i class="fas fa-dollar-sign"></i>  Tasa de cambio</a></li>
                        <li><a asp-action="Insurances" asp-controller="Insurances" policy="Admin"><i class="fas fa-shield-alt"></i>  Aseguradoras</a></li>
                        <li><a asp-action="InsurancesCertificate" asp-controller="InsurancesCertificate" policy="Admin"><i class="fas fa-fire-extinguisher"></i> Certificado de Seguros</a></li>
                        <li><a asp-action="Index" asp-controller="JournalEntryConfiguration" policy="Admin"><i class="fas fa-pallet"></i>  Configuración de Asientos</a></li>
                        <li><a asp-action="Index" asp-controller="TrialBalance" policy="Admin"><i class="fas fa-pallet"></i>  Balanza de comprobación</a></li>
                        <li><a asp-action="SFBalance" asp-controller="BalanceSheet" policy="Admin"><i class="fas fa-pallet"></i>  Balance General</a></li>
                        <li><a asp-action="SFDetalleValorSeguros" asp-controller="Reportes" policy="Admin"><i class="fa fa-money-check-alt"></i> Valores físicos de Mercadería para seguros</a></li>
                        <li><a asp-action="SFAuxiliarMovimientos" asp-controller="Accounting" policy="Admin"><i class="fas fa-pallet"></i>  Histórico de movimientos por cuenta</a></li>
                        <li><a asp-action="SFAuxiliarMovimientosPorDia" asp-controller="Accounting" policy="Admin"><i class="fas fa-pallet"></i>  Histórico de movimientos por cuenta por dia</a></li>
                        <li><a asp-action="Index" asp-controller="ProfitAndLoss" policy="Admin"><i class="fas fa-pallet"></i> Estado de Resultados</a></li>
                        @* <li><a asp-action="CatalagueAccounting" asp-controller="Accounting" policy="Admin"><i class="fas fa-university"></i>  Catálogo de Cuentas Prueba</a></li>
                        *@
                        <li><a asp-action="Index" asp-controller="IncomeAndExpensesAccount" policy="Admin"><i class="fas fa-university"></i> Cuenta de gastos de Ingresos</a></li>
                        <li>
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-scale-balance"></i><span class="hide-menu"> Activos</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a asp-action="FixedAssetGroup" asp-controller="FixedAssetGroup" policy="Admin"><i class="fa fa-flag"></i> Grupo de Activos</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-monitor"></i><span class="hide-menu">Monitoreo</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Alerts" asp-controller="Alert" policy="Admin"><i class="fa fa-monitor-heart-rate"></i> Alertas</a></li>
                        <li><a asp-action="BlackListCustomers" asp-controller="BlackListCustomers" policy="Admin"><i class="fa fa-users-cog"></i> Información mediatica</a></li>
                        <li><a asp-action="PEPS" asp-controller="PEPS" policy="Admin"><i class="fa fa-users-cog"></i> PEPS</a></li>
                        <li><a asp-action="SubproductProhibidos" asp-controller="SubProduct"><i class="fa fa-ban"></i> Productos prohibidos</a></li>
                        <li><a asp-action="Country" asp-controller="Alert"><i class="fa fa-ban"></i> Países GAFI </a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-stocking"></i><span class="hide-menu"> Inventarios</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Index" asp-controller="ControlPallets"><i class="fa fa-file-alt"></i> Control de ingresos</a></li>
                        <li><a asp-action="Index" asp-controller="GoodsReceived"><i class="fa fa-file-alt"></i> Recibo de mercaderias</a></li>
                        <li><a asp-action="Index" asp-controller="Kardex"><i class="fa fa-file-alt"></i> Kardex</a></li>
                        <li><a asp-action="Index" asp-controller="CertificadoDeposito"><i class="fa fa-file-alt"></i> Solicitud/Certificado de depósito</a></li>
                        <li><a asp-action="Index" asp-controller="GoodsDeliveryAuthorization"><i class="fa fa-file-alt"></i> Autorización CE</a></li>
                        <li><a asp-action="IndexSalida" asp-controller="ControlPallets"><i class="fa fa-file-alt"></i> Control de salidas</a></li>
                        <li><a asp-action="Index" asp-controller="GoodsDelivered"><i class="fa fa-file-alt"></i> Entrega de mercaderia</a></li>
                        <li><a asp-action="Index" asp-controller="BoletaDeSalida"><i class="fa fa-file-alt"></i> Boleta de Salida</a></li>
                        <li><a asp-action="Index" asp-controller="EndososCertificados"><i class="fa fa-file-alt"></i> Endosos</a></li>

                    </ul>
                </li>

                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu"> Clientes</span></a>
                    <ul aria-expanded="false" class="collapse">
                        @*<li><a asp-action="Index" asp-controller="Customer" policy="Admin"><i class="fa fa-intercom"></i> Datos de Clientes </li>*@
                        <li><a asp-action="Index" asp-controller="Customer" policy="Admin"><i class="fa fa-address-book"></i> Datos de Clientes</a></li>
                        <li><a asp-action="Index" asp-controller="CustomerArea" policy="Admin"><i class="fa fa-users-cog"></i> Areas ocupadas en bodega</a></li>


                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cart"></i><span class="hide-menu">Compras</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Index" asp-controller="VendorInvoice"><i class="fa fa-file-alt"></i>Factura Proveedores</a></li>
                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cash"></i><span class="hide-menu">Ventas</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Index" asp-controller="SalesOrder"><i class="fa fa-file-alt"></i> Cotizaciones</a></li>
                        <li><a asp-action="Index" asp-controller="ProformaInvoice"><i class="fa fa-file-alt"></i> Factura proforma</a></li>
                        <li><a asp-action="Index" asp-controller="Invoice"><i class="fa fa-file-alt"></i> Factura </a></li>
                        <li><a asp-action="Index" asp-controller="DebitNote"><i class="fa fa-file-alt"></i> Nota Débito </a></li>
                        <li><a asp-action="Index" asp-controller="CreditNote"><i class="fa fa-file-alt"></i> Nota Crédito </a></li>
                    </ul>
                </li>
                <li policy="Admin">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-circle"></i><span class="hide-menu"> Recursos Humanos</span></a>
                    <ul aria-expanded="false" class="collapse">
                        @*<li>@Html.ActionLink("Datos de Empleados", "Index", "Employees")</li>*@
                        <li><a asp-action="Departamento" asp-controller="Departamento" policy="Admin"><i class="fa fa-flag"></i> Departamento</a></li>
                        <li><a asp-action="Index" asp-controller="Employees" policy="Admin"><i class="fa fa-users"></i> Empleados</a></li>
                        <li><a asp-action="TipoPlanillas" asp-controller="TipoPlanillas" policy="Admin"><i class="fa fa-users"></i> Tipo de Planilla</a></li>
                        <li><a asp-action="Index" asp-controller="HoursWorked" policy="Admin"><i class="fa fa-users"></i> Horas Trabajadas</a></li>
                        <li><a asp-action="Index" asp-controller="Planilla" policy="Admin"><i class="fa fa-users"></i> Planilla de Sueldos</a></li>
                        <li><a asp-action="Index" asp-controller="" policy="Admin"><i class="fa fa-users"></i> Deducciones</a></li>
                        <li><a asp-action="Index" asp-controller="" policy="Admin"><i class="fa fa-users"></i> Libros Sueldos y Salarios</a></li>
                        <li><a asp-action="Index" asp-controller="" policy="Admin"><i class="fa fa-users"></i> Boleta de Pagos</a></li>
                        <li><a asp-action="Index" asp-controller="" policy="Admin"><i class="fa fa-users"></i> Imprimir Planilla</a></li>
                        <li><a asp-action="Index" asp-controller="Employees" policy="Admin"><i class="fa fa-users"></i> Reportes</a></li>
                        <li><a asp-action="Puesto" asp-controller="Puesto" policy="Admin"><i class="fa fa-users"></i> Puesto</a></li>
                        <li><a asp-action="TipoContrato" asp-controller="TipoContrato" policy="Admin"><i class="fa fa-users"></i> Tipo contrato</a></li>
                        <li><a asp-action="Concept" asp-controller="Concept" policy="Admin"><i class="fa fa-users"></i> Concepto</a></li>

                    </ul>
                </li>


                <li policy="Admin">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cart"></i><span class="hide-menu"> Proveedores</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="Index" asp-controller="Vendor" policy="Admin"><i class="fas fa-shopping-bag"></i>  Proveedores</a></li>
                        <li><a asp-action="VendorType" asp-controller="VendorType" policy="Admin"><i class="far fa-clipboard"></i>  Tipo de Proveedores</a></li>
                        <li><a asp-action="ConfigurationVendor" asp-controller="ConfigurationVendor" policy="Admin"><i class="fas fa-microchip"></i>  Configuracion de Proveedores</a></li>

                        <li><a asp-action="CostListItem" asp-controller="CostListItem" policy="Admin"><i class="fas fa-dolly-flatbed"></i>  Listas de Costos</a></li>

                    </ul>
                </li>

                <li>
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-file-chart"></i><span class="hide-menu">Reportes</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a asp-action="SFAreas" asp-controller="Reportes" policy="Admin"><i class="fa fa-money-check-alt"></i> Areas</a></li>
                        <li><a asp-action="SFDetalladoPorProducto" asp-controller="Reportes" policy="Admin"><i class="fa fa-money-check"></i> Kardex detallado por producto</a></li>
                        <li><a asp-action="SFReciboMercaderia" asp-controller="Reportes" policy="Admin"><i class="fa fa-money-check-alt"></i> Recibo de mercadería</a></li>
                        <li><a asp-action="SFIngresos" asp-controller="Reportes" policy="Admin"><i class="fa fa-money-check-alt"></i> Ingresos</a></li>

                    </ul>
                </li>



            </ul>
        </nav>

    </div>
</aside>
