@{var Error = ViewData["Error"]; }
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Lo Sentimos, ha ocurrido un error al procesar su solicitud.</h2>

<h3>Acciones Recomendadas</h3>
<p>
    Comuniquese con el <strong>Encargado</strong> para mantenimiento.
</p>
