
@media screen and (min-width: 768px) {
    .custom-class {
        width: 100%; /* either % (e.g. 60%) or px (400px) */
    }
}

  .modal-header {
            background-color: #1976d2;
        }


       .modal-title {
            color: white !important;
        }

.modal .modal-dialog {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
}

        .modal-body {
            max-height: calc(100vh - 1 px );
            overflow-y: auto;
        }

.modal-content {
    height: auto;
    min-height: 100% !important;
    border-radius: 0;
}

        .modal-lg {
            min-width: 100% !important;
        }

        .btn-miboton {
            background-color: #1976d2 !important;
            color: white;
        }