@model ERPMVC.Models.InventarioFisico
@using System.Security.Claims

@{
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisosCertificadoDeposito"];
    bool editable = Model.Id == 0;
}



<script>
    const formatter = new Intl.NumberFormat("en-US");

    function RefreshInventarioFisicoLine() {
        var grid = $("#gridInventarioFisicoLine").getKendoGrid();
        grid.dataSource.read();
        grid.refresh();
        //CalcularTotalDocumento();
    }



        function Delete(e) {

        e.preventDefault();
        if (confirm('Esta seguro que desea eliminar la fila?')) {
            var notification = $("#notification").data("kendoNotification");
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

            $.ajax({
                url: '@Url.Action("Delete", "CertificadoLine")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataItem),
                success: function (data) {
                    //$("#ControlPalletsLineMant").html('');
                    //$("#ControlPalletsLineMant").html(data);
                    //var txt = $(data);
                    //var found = $("#SubProductId", txt);
                    //subproducto = $(found).val();
                    record = 0;
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                    //  $("#btngenerarfactura").show();
                    notification.show({
                        title: "Validación",
                        message: textStatus + ": " + XMLHttpRequest.responseText
                    }, "error");

                }
            });

            var grid = $("#gridInventarioFisicoLine").data("kendoGrid");
            
            grid.dataSource.remove(dataItem);

            CalcularTotalDocumento();
            //Sync it with the grid
            //grid.dataSource.sync();
        }
    }
    var record = 0;
    function RowNum() {
        
        return ++record;
    }
    function CalcularTotalDocumento() {
        var displayedData = $("#gridInventarioFisicoLine").data().kendoGrid.dataSource.view();
        var total = 0, sumacantidad = 0, ValorImpuestos = 0, derechosfiscales = 0;

        $(displayedData).each(function (index, element) {
            var t = JSON.parse(JSON.stringify(element));
            //console.log(t);
            //console.log('Total 1'+total);
            //  console.log('sumacantidad 2' + sumacantidad);
            sumacantidad = sumacantidad + t["Quantity"];
            total = total + t["Amount"];
            ValorImpuestos = ValorImpuestos + t["ValorImpuestos"];
            derechosfiscales += t["DerechosFiscales"];
            t["Amount"] = t["Quantity"] * t["Price"]

        });

        //  console.log('Total Documento:' + total);
        setearvalor("Quantitysum", sumacantidad);
        //setearvalor("SujetasAPago", ValorImpuestos);
        setearvalor("TotalDerechos", derechosfiscales);
        setearvalor("Total", total);
        //$("#Quantitysum").data("kendoNumericTextBox").value(sumacantidad);
        //$("#Total").data("kendoNumericTextBox").value(total);

    }

    function setearvalor(nombrenumerico, valor) {
        var numeric = $("#" + nombrenumerico).data("kendoNumericTextBox");
        numeric.value(valor);
        numeric.trigger('change');
        numeric = null;
    }


    formattear = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'LPS',
        minimumFractionDigits: 2
    });

    function calculateField(e) {
        debugger;
        record = 0;
        if (e.container) {            
            var totalSpan = e.container.closest("TR").find(".totalSpan");
            
            e.model.Diferencia =   e.model.InventarioFisicoCantidad - e.model.SaldoLibros;
             totalSpan.html(e.model.Diferencia);

        }
        
    }

    var record = 0;

    function RowNum() {

        return ++record;
    }


</script>

<style>
    .numbers {
        text-align: right;
    }
</style>



<div class="box">
    <div class="box-body">

        @(Html.Kendo().Grid<ERPMVC.Models.InventarioFisicoLine>
    ()
    .Name("gridInventarioFisicoLine")
    .Events(e =>
    e.CellClose("calculateField")

    )
    .Columns(columns =>
    {

        columns.Command(command =>
        {
            if (editable)
            {
                command.Custom("Eliminar").Text(" ").IconClass("fa fa-trash-alt").Click("Delete");
            }
        }).Width(80).Visible(editable);
        columns.Bound(c =>c.No).Width(80).Title("No.").ClientTemplate("#=RowNum()#");
        //columns.Bound(p => p.PdaNo).Title("Pda No").ClientTemplate("#= RowNum()#").Width(110);
        columns.Bound(p => p.Id).Title("Id").Width(110).Visible(false);        
         columns.Bound(p => p.Warehouse).Title("Bodega")
        .ClientTemplate("#=typeof Warehouse === 'undefined'||Warehouse===null?WarehouseName:Warehouse.WarehouseName#").Width(150);
        columns.Bound(p => p.Product).Title("Producto")
        .ClientTemplate("#=typeof Product === 'undefined'||Product===null?ProductoNombre:Product.ProductName#").Width(150);        
         columns.Bound(p => p.UnitOfMeasure).Title("Unidad de Medida")
        .ClientTemplate("#=typeof UnitOfMeasure === 'undefined'||UnitOfMeasure===null?UnitOfMeasureName:UnitOfMeasure.UnitOfMeasureName#").Width(150);
        columns.Bound(p => p.SaldoLibros).Title("Saldo Libros").Width(120);
        columns.Bound(p => p.InventarioFisicoCantidad).Title("Inventario Fisico").Width(120);  
        columns.Bound(p => p.NSacos).Title(" N Sacos").Width(120);
        columns.Bound(p => p.FactorSacos).Title("Peso Saco").Width(120);  
        
        columns.Bound(p => p.Diferencia).Title("Diferencia")
        .ClientTemplate("<div style='text-align: right'><span class='totalSpan'>#= InventarioFisicoCantidad - SaldoLibros #</span></div>")        
        .Width(120);
        columns.Bound(p => p.Estiba).Width(100);
      
    })
    .Editable(e => e.Mode(GridEditMode.InCell))
    .Filterable(f => f.Operators(o => o.ForString(s => s
    .Clear()
    
    .Contains("Contiene")
    .DoesNotContain("No contiene")
    .EndsWith("Termina con")
    .IsEqualTo("Es igual a")
    .IsNotEqualTo("No es igual a")
    .IsNull("Es nulo")
    .StartsWith("Inicia con")


    )
    .ForNumber(n => n
    .Clear()
    .IsEqualTo("Es igual a")
    .IsGreaterThan("Es mayor que")
    .IsLessThan("Es menor que")
    .IsNull("Es nulo")
    .IsLessThanOrEqualTo("Es menor o igual que")
    .IsGreaterThanOrEqualTo("Es mayor o igual que")
    )
    .ForDate(d => d
    .Clear()
    .IsEqualTo("Es igual que")
    .IsGreaterThan("Es mayor que")
    .IsLessThan("Es menor que")
    .IsLessThanOrEqualTo("Es menor o igual que")
    .IsGreaterThanOrEqualTo("Es mayor o igual que")
    .IsNotEqualTo("No es igual que")
    )
    ))
     .ToolBar(tools =>
        {
            tools.Create().Text("Agregar Producto");
            tools.Excel().Text("Exportar a excel").HtmlAttributes(new { @class = "toolbar-field" }).Text("Exportar a excel");
        })


    .Sortable()
    
    .AutoBind(true)
    //.Pageable()
    .Filterable()
    .Scrollable()
    .Pdf(pdf => pdf.FileName("CertificadoDepositoDetalleReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
    + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
    .ProxyURL(Url.Action("Export", "Home")).AllPages())
    .Excel(excel => excel.FileName("CertificadoDepositoDetalleReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
    + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
    .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
    .DataSource(dataSource =>

    dataSource
    //.Ajax()
    .WebApi()
    .Batch(true)

    .ServerOperation(false)
    .Model(model =>
    {
        model.Id(p => p.Id);
        model.Field(p => p.No).Editable(false);
        model.Field(p => p.Id).Editable(false);
        model.Field(p => p.ProductoNombre).Editable(false);
        model.Field(p => p.SaldoLibros).Editable(false);
        model.Field(p => p.InventarioFisicoCantidad).Editable(true);
        model.Field(p => p.Diferencia).Editable(false);
       

    })
    .Sort(s => s.Add(a => a.Id).Ascending())
    .Events(events =>
    {
        events.Error("error_handler");


    })
    .Read(read => read.Action("GetInventarioFisicoLines", "InventarioFisicoLine").Data("GetparamDetalle"))
    )
    )

</div>
</div>