@model ERPMVC.Models.JournalEntryConfigurationLine

<script>
    function AddJournalEntryConfigurationLine() {
        debugger;
        var notification = $("#notification").data("kendoNotification");
        if ($("#AccountId").val() > 0) {
            try {
                $("#btnActualizarJournalEntryConfiguration").prop("disabled", true);
                RefreshJournalEntryConfigurationDetail();

            } catch (e) {
                $("#btnActualizarJournalEntryConfiguration").prop("disabled", false);
            }
        }
        else {
            notification.show({
                title: "Validación",
                message: "Seleccione la cuenta!"
            }, "error");

            return false;
        }

        return true;
    }

    completedorderlinemant = function (xhr) {
        closeJournalEntryConfigurationLine();
    };




    function closeJournalEntryConfigurationLine() {
        $("#ModalJournalEntryConfigurationLine").modal('hide');
    }
</script>

<div id="ModalJournalEntryConfigurationLine" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Información configuración Asientos Automáticos</h4>
                <button type="button" class="close" onclick="closeJournalEntryConfigurationLine();">&times;</button>
            </div>
            <div class="modal-body">

                @{
                    var messages1 = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                                                            {"required","Valor requerido" }
                                                                         };
                    var rules1 = new Dictionary<string, string>() { { "custom", "customFunction" } };
                }
                <form id="frmJournalEntryConfiguration"
                      kendo-validator="true" kendo-messages="messages1" kendo-rules="rules1"
                      data-ajax-method="post"
                      data-ajax-loading="#loading"
                      data-ajax-complete="completedorderlinemant"
                      data-ajax-begin="return AddJournalEntryConfigurationLine();"
                      data-ajax="true"
                      method="post" class="validation-wizard wizard-circle">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="JournalEntryConfigurationLineId" class="control-label" style="width:100%"></label>
                                    <input type="number" asp-for="JournalEntryConfigurationLineId" readonly="readonly" style="min-width:100%" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label asp-for="AccountId" class="control-label" style="width:100%"></label>
                                <kendo-dropdownlist name="AccountId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                    for="AccountId"
                                                    option-label="Seleccione Cuenta"
                                                    datatextfield="AccountName"
                                                    datavaluefield="AccountId"
                                                    required
                                                    style="width: 100%;">
                                    <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999999">
                                        <transport>
                                            <read url="@Url.Action("GetAccount", "Accounting")" />
                                        </transport>
                                    </datasource>
                                </kendo-dropdownlist>
                                <span asp-validation-for="AccountId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <script>
                                    function GrupoConfiguracionJournalEntry() {
                                        return { 'Id': 21 };
                                    }
                                </script>
                                <label asp-for="DebitCredit" class="control-label" style="width:100%"></label>
                                <kendo-dropdownlist name="DebitCreditId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                    for="DebitCreditId"
                                                    option-label="Seleccione Débito/Crédito"
                                                    datatextfield="Nombre"
                                                    datavaluefield="Id"
                                                    required
                                                    style="width: 100%;">
                                    <datasource type="DataSourceTagHelperType.WebApi">
                                        <transport>
                                            <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionJournalEntry" />

                                        </transport>
                                    </datasource>
                                </kendo-dropdownlist>
                                <span asp-validation-for="DebitCredit" class="text-danger"></span>
                            </div>
                          
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="CostCenterId" class="control-label" style="width:100%">Centro de Costos</label>
                                        <kendo-dropdownlist name="CostCenterId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                            for="CostCenterId"
                                                            option-label="Seleccione los Centros de Costo"
                                                            datatextfield="CostCenterName"
                                                            datavaluefield="CostCenterId"
                                                            required
                                                            style="width: 100%;">
                                            <datasource type="DataSourceTagHelperType.WebApi">
                                                <transport>
                                                    <read url="@Url.Action("GetCostCenter", "CostCenter")" />
                                                </transport>
                                            </datasource>
                                        </kendo-dropdownlist>
                                        <span asp-validation-for="CostCenterId" class="text-danger"></span>
                                    </div>
                                </div>                                                    
                         </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="SubProductId" class="control-label" style="width:100%"></label>
                                    <script>                                       

                                        function GetProductIdS() {
                                            return { 'ProductId': $("#ProductId").val() }
                                        }

                                    </script>
                                   
                                    <kendo-dropdownlist name="SubProductId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        option-label="Seleccione el SubProducto"
                                                        for="SubProductId"
                                                        datatextfield="ProductName"
                                                        datavaluefield="SubproductId"
                                                        auto-bind="true"                                                       
                                                        required
                                                        style="width: 100%;">
                                        <datasource type="DataSourceTagHelperType.WebApi">
                                            <transport>
                                                <read url="@Url.Action("GetSubProductByProductIdRelation", "ProductRelation")" data="GetProductIdS" />
                                            </transport>
                                     </datasource>
                                    </kendo-dropdownlist>
                                    <span asp-validation-for="SubProductId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <br/><br/>

                        <div class="row">
                            <button id="btnActualizarJournalEntryConfiguration" type="submit" class="form-control btn-miboton">Actualizar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
 </div>