@model ERPMVC.Models.JournalEntryConfigurationLine

<script>
    function AddJournalEntryConfigurationLine() {
        debugger;
        var notification = $("#notification").data("kendoNotification");
        if ($("#AccountId").val() > 0) {
            try {
                $("#btnActualizarJournalEntryConfiguration").prop("disabled", true);
                RefreshJournalEntryConfigurationDetail();

            } catch (e) {
                $("#btnActualizarJournalEntryConfiguration").prop("disabled", false);
            }
        }
        else {
            notification.show({
                title: "Validación",
                message: "Seleccione la cuenta!"
            }, "error");

            return false;
        }

        return true;
    }

    completedorderlinemant = function (xhr) {
    };



    function closeJournalEntryConfigurationLine() {
        $("#ModalJournalEntryConfigurationLine").modal('hide');
    }
</script>

<div id="ModalJournalEntryConfigurationLine" class="modal fade" style="min-width:100%" role="dialog">
    <div class="modal-dialog modal-lg" role="document">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeJournalEntryConfigurationLine();">&times;</button>
                <h4 class="modal-title">Información Configuración asientos automaticos</h4>
            </div>
            <div class="modal-body">

                @{
                    var messages1 = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                                                            {"required","Valor requerido" }
                                                                         };
                    var rules1 = new Dictionary<string, string>() { { "custom", "customFunction" } };
                }
                <form id="frmJournalEntryConfiguration"
                      kendo-validator="true" kendo-messages="messages1" kendo-rules="rules1"
                      data-ajax-method="post"
                      data-ajax-loading="#loading"
                      data-ajax-complete="completedorderlinemant"
                      data-ajax-begin="return AddJournalEntryConfigurationLine();"
                      data-ajax="true"
                      method="post" class="validation-wizard wizard-circle">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="JournalEntryConfigurationLineId" class="control-label" style="width:100%"></label>
                                    <input type="number" asp-for="JournalEntryConfigurationLineId" readonly="readonly" style="min-width:100%" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                              
                                <label asp-for="AccountId" class="control-label" style="width:100%"></label>
                                <kendo-dropdownlist name="AccountId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                    for="AccountId"
                                                    option-label="Seleccione si es débito o crédito"
                                                    datatextfield="AccountName"
                                                    datavaluefield="AccountId"
                                                    required
                                                    style="width: 100%;">
                                    <datasource type="DataSourceTagHelperType.WebApi">
                                        <transport>
                                            <read url="@Url.Action("GetAccount", "Accounting")"  />

                                        </transport>
                                    </datasource>
                                </kendo-dropdownlist>
                                <span asp-validation-for="AccountId" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                                <script>
                                    function GrupoConfiguracionJournalEntry() {
                                        return { 'Id': 21 };
                                    }
                                </script>
                                <label asp-for="DebitCredit" class="control-label" style="width:100%"></label>
                                <kendo-dropdownlist name="DebitCredit" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                    for="DebitCredit"
                                                    option-label="Seleccione si es débito o crédito"
                                                    datatextfield="Nombre"
                                                    datavaluefield="Id"
                                                    required
                                                    style="width: 100%;">
                                    <datasource type="DataSourceTagHelperType.WebApi">
                                        <transport>
                                            <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GrupoConfiguracionJournalEntry" />

                                        </transport>
                                    </datasource>
                                </kendo-dropdownlist>
                                <span asp-validation-for="DebitCredit" class="text-danger"></span>
                            </div>
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>

                        <br/><br/>

                        <div class="row">
                            <button id="btnActualizarJournalEntryConfiguration" type="submit" class="form-control">Actualizar</button>
                        </div>


                        </div>
                </form>


            </div>
        </div>
    </div>
 </div>