@using ERPMVC.Models
@{
    ViewBag.Title = "Permisos Rol";
}

<h3 class="text-themecolor" >Permisos de Rol</h3>

<div class="container">
    
    <div class="row">
        <div class="col-sm">
            <kendo-dropdownlist name="cmbRoles"
                                option-label="Seleccionar el Rol a Modificar"
                                datatextfield="Name"
                                datavaluefield="Id"
                                style="width: 100%;">
                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                    <transport>
                        <read url="@Url.Action("GetRoles", "Roles")"/>
                    </transport>
                </datasource>
            </kendo-dropdownlist>
        </div>
        <div class="col-sm">
            <kendo-button name="Modificar" on-click="CargarPermisos">Modificar</kendo-button>
        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <div class="col">
            <kendo-treelist name="trlPermisos">
                <columns>
                    <treelist-column field="id" hidden="true"></treelist-column>
                    <treelist-column template="<input type='checkbox' data-bind='checked: checked' />" field="asignado" title="Asignado" editable="true"></treelist-column>
                    <treelist-column field="Categoria" title="Categoria"></treelist-column>
                    <treelist-column field="Nivel1" title="Nivel 1"></treelist-column>
                    <treelist-column field="Nivel2" title="Nivel 2"></treelist-column>
                    <treelist-column field="Nivel3" title="Nivel 3"></treelist-column>
                </columns>
            </kendo-treelist>
        </div>
    </div>
</div>

<script>
    function CargarPermisos() {
        
    }
</script>


