@using ERPMVC.Models
@{
    ViewBag.Title = "Permisos Rol";
}

<h3 class="text-themecolor" >Permisos de Rol</h3>

<div>
    <p>A</p>
    @(Html.Kendo().DropDownList()
          .Name("Roles")
          .DataTextField("name")
          .DataValueField("id")
          .DataSource(source =>
                      {
                          source.Read(read =>
                                      {
                                          read.Action("GetRoles", "Roles");
                                      });
                      })
          .HtmlAttributes(new {style="width: 100%"})
          )
    <p>B</p>
</div>


