@using ERPMVC.Models
@{
    ViewBag.Title = "Permisos Rol";

    var herramientas = new string[]
                       {
                           "transferTo",
                           "transferFrom",
                           "transferAllTo",
                           "transferAllFrom",
                       };
}

<h3 class="text-themecolor" >Permisos de Rol</h3>

<div class="container">
    
    <div class="row">
        <div class="col-sm">
            <kendo-dropdownlist name="cmbRoles"
                                option-label="Seleccionar el Rol a Modificar"
                                datatextfield="Name"
                                datavaluefield="Id"
                                style="width: 100%;">
                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                    <transport>
                        <read url="@Url.Action("GetRoles", "Roles")"/>
                    </transport>
                </datasource>
            </kendo-dropdownlist>
        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm"></div>
    </div>
    <div class="row">
        <div class="col">
            <label for="permisos">Permisos</label>
            <label for="asignados">Asignados</label>
            <br />
            <kendo-listbox name="permisos" ></kendo-listbox>
        </div>
    </div>
</div>


