<div id="ModalCloneRolAndPermissions" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Clonar Rol</h4>
                <button type="button" class="close" data-dismiss="modal" >&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmClonarRol" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveCloneRol"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="hidden" name="IdRolCloned" class="form-control" id="IdRolCloned"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label" style="width:100%">Nombre de nuevo Rol</label>
                                                    <input type="text" name="NombreRol" id="NombreNuevoRol" data-val-required="El Nombre del nuevo rol es requerido"
                                                           class="form-control" style="width:100%!important" onkeypress="return soloLetras(event)" />
                                                    <span class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnCloneRol" class="form-control btn-miboton" type="submit" onclick="SaveCloneRol(this);"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function hideModal() {
        $('#ModalCloneRolAndPermissions').modal('hide');
    }
    function noespaciosincio(e) {
        var valor = e.value.replace(/^ */, '');
        e.value = valor;
    }

    document.getElementById("btnCloneRol").onclick = function () {
        var txtObj = document.getElementById("NombreNuevoRol");
        txtObj.value = txtObj.value.replace(/^\s+/, "");
        txtObj.value = txtObj.value.replace(/\s+$/, "");
    };

    function soloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
        especiales = "8-37-39-46";



        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }



        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function SaveCloneRol(e) {
        var notification = $("#notification").data("kendoNotification");
        var dataObject = {
            "IdRolSource": $("#IdRolCloned").val(),
            "Name": $("#NombreNuevoRol").val()
        }
        $.ajax({
            url: '@Url.Action("CloneRol", "Roles")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (data) {
                $("#NombreNuevoRol").val('');
                $.toast({
                    heading: 'Satisfactorio',
                    text: 'Datos guardados correctamente.',
                    position: 'top-right',
                    loaderBg: '#ff6849',
                    icon: 'success',
                    hideAfter: 3000,
                    stack: 6
                });
                $('#ModalCloneRolAndPermissions').modal('hide');
                RefrescarGrid();
                
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                notification.show({
                    title: "Validación",
                    message: textStatus + ": " + XMLHttpRequest.responseText
                }, "error");
            }
        })
    }
</script>
