@model ERPMVC.DTO.AccountDTO

<h4>AccountDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="pvwAddAccount" id="AccountDTOForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="editar"></label>
                            <kendo-numerictextbox for="editar" />
                            <span asp-validation-for="editar" class="text-danger k-invalid-msg" data-for="editar"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="token"></label>
                            <input asp-for="token" class="k-textbox" />
                            <span asp-validation-for="token" class="text-danger k-invalid-msg" data-for="token"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ParentAccountId"></label>
                            <input asp-for="ParentAccountId" class="k-textbox" />
                            <span asp-validation-for="ParentAccountId" class="text-danger k-invalid-msg" data-for="ParentAccountId"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CompanyInfoId"></label>
                            <select asp-for="CompanyInfoId" asp-items="ViewBag.CompanyInfoId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="AccountCode"></label>
                            <input asp-for="AccountCode" class="k-textbox" />
                            <span asp-validation-for="AccountCode" class="text-danger k-invalid-msg" data-for="AccountCode"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AccountName"></label>
                            <input asp-for="AccountName" class="k-textbox" />
                            <span asp-validation-for="AccountName" class="text-danger k-invalid-msg" data-for="AccountName"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <input asp-for="Description" class="k-textbox" />
                            <span asp-validation-for="Description" class="text-danger k-invalid-msg" data-for="Description"></span>
                        </div>
                        <div class="form-group">
                            @Html.Kendo().CheckBoxFor(m => m.IsCash)
                            <label asp-for="IsCash"></label>
                            <span asp-validation-for="IsCash" class="text-danger k-invalid-msg" data-for="IsCash"></span>
                        </div>
                        <div class="form-group">
                            @Html.Kendo().CheckBoxFor(m => m.IsContraAccount)
                            <label asp-for="IsContraAccount"></label>
                            <span asp-validation-for="IsContraAccount" class="text-danger k-invalid-msg" data-for="IsContraAccount"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HierarchyAccount"></label>
                            <kendo-numerictextbox for="HierarchyAccount" />
                            <span asp-validation-for="HierarchyAccount" class="text-danger k-invalid-msg" data-for="HierarchyAccount"></span>
                        </div>
                        <div class="form-group">
                            @Html.Kendo().CheckBoxFor(m => m.BlockedInJournal)
                            <label asp-for="BlockedInJournal"></label>
                            <span asp-validation-for="BlockedInJournal" class="text-danger k-invalid-msg" data-for="BlockedInJournal"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TypeAccountId"></label>
                            <kendo-numerictextbox for="TypeAccountId" />
                            <span asp-validation-for="TypeAccountId" class="text-danger k-invalid-msg" data-for="TypeAccountId"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UsuarioCreacion"></label>
                            <input asp-for="UsuarioCreacion" class="k-textbox" />
                            <span asp-validation-for="UsuarioCreacion" class="text-danger k-invalid-msg" data-for="UsuarioCreacion"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UsuarioModificacion"></label>
                            <input asp-for="UsuarioModificacion" class="k-textbox" />
                            <span asp-validation-for="UsuarioModificacion" class="text-danger k-invalid-msg" data-for="UsuarioModificacion"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaCreacion"></label>
                            <kendo-datetimepicker for="FechaCreacion" />
                            <span asp-validation-for="FechaCreacion" class="text-danger k-invalid-msg" data-for="FechaCreacion"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaModificacion"></label>
                            <kendo-datetimepicker for="FechaModificacion" />
                            <span asp-validation-for="FechaModificacion" class="text-danger k-invalid-msg" data-for="FechaModificacion"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AccountBalance"></label>
                            <kendo-numerictextbox for="AccountBalance" />
                            <span asp-validation-for="AccountBalance" class="text-danger k-invalid-msg" data-for="AccountBalance"></span>
                        </div>
<div class="form-group">
    <input type="submit" value="Create" class="k-button k-primary" />
</div>
</form>
</div>
</div>

<div>
    <a asp-action="Index" class="k-button">Back to List</a>
</div>

