@model ERPMVC.DTO.AccountDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
           // {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "AccountId" && input.val() === "0") {
                return false;
            }

        }

        //$('#btnprueba').val("");
</script>



<div id="ModalAccounting" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Plan Contable</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmAccount" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveAccount"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Plan Contable</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AccountId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="AccountId" name="BranchId" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="AccountId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AccountName" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="AccountName" name="AccountchName" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="AccountName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Description" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Description" name="Description" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ParentAccountId" class="control-label"></label>
                                                    <input type="text" asp-for="ParentAccountId" name="ParentAccountId" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="ParentAccountId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AccountCode" class="control-label"></label>
                                                    <input type="text" asp-for="AccountCode" name="AccountCode" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="AccountCode" class="text-danger"></span>
                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IsCash" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IsCash" name="IsCash" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="IsCash" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IsContraAccount" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IsContraAccount" name="IsContraAccount" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="IsContraAccount" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ParentAccount" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="ParentAccount" name="ParentAccount" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="ParentAccount " class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnAccount" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function RefrescarGrid() {

        var grid = $("#gridNumeracionAccount").getKendoGrid();
        grid.dataSource.read();
    }
    function SaveAccount(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
        $("#btnAccount").hide();
        $("#btnAccount").prop("disabled", true);

        var displayedData = $("#gridNumeracionAccount").data().kendoGrid.dataSource.view();

        var dataObject = {
            'AccountId': $("#AccountId").val() === "" ? "0" : $("#AccountId").val(),
            'AccountName': $("#AccountName").val(),
                           'Description': $("#Description").val(),
            'ParentAccountId': $("#ParentAccountId").val(),
            'AccountCode': $("#AccountCode").val(),

            'IsCash': $("#IsCash").val(),
            'IsContraAccount': $("#IsContraAccount").val(),
            'ParentAccount': $("#ParentAccount").val(),
                           'FechaCreacion': $("#FechaCreacion").val(),
                           'FechaModificacion':$("#FechaModificacion").val(),
                           'UsuarioCreacion':$("#UsuarioCreacion").val(),
                           'UsuarioModificacion':$("#UsuarioModificacion").val(),
                           '_Account': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmAccount").data("kendoValidator");
                 var status = $(".status");


                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveAccount", "Account")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalAccount').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


        $("#btnAccount").show();
        $("#btnAccount").prop("disabled", false);
    }
</script>
