@model ERPMVC.DTO.AccountingDTO

@using Syncfusion.JavaScript

<script src="http://cdn.syncfusion.com/17.3.0.9/js/l10n/ej.localetexts.es-ES.min.js"></script>
<script src="http://cdn.syncfusion.com/js/assets/i18n/ej.culture.es-ES.min.js"></script>

<div class="row" id="div-cuenta">
    <div class="col-md-4">
        <div class="form-group">
            <label id="Cuentalbl">Seleccione la Cuenta</label>
            <kendo-dropdownlist name="Cuenta" filter="Kendo.Mvc.UI.FilterType.Contains"
                                option-label="Seleccione la cuenta "
                                datatextfield="AccountName"
                                datavaluefield="AccountId"
                                style="width: 100%;"
                                on-change="cargarParametros">
                <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                    <transport>
                        <read url="@Url.Action("GetAccountingDiaryActivos", "Accounting")" />
                    </transport>
                </datasource>
            </kendo-dropdownlist>
            <span id="Span" class="text-danger"></span>
            <script type="text/javascript">
                function cargarParametros() {
                    var reportObj = $('#reportviewer1').data("ejReportViewer");
                    reportObj.model.parameters = [{
                        name: 'AccountID',
                        labels: ['Cuenta'],
                        values: [$("#Cuenta").val()],
                        nullable: false
                    }
                    ];

                    reportObj._refreshReport();
        
                };
            </script>
        </div>
    </div>
</div>

<div style=" align-items:center; height:825px;width: 100%;">
    <ej-report-viewer id="reportviewer1" rendering-begin="renderingBegin" report-print="onPrintReport" processing-mode="Remote" 
                      report-service-url="/ReportViewer" report-loaded="onReportLoaded" locale="es-ES" report-path="/ReportsTemplate/HistoricoPorCuenta.rdl" />

</div>
<script type="text/javascript">

    


      function onPrintReport(args) {
        args.isStyleLoad = false;
        var data = $("#reportviewer1").data('ejReportViewer');
        if (data._browserInfo.name != "msie") {
            args.printWind.printDelay = 2000 * data._pageModel.TotalPages;
        }
    }

</script>



<ej-script-manager></ej-script-manager>