

<script>

    $(document).ready(function () {

         $.ajax({
                url: '@Url.Action("GetQuantityEmployees", "DashBoard")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
               // data: dataObject,
                 success: function (result) {
                     //console.log('Cotizaciones'+result);
                     $("#CantidadEmpleados").text(result);


                  },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus + ": " + XMLHttpRequest.responseText);
                  }
        });


         $.ajax({
                url: '@Url.Action("GetQuantityDepartamentos", "DashBoard")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
               // data: dataObject,
                 success: function (result) {
                     //console.log('Cotizaciones'+result);
                     $("#CantidadDepartamentos").text(result);


                  },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus + ": " + XMLHttpRequest.responseText);
                  }
               });

      
    });





    function error_handler(e) {
        var errors = $.parseJSON(e.xhr.responseText);

        if (errors) {
            alert("Errors:\n" + errors.join("\n"));
        }
    }



</script>


<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <h5><a asp-action="Index" asp-controller="Employees"><i class="card-title"></i>Total de Empleados</a></h5>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h3 class="font-medium m-b-0"><p id="CantidadEmpleados"></p> </h3>
                    </div>
                    <div class="ml-auto">
                        <i class="fa fa-users-cog" style="font-size:65px;color:cornflowerblue;"></i>
                        <div id="spark1"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <h5><a asp-action="Departamento" asp-controller="Departamento"><i class="card-title"></i>Total de Departamentos</a></h5>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h3 class="font-medium m-b-0"><p id="CantidadDepartamentos"></p> </h3>
                    </div>
                    <div class="ml-auto">
                        <i class="fa fa-flag" style="font-size:65px;color:cornflowerblue;"></i>
                        <div id="spark8"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    

</div>




