

<script>

    $(document).ready(function () {
            
         $.ajax({
                url: '@Url.Action("GetQuantityAlerts", "DashBoard")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
               // data: dataObject,
                 success: function (result) {
                     //console.log('Cotizaciones'+result);
                     $("#Alertdia").text(result);


                  },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus + ": " + XMLHttpRequest.responseText);
                  }
               });

        $.ajax({
                url: '@Url.Action("GetQuantityInformacionMediatica", "DashBoard")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                 success: function (result) {
                    console.log(result);
                     $("#InformacionMediatica").text(result);


                  },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus + ": " + XMLHttpRequest.responseText);
                  }
        });


         $.ajax({
                url: '@Url.Action("GetQuantityProductoProhibidos", "DashBoard")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                 success: function (result) {
                    console.log(result);
                     $("#ProductProhibidos").text(result);


                  },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus + ": " + XMLHttpRequest.responseText);
                  }
        });


         $.ajax({
                url: '@Url.Action("GetQuantityPEPS", "DashBoard")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                 success: function (result) {
                    console.log(result);
                     $("#RegistrosPEPS").text(result);


                  },
                 error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus + ": " + XMLHttpRequest.responseText);
                  }
         });






    });





    function error_handler(e) {
        var errors = $.parseJSON(e.xhr.responseText);

        if (errors) {
            alert("Errors:\n" + errors.join("\n"));
        }
    }

    

</script>

@*<div class="row" permiso="Contabilidad.Dashboard">*@
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <h5><a asp-action="Alerts" asp-controller="Alert"><i class="card-title"></i>Alertas del día</a></h5>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h3 class="font-medium m-b-0"><p id="Alertdia"></p> </h3>
                    </div>
                    <div class="ml-auto">
                        <i class="fa fa-monitor-heart-rate" style="font-size:65px;color:cornflowerblue;"></i>
                        <div id="spark1"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <h5><a asp-action="SubProductProhibidos" asp-controller="SubProduct"><i class="card-title"></i>Informacion mediatica Cantidad de registros</a></h5>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h3 class="font-medium m-b-0"><p id="InformacionMediatica"></p> </h3>
                    </div>
                    <div class="ml-auto">
                        <i class="fa fa-users-cog" style="font-size:65px;color:cornflowerblue;"></i>
                        <div id="spark8"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <h5><a asp-action="SubProductProhibidos" asp-controller="SubProduct"><i class="card-title"></i>Cantidad de Productos Prohibidos </a></h5>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h3 class="font-medium m-b-0"><p id="ProductProhibidos"></p> </h3>
                    </div>
                    <div class="ml-auto">
                        <i class="fa fa-ban" style="font-size:65px;color:cornflowerblue;"></i>
                        <div id="spark8"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">

                <h5><a asp-action="PEPS" asp-controller="PEPS"><i class="card-title"></i>Cantidad de registros PEPS</a></h5>
                <div class="d-flex">
                    <div class="align-self-center">
                        <h3 class="font-medium m-b-0"><p id="RegistrosPEPS"></p> </h3>
                    </div>
                    <div class="ml-auto">
                        <i class="fa fa-users-cog" style="font-size:65px;color:cornflowerblue;"></i>
                        <div id="spark8"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

 


</div>



