@using Kendo.Mvc.UI
@using ERPMVC.DTO

@{
    ViewData["Title"] = "Inicio";
}




    <div permiso="Contabilidad.Dashboard">
        @await Html.PartialAsync("DashboardContabilidad")
    </div>

    <div permiso="RRHH.Dashboard">
        @await Html.PartialAsync("DashboardRRHH")
    </div>

    <div permiso="Inventarios.Dashboard">
        @await Html.PartialAsync("DashboardOperaciones")
    </div>

    <div permiso="Monitoreo.Dashboard">
        @await Html.PartialAsync("DashboardRiesgo")
    </div>

    <div permiso="Dashboard Presidencial">
        @await Html.PartialAsync("DashboardPrecidencial")
    </div>




