@{
    Layout = null;
}

<div id="main-section-header" class="row">
    <div id="dateFilter" class="col-xs-9">
        <div class="period-wrapper">
            <label for="StartDate" class="select-period">Desde</label>
            @(Html.Kendo().DatePicker()
                .Name("FechaInicio2")
                .Value(DateTime.Now.AddMonths(-6))
               // .Events(e => e.Change("onCriteriaChange"))
            )
            <span class="k-invalid-msg" data-for="StartDate"></span>
        </div>
        <div class="period-wrapper">
            <label for="EndDate" class="select-period">Hasta </label>
            @(Html.Kendo().DatePicker()
                .Name("FechaFin2")
                .Value(DateTime.Now)
               //.Events(e => e.Change("onCriteriaChange"))
            )
            <span class="k-invalid-msg" data-for="EndDate"></span>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>

    <style>
        .demo-section k-content wide {
            text-align: center;
            padding-top: 20px;
            background-repeat: no-repeat;
        }
    </style>
