@model ERPMVC.DTO.ExchangeRateDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
// {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}


<script>
    function customFunction(input) {

        if (input.attr('name') === "ExchangeRateId" && input.val() === "0") {
            return false;
        }
    }

    //$('#btnprueba').val("");
</script>

<div id="ModalExchangeRate" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tasa de Cambio</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmExchangeRate" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveExchangeRate"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ExchangeRateId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="ExchangeRateId" name="ExchangeRateId" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="ExchangeRateId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            @if (Model.CurrencyName != null)
                                            {
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="DayofRate" class=" control-label" style="width:100%"></label>
                                                        <kendo-datepicker name="DayofRate" id="DayofRate"
                                                                          style="width: 100%;"
                                                                          culture="es-ES"
                                                                          readonly
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.DayofRate" />
                                                        <span asp-validation-for="DayofRate" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="DayofRate" class=" control-label" style="width:100%"></label>
                                                        <kendo-datepicker name="DayofRate" id="DayofRate"
                                                                          style="width: 100%;"
                                                                          culture="es-ES"                                                                          
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.DayofRate" />
                                                        <span asp-validation-for="DayofRate" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            }


                                            @*<div class="col-md-4">
         <div class="form-group">
             <label asp-for="ExchangeRateValue" class=" control-label" style="width:100%"></label>
             <kendo-numerictextbox name="ExchangeRateValue"
                                   format="n4" spinners="false"
                                   min="0.0000"
                                   required class="control-label right bold"
                                   style="width: 100%;text-align:right;padding-right: 3px"
                                   max="999999999.9999"
                                   step="1"
                                   value="Model.ExchangeRateValue" />
                                   <span asp-validation-for="ExchangeRateValue" class="text-danger"></span>
               </div>
        </div>*@
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CurrencyName" class="control-label" style="min-width: 100%;"></label>
                                                    <kendo-dropdownlist name="CurrencyId"
                                                                        for="@Model.CurrencyId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Moneda"
                                                                        datatextfield="CurrencyName"
                                                                        datavaluefield="CurrencyId"
                                                                        data-val-required="La Moneda es requerida"
                                                                        style="min-width: 100%;">

                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetCurrencyP", "Currency")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CurrencyId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                @*   value=@Model.ExchangeRateValue.ToString().Replace(',','.') *@
                                                <div class="form-group">
                                                    <label asp-for="ExchangeRateValue" class=" control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="ExchangeRateValue"
                                                           name="ExchangeRateValue"
                                                           maxlength="7"
                                                           format="n4"
                                                           class="form-control"
                                                           style="min-width:100%"
                                                           min="0.0000"
                                                           max="99.9999" 
                                                           data-val-required="El valor de Venta es requerido"
                                                           value=@Model.ExchangeRateValue.ToString().Replace(',','.') />
                                                    <style>
                                                        input[type=number]::-webkit-outer-spin-button,
                                                        input[type=number]::-webkit-inner-spin-button {
                                                            -webkit-appearance: none;
                                                            margin: 0;
                                                        }

                                                        input[type=number] {
                                                            -moz-appearance: textfield;
                                                        }
                                                    </style>
                                                    <span asp-validation-for="ExchangeRateValue" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                @*   value=@Model.ExchangeRateValue.ToString().Replace(',','.') *@
                                                <div class="form-group">
                                                    <label asp-for="ExchangeRateValueCompra" class=" control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="ExchangeRateValueCompra"
                                                           name="ExchangeRateValueCompra"
                                                           maxlength="7"
                                                           format="n4"
                                                           class="form-control"
                                                           style="min-width:100%"
                                                           min="0.0000"
                                                           max="99.9999" 
                                                           data-val-required="El valor de Compra es requerido"
                                                           value=@Model.ExchangeRateValueCompra.ToString().Replace(',','.') />
                                                    <style>
                                                        input[type=number]::-webkit-outer-spin-button,
                                                        input[type=number]::-webkit-inner-spin-button {
                                                            -webkit-appearance: none;
                                                            margin: 0;
                                                        }

                                                        input[type=number] {
                                                            -moz-appearance: textfield;
                                                        }
                                                    </style>
                                                    <span asp-validation-for="ExchangeRateValueCompra" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnExchangeRate" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    

    var input = document.getElementById('ExchangeRateValue');
    input.addEventListener('input', function () {
        if (this.value.length > 7)
            this.value = this.value.slice(0, 7);
    })


    function RefrescarGrid() {

        var grid = $("#gridNumeracionExchangeRate").getKendoGrid();
        grid.dataSource.read();

    }
    function SaveExchangeRate(e) {
        debugger;
       
            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
        $("#btnExchangeRate").hide();
        $("#btnExchangeRate").prop("disabled", true);
        var ExchangeRateValue = $("#ExchangeRateValue").val();
        var ExchangeRateValueCompra = $("#ExchangeRateValueCompra").val();
        //  var ExchangeRateDecimal = $("#ExchangeRateDecimal").val();
        dateval = $("#DayofRate").getKendoDatePicker().value();
        dateval1 = $("#DayofRate").val();
        //datestring = dateval.toString();
        //console.log(datestring);
        //console.log("String")
        //var displayedData = $("#gridNumeracionExchangeRate").data().kendoGrid.dataSource.view();
        var dataObject = {
            'ExchangeRateId': $("#ExchangeRateId").val(),
            'DayofRate': $("#DayofRate").getKendoDatePicker().value().toJSON(),
            'CurrencyId': $("#CurrencyId").val(),
            'CurrencyName': $("#CurrencyId").data("kendoDropDownList").text(),
            'ExchangeRateValue': (ExchangeRateValue),
            'ExchangeRateValueCompra': (ExchangeRateValueCompra),
          //  'ExchangeRateDecimal': (ExchangeRateDecimal),
        };
        console.log(dataObject.DayofRate);
        console.log("Datepicker")
        console.log(dateval)
        console.log(dateval1)

        var validator = $("#frmExchangeRate").data("kendoValidator");
                 var status = $(".status");
                if (validator.validate()) {
                    $.ajax({
                        url: '@Url.Action("SaveExchangeRate", "ExchangeRate")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });
                            RefrescarGrid();

                            $('#ModalExchangeRate').modal('hide');
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                             $.toast({
                                 heading: 'Error',
                                 text: '' + XMLHttpRequest.responseText,
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 30000,
                                stack: 6
                             });
                        }
                    });
                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
        $("#btnExchangeRate").show();
        $("#btnExchangeRate").prop("disabled", false);
    }
</script>

