@model ERPMVC.Models.Dependientes

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "BranchId" && input.val() === "0") {
                return false;
            }

        }

        //$('#btnprueba').val("");


    function closeDependientes() {
        $('#ModalDependientes').find(':input').not(':submit').val('0');
        // $('#myModalCustomerPhones').find(':select').not(':submit').val('0');
        //$("#ProductId").data("kendoDropDownList").value(0);
        //$("#BranchId").data("kendoDropDownList").value(0);
        //$("#TypeId").data("kendoDropDownList").value(0);
        //$("#CustomerId").data("kendoDropDownList").value(0);

        RefreshGridDependientes();
        $("#ModalDependientes").modal('hide');
    }

    function RefreshGridDependientes() {
        var grid = $("#gridDependientes").getKendoGrid();
        grid.dataSource.read();
        grid.refresh();
    }
</script>



<div id="ModalDependientes" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dependientes</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmDependientes" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveDependientes"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Dependientes</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdDependientes" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IdDependientes" name="IdDependientes" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="IdDependientes" class="text-danger"></span>
                                                </div>
                                            </div>
                                            </div>
                                        <div class="row">
                                            @*<div class="col-md-4">
                                                <div class="form-group">

                                                    <label asp-for="IdEmpleado" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IdEmpleado" name="IdEmpleado" class="form-control" disabled="disabled" style="width:100%" />*@

                                                    @*<kendo-dropdownlist for="@Model.IdEmpleado"
                                                                        id="IdEmpleado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el Empleado"
                                                                        enable="false"
                                                                        required
                                                                        datatextfield="NombreEmpleado"
                                                                        datavaluefield="IdEmpleado"
                                                                        style="width: 100%;">

                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="10000">
                                                            <transport>
                                                                <read url="@Url.Action("GetEmployees", "Common")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>*@
                                                    @*<span asp-validation-for="IdEmpleado" class="text-danger"></span>
                                                </div>
                                            </div>*@
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NombreDependientes" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="NombreDependientes" name="NombreDependientes" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="NombreDependientes" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Parentezco" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Parentezco" name="Parentezco" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="Parentezco" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TelefonoDependientes" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="TelefonoDependientes" id="TelefonoDependiente" maxlength="13" onkeypress="return SoloNumeros(event)" name="Telefono" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="TelefonoDependientes" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DireccionDependientes" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="DireccionDependientes" name="Direccion" id="DireccionDependiente" class="form-control" autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="DireccionDependientes" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnSaveDependientes" type="button" class="form-control btn-miboton" onclick="SaveDependientes(this);">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SaveDependientes(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnDependientes").hide();
            $("#btnDependientes").prop("disabled", true);

            //var displayedData = $("#gridDependientes").data().kendoGrid.dataSource.view();

            var dataObject = {  'IdDependientes': $("#IdDependientes").val()===""?"0":$("#IdDependientes").val(),
                           'IdEmpleado': $("#IdEmpleado").val(),
                           'NombreDependientes': $("#NombreDependientes").val(),
                           'Parentezco': $("#Parentezco").val(),
                           'TelefonoDependientes': $("#TelefonoDependiente").val(),
                           'DireccionDependientes': $("#DireccionDependiente").val(),
                           'FechaCreacion': $("#FechaCreacion").val(),
                           'FechaModificacion':$("#FechaModificacion").val(),
                           'Usuariocreacion':$("#Usuariocreacion").val(),
                           'Usuariomodificacion':$("#Usuariomodificacion").val(),
                          
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

            var validator = $("#frmDependientes").data("kendoValidator");
                 var status = $(".status");

           
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveDependientes", "Dependientes")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 4000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalDependientes').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    notification.show({
                        title: "Validación",
                        message: "Ingrese todos los datos en el formulario!"
                    }, "error");
                }
            

            $("#btnDependientes").show();
            $("#btnDependientes").prop("disabled", false);
    }
    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }
</script>
