@model ERPMVC.DTO.ControlPalletsDTO

@using Syncfusion.JavaScript

<div style=" align-items:center; height:525px;width: 100%;">
    <ej-report-viewer id="reportviewer1" rendering-begin="renderingBegin" processing-mode="Remote" ajax-before-load="ajaxBeforeLoad" report-service-url="/ReportViewer"  report-loaded="onReportLoaded" report-path="/ReportsTemplate/ControlEstibas.rdl" />
</div>


<script type="text/javascript">

    function ajaxBeforeLoad(event) {
        var parameters = [{
            name: 'ControlPalletsId',
            labels: ['@Model.ControlPalletsId'],
            values: [@Model.ControlPalletsId],
            nullable: false
        }
        ];
        event.data = parameters;
    }; 

    function onReportLoaded(sender) {
        var reportObj = $('#reportviewer1').data("ejReportViewer");
        reportObj.model.parameters = [{
            name: 'ControlPalletsId',
            labels: ['@Model.ControlPalletsId'],
            values: ['@Model.ControlPalletsId'],
            nullable: false
        }
        ];
    }

</script>


<ej-script-manager></ej-script-manager>