<div id="ModalTipoDeduccionUpload" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CerrarTipoDeduccion();">&times;</button>
                <h4 class="modal-title">Tipo de Deducción</h4>
            </div>

            <div class="modal-body" kendo-validator="true" name="mdlCuerpo">

            </div>
        </div>
    </div>
</div>

<script>
    function CerrarTipoDeduccion() {
        window.RefreshTipoDeduccion();
        $("#ModalTipoDeduccionUpload").modal('hide');
    }
</script>