@model ERPMVC.DTO.ConciliacionDTO

<script>
    function SaveConciliacion(e) {


        //var formdata = new FormData($('#CustomerDocument').get(0));

        var dataObject = {
            'ConciliacionId': $("#ConciliacionId").val(),
            'AccountId': $("#AccountId").val(),
            'AccountName': $("#AccountId").data("kendoDropDownList").text(),

        };

        e.data = dataObject;

          
    }

    function closeConciliacionBancaria() {
       
        RefreshConciliacion();
        $("#myModalConciliacionUpload").modal('hide');
    }
    
</script>


<div id="myModalConciliacionUpload" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeConciliacionBancaria();">&times;</button>
                <h4 class="modal-title">Conciliación bancaria</h4>
            </div>
            <div class="modal-body">
                <div class="box">
                    Extensiones Permitidas: .xls, .xlsx
                </div>

                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">

                            @*data-ajax-method="post"
        method="post"
        data-ajax-begin="return SaveCustomerDocument();"
        data-ajax="true"*@

                            <div class="card-body">
                                @* method="post"
        action='@Url.Action("Submit")' enctype="multipart/form-data"
                                *@
                                <form id="ConciliacionBancaria"
                                      data-ajax="true">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">Cuenta</label>
                                                <kendo-dropdownlist name="AccountId"
                                                                    for="AccountId"
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccionar Cuenta"
                                                                    datatextfield="Description"
                                                                    datavaluefield="AccountId"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                        <transport>
                                                            <read url="@Url.Action("GetAccount", "Accounting")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label" style="width: 100%;">Fecha de inicio</label>
                                                <kendo-datetimepicker name="DateBeginReconciled"
                                                                      for="DateBeginReconciled"                        
                                                                      style="width: 100%;"
                                                                      format="yyyy-MM-dd"
                                                                      data-val-required="La fecha es requerida" required></kendo-datetimepicker>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label" style="width: 100%;">Fecha Final</label>
                                                <kendo-datetimepicker name="DateEndReconciled"
                                                                      for="DateEndReconciled"
                                                                      style="width: 100%;"
                                                                      format="yyyy-MM-dd"
                                                                      data-val-required="La fecha es requerida" required></kendo-datetimepicker>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <kendo-upload  drop-zone="drop-zone1" name="files" on-upload="SaveConciliacion">
                                            <localization  select="Seleccionar Archivos"/>
                                            <async save-url="@Url.Action("SaveConciliacion","Conciliacion")" />
                                            <validation allowed-extensions='@new string[] { ".xls",".xlsx" }' max-file-size="10485760" />
                                        </kendo-upload>

                                    </div>
                                    @*
        <div class="demo-section k-content">
            <input id="files" name="files" type="file" data-role="upload" multiple="multiple" autocomplete="off" required>

            <button>submit</button>
        </div>
                                    *@
                                </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
        </div>
    </div>
 </div>
