@using Kendo.Mvc.UI
@{
    ViewData["Title"] = "Balance de Saldos";
}

<div style=" align-items:center; height:825px;width: 100%;">
    <ej-report-viewer id="rpvReporte" rendering-begin="renderingBegin" report-print="onPrintReport" processing-mode="Remote" print-mode="true"
                      report-service-url="/ReportViewer" locale="es-ES" report-loaded="onReportLoaded" report-path="/ReportsTemplate/BalanceDeSaldos.rdl" />

</div>
<ej-script-manager></ej-script-manager>

<script type="text/javascript">
    function onReportLoaded(sender) {
        $("#rpvReporte_viewReportClick").val("Ver Reporte");
        var reportObj = $('#reportviewer1').data("ejReportViewer");
        //console.log('Llega al ReportLoaded');
        @* reportObj.model.parameters =[{
            name: 'SalesOrderId',
            labels: ['@Model.SalesOrderId'],
            values: ['@Model.SalesOrderId'],
            nullable: false
        }
        ];*@
    }
</script>
