
<script src="~/admp/assets/plugins/wizard/stepsGoodsDeliveryAuthorization.js"></script>

<script>
    function AsociarCertificados() {
        $("#CustomerId").data("kendoDropDownList").value($("#CustomerIdAsociarRecibo").val());
        $("#CustomerName").val($("#CustomerIdAsociarRecibo").data("kendoDropDownList").text());
        var notification = $("#notification").data("kendoNotification");

        var grid = $("#gridGoodsDeliveredAuthorizationLine").data("kendoGrid");
        var datasource = grid.dataSource;
        var raw = datasource._data;
        for (i = datasource._data.length - 1; i >= 0; i--) {
            item = raw[i];
            datasource.remove(item);
        }


        //var agregados = '';
        var list = [];
        $("#ddlRecibosAsociados > option").each(function () {
            //  alert(this.text + ' ' + this.value);
           // agregados += this.value + ',';
            list.push(this.value);
        });

       // agregados = agregados.substring(0, agregados.length - 1);
        //console.log(agregados);
        var dataObject = { 'CertificadosSeleccionados': list };
           $.ajax({
            url: '@Url.Action("AgruparCertificados", "CertificadoDeposito")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (data) {
               // console.log(data);
                for (j = 0; j < data.length; j++) {

                    hcustom = data[j].CustomerId;
                    $("#FechaCertificado").val(data[j].FechaCertificado);
                    $("#FechaDeVencimiento").val(data[j].FechaVencimiento);
                    $("#ProductId").data("kendoDropDownList").value(data[j].ServicioId);
                    // $("#idrecibo").text(data.NoCD);
                    // $("#ServicioName").text(data.ServicioName);
                    // $("#WarehouseName").text(data.WarehouseName);
                    $("#WarehouseId").data("kendoDropDownList").value(data[j].WarehouseId);
                    $("#BranchId").data("kendoDropDownList").value(data[j].BranchId);
                    $("#CurrencyId").data("kendoDropDownList").value(data[j].CurrencyId);
                    $("#BankId").data("kendoDropDownList").value(data[j].BankId);
                   // console.log(data);
                    var sumacantidad = 0, total = 0;
                    if (data[j]._CertificadoLine.length <= 8) {
                        for (i = 0; i < data[j]._CertificadoLine.length; i++) {
                            datasource.insert({
                                GoodsDeliveryAuthorizationLineId: 0
                                , GoodsDeliveryAuthorizationId: 0
                                , IdCD: data[j]._CertificadoLine[i].IdCD
                                , NoCertificadoDeposito: data[j].NoCD
                                , UnitOfMeasureId: data[j]._CertificadoLine[i].UnitMeasureId
                                , UnitOfMeasureName: data[j]._CertificadoLine[i].UnitMeasurName
                                , WarehouseId: data[j].WarehouseId
                                , WarehouseName: data[j].WarehouseName
                                , SubProductId: data[j]._CertificadoLine[i].SubProductId
                                , SubProductName: data[j]._CertificadoLine[i].SubProductName
                                , Quantity: "", Quantity: data[j]._CertificadoLine[i].Quantity
                                , Price: data[j]._CertificadoLine[i].Price
                                , valorcertificado : data[j].Total
                            });

                            //datasource.sync();

                            //sumacantidad += data._CertificadoLine[i].Quantity;
                            //total += (data._CertificadoLine[i].Price * data._CertificadoLine[i].Quantity) ;
                        }

                        CalcularTotalDocumento();

                        // $("#Quantitysum").data("kendoNumericTextBox").value(sumacantidad);
                        //$("#Total").data("kendoNumericTextBox").value(total);

                    }
                    else {
                        notification.show({
                            title: "Validacion",
                            message: "No pueden existir mas de 8 productos!s"
                        }, "error");
                    }
                }

            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                  alert(textStatus + ": " + XMLHttpRequest.responseText);
             }
          });


  

    }
</script>

<!-- Validation wizard -->
<div class="row" id="validation">
    <div class="col-12">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title">Asociar certificados de deposito a Autorización</h4>
                <h6 class="card-subtitle">Solo seleccionar 8 productos</h6>
                <form action="#" class="validation-wizard wizard-circle"
                      data-ajax="true"
                      data-ajax-begin="AsociarCertificados">
                    <div class="alert alert-danger" style="display:none" id="alertamsj"></div>
                    <!-- Step 1 -->
                    <h6>Seleccione el Cliente</h6>
                    <section>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <script>

                                        function GetSubProduct(e) {
                                            var dataItem = e.dataItem;
                                            $("#hcustomerid").val(dataItem.CustomerId);
                                            hcustom = dataItem.CustomerId;
                                            $("#SubProductId").data("kendoDropDownList").dataSource.read();

                                        }

                                    </script>


                                    <label class="control-label"></label>

                                    <kendo-dropdownlist name="CustomerIdAsociarRecibo" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        option-label="Seleccione Cliente"
                                                        required
                                                        datatextfield="CustomerName"
                                                        datavaluefield="CustomerId"
                                                        class="required"
                                                        style="width: 100%;">
                                        <datasource type="DataSourceTagHelperType.WebApi">
                                            <transport>
                                                <read url="@Url.Action("GetCustomer", "Common")" />
                                            </transport>
                                        </datasource>
                                    </kendo-dropdownlist>

                                </div>
                            </div>
                        </div>


                    </section>
                    <!-- Step 2 -->
                    <h6>Seleccione los certificados de deposito</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    @*<label for="cbxBuscarCertificadosDeposito" class="control-label" style="width:100%">Asociar control de estiba</label>*@

                                    <script>
                                        function valueMapper(options) {
                                          //  console.log('llega value mapper');
                                              $.ajax({
                                                  url: "@Url.Action("Orders_ValueMapper", "CertificadoDeposito")",
                                                  data: convertValues(options.value),
                                                  //data: { 'CustomerId': $("#CustomerIdAsociarRecibo").val() , 'values': convertValues(options.value) },
                                                  success: function (data) {
                                                      options.success(data);
                                                  }
                                              });
                                          }                                

                                          function convertValues(value) {
                                              var data = {};
                                              value = $.isArray(value) ? value : [value];

                                              for (var idx = 0; idx < value.length; idx++) {
                                                  data["values[" + idx + "]"] = value[idx];
                                              }

                                              return data;
                                        }

                                          function changesetearvalues() {
                                             // var dataObject = { 'Id': $("#cbxBuscarCertificadosDeposito").val() };
                                             // console.log('changesetearvalues');
                                              if ($("#cbxBuscarCertificadosDeposito").val() > 0) {
                                                  LlenarRecibo();
                                              }
                                          }

                                        function AddRecibos() {
                                            if ($("#cbxBuscarCertificadosDeposito").val() !== '')
                                            {
                                                var existe = false;
                                                $("#alertamsj").css('display', 'none');
                                                $("#ddlRecibosAsociados > option").each(function () {
                                                    if ($("#cbxBuscarCertificadosDeposito").val() === this.value) {
                                                        existe = true;
                                                    }
                                                });

                                                if (existe === false) {
                                                    $('#ddlRecibosAsociados').append('<option value="' + $("#cbxBuscarCertificadosDeposito").val() + '">' + '' + $("#cbxBuscarCertificadosDeposito").data("kendoDropDownList").text() + '</option>');
                                                }
                                            }
                                            else
                                            {
                                                $("#alertamsj").css('display', 'block');
                                                $("#alertamsj").text('Debe seleccionar un recibo!');
                                            }
                                        }

                                        function GetCustomerIdP() {
                                            return { 'CustomerId': $("#CustomerIdAsociarRecibo").val() }
                                        }


                                    </script>

                                 
                                    @(Html.Kendo().DropDownList()
                                                      .Name("cbxBuscarCertificadosDeposito")
                                                      .Filter(Kendo.Mvc.UI.FilterType.Contains)
                                                      .OptionLabel("Buscar")
                                                      .DataTextField("CustomerName")
                                                      .DataValueField("IdCD")
                                                      .HtmlAttributes(new { style = "width:100%" })
                                                      .Height(290)
                                                      .CascadeFrom("CustomerIdAsociarRecibo")
                                                      .Events(e =>
                                                      {
                                                          e.Change("changesetearvalues");
                                                          // e.Filtering("applyFilterCustomer");
                                                      })
                                                      .AutoBind(true)
                                                      .DataSource(source =>
                                                      {
                                                          source.Ajax()
                                                          .PageSize(80)

                                                          .Read(r=> {
                                                              r.Action("Virtualization_Read", "CertificadoDeposito");

                                                          });
                                                      })
                                                      
                                                      .Virtual(v => v.ItemHeight(26).ValueMapper("valueMapper"))
                                    )
                                </div>
                            </div>

                            <div class="col-md-4">
                                <input type="button" class="btn waves-effect waves-light btn-primary" onclick="AddRecibos();" value="Agregar Certificado" />
                                @*<button id="btnAgregarRecibo" onclick="AddRecibos();" style="width:100%;height:100%;" class="btn-google-plus">Agregar Recibo</button>*@

                            </div>

                        </div>

                        <div class="row">

                        </div>

                       @await Html.PartialAsync("pvwCertificadoDepositoRead")
                    </section>
                    <!-- Step 3 -->
                    <h6>Recibos Asociados</h6>
                    <section>
                        <div class="row">
                            <div class="col-md-6">
                       
                                <div class="form-group">
                                    <label for="wintType1">Certificados Asociados :</label>
                                    <select class="custom-select form-control required" id="ddlRecibosAsociados" data-placeholder="Type to search cities" name="wintType1">
                                
                                    </select>
                                </div>

                            </div>
                        </div>
                    </section>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- vertical wizard -->

<br/>