@using Kendo.Mvc.UI
<h3 class="text-themecolor">Carga de Archivo Biometrico</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <form id="frmBiometrico" enctype="multipart/form-data" kendo-validator="true" method="post" action="@Url.Action("GuardarBiometrico","Biometrico")">
                    <div class="form-group">
                        <label for="Fecha">Fecha:</label>
                        <input id="Fecha" name="Fecha" />
                    </div>
                    <div class="form-group">
                        <label for="Observacion">Observación:</label>
                        <input id="Observacion" name="Observacion" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="Archivo">Archivo:</label>
                        <input id="Archivo" name="Archivo" type="file" />
                    </div>
                    <div class="form-group">
                        <input type="submit"/>
                    </div>
                </form>
            </div>
            <div class="row">
                <h4>Archivos Cargados</h4>
                <div id="grdConfiguracion"></div>
            </div>
        </div>
    </div>
</div>
<script>


    function CrearGrid() {
        $("#grdConfiguracion").kendoGrid({
            dataSource: {
                transport: {
                    read: "@Url.Action("GetBiometricos", "Biometrico")"
                },
                schema: {
                    model: {
                        id:"Id",
                        fields: {
                            Id: { type: "number", editable: false },
                            Fecha: { type: "date", editable: false }, 
                            Observacion: { type:"string", editable: false },
                            IdEstado: { type: "number", editable: false },
                            Estado: { defaultValue: {IdEstado:0,NombreEstado:""}, editable: false }
                        }
                    }
                }
            },
            columns: [
                {
                    command: [
                        { name: "ver", iconClass: "fa fa-eye", text: "", click:VerDetalle },
                        { name: "aprobar", iconClass: "fa fa-thumbs-up", text: "", click:Aprobar },
                        { name: "rechazar", iconClass: "fa fa-thumbs-down", text: "", click:Rechazar }
                    ],
                    width:150
                },
                { field: "Id", title: "Id. ", width: 80 },
                { field: "Fecha", title: "Fecha", width: 100, template: '#= kendo.toString(Fecha,"dd/MM/yyyy")#' },
                { field: "Observacion", title: "Observacion"},
                { field: "Estado", title: "Estado", width: 100, template: "#= Estado.NombreEstado #"}
            ],
            noRecords: {
                template:"No archivos biometricos cargados"
            },
            //height: 400,
            scrollable: true,
            editable: false
        });
    }

    function EditorFecha() {
        $("#Fecha").kendoDatePicker({ dateInput: true, format: "dd/MM/yyyy" });
    }

    function EditorArchivo() {
        $("#Archivo").kendoUpload({
            multiple:false
        });
    }

    function VerDetalle(e) {

    }

    function Aprobar(e) {

    }

    function Rechazar(e) {

    }

    $(document).ready(function () {
        EditorFecha();
        CrearGrid();
    });
</script>