@using Kendo.Mvc.UI
<h3 class="text-themecolor">Carga de Archivo Biometrico</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
                <form id="frmBiometrico" enctype="multipart/form-data" kendo-validator="true" method="post" action="@Url.Action("GuardarBiometrico","Biometrico")">
                    <div class="form-group">
                        <label for="Fecha">Fecha:</label>
                        <input id="Fecha" name="Fecha" />
                    </div>
                    <div class="form-group">
                        <label for="Observacion">Observación:</label>
                        <input id="Observacion" name="Observacion" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="Archivo">Archivo:</label>
                        <input id="Archivo" name="Archivo" type="file" />
                    </div>
                    <div class="form-group">
                        <input type="submit"/>
                    </div>
                </form>
            </div>
            <div class="row">
                <h4>Archivos Cargados</h4>
                <div id="grdConfiguracion"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        EditorFecha();
        //EditorArchivo();
    });

    function EditorFecha() {
        $("#Fecha").kendoDatePicker({ dateInput: true, format: "dd/MM/yyyy" });
    }

    function EditorArchivo() {
        $("#Archivo").kendoUpload({
            multiple:false
        });
    }
</script>