@{
    var idBiometrico = (long) ViewData["IdBiometrico"];
}
<div id="modalDetalle" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalle de Archivo Biometrico</h4>
                <button type="button" class="close" onclick="cerrarDetalle();">&times;</button>
            </div>
            <br/>
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-1"></div>
                    <div class="col-lg-8 col-md-8 col-sm-10">
                        <div id="grdDetalle"></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-1"></div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<script>

    function CrearGrid() {
        $("#grdDetalle").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: "@Url.Action("GetDetalleBiometrico", "Biometrico")",
                        data: {
                            IdBiometrico:@idBiometrico
                        }
                    }
                },
                schema: {
                    model: {
                        id:"Id",
                        fields: {
                            Id: { type: "number", editable: false },
                            Empleado: { defaultValue: {IdEmpleado:0,NombreEmpleado:""}, editable: false },
                            IdBiometrico: { type:"number", editable: false },
                            FechaHora: { type: "date", editable: false },
                            Tipo: { type:"string", editable: false }
                        }
                    }
                }
            },
            columns: [
                { field: "Id", title: "Código", width: 80 },
                { field: "Empleado", title: "Empleado", width: 100, template: '#= Empleado.NombreEmpleado #' },
                { field: "FechaHora", title: "FechaHora Entrada/Salida", width:150, template: '#= kendo.toString(FechaHora, "dd/MM/yyyy hh:mm tt") #'},
                { field: "Tipo", title: "Tipo Registro", width: 100, template: '#= Tipo==="E"?"ENTRADA":"SALIDA" #'}
            ],
            noRecords: {
                template:"Archivo sin detalle"
            },
            //height: 400,
            width:430,
            scrollable: true,
            editable: false
        });
    }

    function cerrarDetalle() {
        window.RefreshBiometrico();
        $("#modalDetalle").modal('hide');
    }

    $(document).ready(function () {
        CrearGrid();
    });
</script>