@model ERPMVC.Models.InsuranceCertificate

@using Syncfusion.JavaScript

<div style=" align-items:center; height:825px;width: 100%;">
    <ej-report-viewer id="reportviewer1" rendering-begin="renderingBegin" report-print="onPrintReport" processing-mode="Remote" locale="es-ES"
report-service-url="/ReportViewer"  report-loaded="onReportLoaded" report-path="/ReportsTemplate/CertificadodeSeguros.rdl" />

</div>




<script type="text/javascript">

    


    function onReportLoaded(sender) {

        var reportObj = $('#reportviewer1').data("ejReportViewer");

        //console.log('Llega al ReportLoaded');
        reportObj.model.parameters = [{
            name: 'InsuranceCertificateId',
            labels: ['@Model.Id'],
            values: ['@Model.Id'],
            nullable: false
        }
        ];
    }


</script>


<ej-script-manager></ej-script-manager>