@model ERPMVC.DTO.HoursWorkedDTO
@using System.Security.Claims
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
{"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}

<script>
    function customFunction(input) {
        if (input.attr('name') === "IdHorastrabajadas" && input.val() === "0") {
            return false;
        }
    }
</script>

<div id="myModalHoursWorked" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Horas Trabajadas</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmHoursWorked" kendo-validator="true"
                                      data-ajax-begin="SaveHoursWorked"
                                      method="post" class="validation-wizard wizard-circle">
                                    <div class="form-body">

                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdHorastrabajadas" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IdHorastrabajadas" name="IdHorastrabajadas" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="IdHorastrabajadas" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEmpleado" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEmpleado"
                                                                        for="@Model.IdEmpleado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Empleado"
                                                                        datatextfield="NombreEmpleado"
                                                                        datavaluefield="IdEmpleado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetActivos", "Employees")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaEntrada" class=" control-label" style="width:100%">Fecha Entrada</label>
                                                    <kendo-datetimepicker name="FechaEntrada" style="width: 300px;"
                                                                          format="dd/MM/yyyy"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaEntrada"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaEntrada" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="EsFeriado" class=" control-label" style="width:100%"></label>
                                                    @(Html.Kendo().SwitchFor(m => m.EsFeriado))
                                                    <span asp-validation-for="EsFeriado" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="MultiplicaHoras" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="MultiplicaHoras" name="MultiplicaHoras" onkeypress="return SoloNumeros(event)" class="form-control" required autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="MultiplicaHoras" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div id="numHoursWorkedDetail">
                                        @await Html.PartialAsync("pvwHoursWorkedDetail", Model, new ViewDataDictionary(ViewData) { { "permisosHoursWorked", permisos } })
                                    </div>

                                    <div class="clearfix">&nbsp;</div>
                                    <div class="clearfix">&nbsp;</div>

                                    <div class="row">
                                        <button id="btnHoursWorked" type="submit" class="form-control btn-miboton" onclick="SaveHoursWorked(this);">Guardar</button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function SaveHoursWorked(e) {
        //if ($("#IdHorastrabajadas").val() == 0 || $("#IdHorastrabajadas").val() == null) {
        if ($("#IdEmpleado").data("kendoDropDownList").text() == "Seleccionar Empleado" || $("#IdEmpleado").data("kendoDropDownList").text() == null) {
            alert("Seleccione un Empleado!");
        }
        else if ($("#FechaEntrada").getKendoDateTimePicker().value() == "" || $("#FechaEntrada").getKendoDateTimePicker().value() == null) {
            alert("Selecione una fecha de Entrada!");
        }
        else if ($("#MultiplicaHoras").val() == "" || $("#MultiplicaHoras").val() == null) {
            alert("Favor llene el campo Multiplica Horas!");
        }
        else {
            var notification = $("#notification").data("kendoNotification");
            $("#btnHW").hide();
            $("#btnHW").prop("disabled", true);

            var displayedData = $("#gridHWD").data().kendoGrid.dataSource.view();
            var id = 0;
            debugger;
            if ($("#IdHorastrabajadas").val() == 0) {
                if (displayedData.length > 0) {
                    for (var i = 0; i < displayedData.length; i++) {
                        if (displayedData[i].IdDetallehorastrabajadas > id)
                        displayedData[i].IdDetallehorastrabajadas = 0;

                    }
                    id = 0;
                }
            }
            //data.IdDetallehorastrabajadas = id;
            var dataObject =
            {
                'IdHorastrabajadas': $("#IdHorastrabajadas").val() === "" ? "0" : $("#IdHorastrabajadas").val(),
                'IdEmpleado': $("#IdEmpleado").val(),
                'FechaEntrada': $("#FechaEntrada").getKendoDateTimePicker().value().toJSON(),
                'NombreEmpleado': $("#IdEmpleado").data("kendoDropDownList").text(),
                'EsFeriado': $("#EsFeriado").is(':checked'),
                'MultiplicaHoras': $("#MultiplicaHoras").val(),
                'idhorastrabajadasconstrains': displayedData
            };

            var validator = $("#frmHoursWorked").data("kendoValidator");
            var status = $(".status");
            //if (displayedData.length > 0) {
            if (validator.validate()) {

                //if (validator.validate()) {

                $.ajax({
                    url: '@Url.Action("SaveHoursWorked", "HoursWorked")',
                    method: 'POST',
                    datatype: "json",
                    contentType: 'application/json',
                    async: false,
                    data: JSON.stringify(dataObject),
                    success: function (data) {
                        $.toast({
                            heading: 'Satisfactorio',
                            text: 'Datos guardados correctamente.',
                            position: 'top-right',
                            loaderBg: '#ff6849',
                            icon: 'success',
                            hideAfter: 30000,
                            stack: 6
                        });
                        $('#myModalHoursWorked').modal('hide');
                        RefrescarGrid();
                        RefreshHoursWorkedDetail();
                        ClearSession();
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        notification.show({
                            title: "Validación",
                            message: textStatus + ": " + XMLHttpRequest.responseText
                        }, "error");
                    }
                });
            }
            else {
                notification.show({
                    title: "Validación",
                    message: "Datos invalidos"
                }, "error");
            }
        }
    }

</script>
