@model ERPMVC.Models.EndososCertificados
@using System.Security.Claims
@{
}

<h3>Información de Endoso</h3>
<hr />
<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="form-group">
            <label asp-for="FechaOtorgado" class="control-label" style="width:100%">Fecha de Registro</label>
            <kendo-datetimepicker name="FechaInicioComputo" readonly
                                  style="width: 100%;"
                                  format="dd/MM/yyyy hh:mm:ss"
                                  time-format="hh:mm:ss"
                                  data-val-required="La fecha es requerida"
                                  value="Model.DocumentDate" />
            <span asp-validation-for="FechaOtorgado" class="text-danger"></span>
        </div>
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="form-group">
            <label name="FechaOtorgada" class="control-label" style="width:100%">Fecha Otorgada</label>
            <kendo-datetimepicker name="FechaOtorgada"
                                  style="width: 100%;" readonly
                                  format="dd/MM/yyyy hh:mm:ss"
                                  time-format="hh:mm:ss"
                                  data-val-required="La fecha es requerida"
                                  value="Model.FechaOtorgado" />
        </div>

    </div>
    <div class="col-sm-4 col-md-3">
        <div class="form-group">
            <label asp-for="FechaLiberacion" class="control-label" style="width:100%">Fecha de Pago</label>
            <kendo-datetimepicker name="FechaPagoBanco" readonly
                                  style="width: 100%;"
                                  format="dd/MM/yyyy hh:mm:ss"
                                  time-format="hh:mm:ss"
                                  data-val-required="La fecha es requerida"
                                  value="Model.FechaLiberacion" />
        </div>

    </div>


    <div class="col-sm-4 col-md-3">
        <div class="form-group">
            <label asp-for="NombreEndoso" class="control-label" style="width:100%">Tipo</label>
            <input type="text" asp-for="NombreEndoso" required class="k-textbox " style="min-width: 100%" readonly />
            <span asp-validation-for="NombreEndoso" class="text-danger"></span>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-sm-4 col-md-3">
        <div class="form-group">
            <label asp-for="BankId" class="control-label" style="width:100%"></label>
            <kendo-dropdownlist name="BankId" for="@Model.BankId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                option-label="Seleccione el banco"
                                datatextfield="BankName"
                                datavaluefield="BankId" enable="false"
                                auto-bind="true"
                                required
                                style="width: 100%;">
                <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="999999999">
                    <transport>
                        <read url="@Url.Action("GetJson", "Bank")" />
                    </transport>
                </datasource>
            </kendo-dropdownlist>
        </div>

    </div>
    <div class="col-md-3">
        <label asp-for="ValorEndosar" class="control-label" style="width:100%"></label>
        <kendo-numerictextbox name="MontoGarantia"
                              format="n" readonly
                              min="0"
                              max="99999999"
                              step="1"
                              style="width: 100%;"
                              value="Model.ValorEndosar" />
    </div>


    <div class="col-md-3">
        <label asp-for="TasaDeInteres" class="control-label" style="width:100%"></label>
        <kendo-numerictextbox name="PorcentajeInteresesInsolutos"
                              format="n" readonly
                              min="0"
                              max="99999999"
                              step="1"
                              style="width: 100%;"
                              value="Model.TasaDeInteres" />
    </div>
    <div class="col-sm-4 col-md-3">
        <div class="form-group">
            <label asp-for="FirmadoEn" class="control-label" style="width:100%">Lugar de Firma</label>
            <input type="text" asp-for="FirmadoEn" required class="k-textbox" style="min-width: 100%" readonly />
            <span asp-validation-for="FirmadoEn" class="text-danger"></span>
        </div>
    </div>


</div>