


<script>
    function LlenarRecibo() {
        var dataObject = {
            'GoodsReceivedId': $("#cbxBuscarGoodsReceived").val()
        };
        $.ajax({
            url: '@Url.Action("GetGoodsReceivedById", "GoodsReceived")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (data) {
               // console.log(data);

                $("#clienterecibo").text(data.CustomerName);
                $("#FechaRecibo").text(data.DocumentDate);
                $("#FechaDeVencimiento").text(data.ExpirationDate);
                $("#idrecibo").text(data.GoodsReceivedId);
               //$("#SubTotalRead").text(data.SubTotal);
               //$("#TotalRead").text(data.Total);
                var trHTML = '';
                for (var f = 0; f < data._GoodsReceivedLine.length; f++) {
                    trHTML += '<tr>';
                    trHTML += '<td>' + data._GoodsReceivedLine[f].GoodsReceiveLinedId + '</td>';
                    trHTML += '<td>' + data._GoodsReceivedLine[f].GoodsReceivedId + '</td>';
                    trHTML += '<td>' + data._GoodsReceivedLine[f].SubProductName + '</td>';
                    trHTML += '<td>' + data._GoodsReceivedLine[f].UnitOfMeasureName + '</td>';              
                    trHTML += '<td>' + data._GoodsReceivedLine[f].Quantity + '</td>';
                    trHTML += '<td>' + data._GoodsReceivedLine[f].Price + '</td>';
                    trHTML += '<td>' + data._GoodsReceivedLine[f].Total + '</td>';
                    trHTML += '</tr>';  
                }
                $('#bodyrecibomercaderia').html(trHTML);

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus + ": " + XMLHttpRequest.responseText);
            }
        });
    }
</script>



<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>Recibo de Mercadería No</b> <b id="idrecibo"></b></h3>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <h4 class="font-bold">Cliente</h4>
                    <h4 class="font-bold" id="clienterecibo"></h4>
                </div>
                <div class="col-md-4">
                    <b>Fecha de documento :</b> <i class="fa fa-calendar"></i> <p id="FechaRecibo">dd/MM/yyyy</p></p>

                </div>
                <div class="col-md-4">
                    <p><b>Fecha de vencimiento :</b> <i class="fa fa-calendar"></i> <p id="FechaDeVencimiento">dd/MM/yyyy</p></p>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-12">
                    <div class="table-responsive m-t-40" style="clear: both;">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th >Id Linea</th>
                                    <th >Id</th>
                                    <th>Producto</th>
                                    <th>Unidad de medida</th>
                                    <th class="text-right">Cantidad</th>
                                    <th class="text-right">Precio</th>
                                    <th class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody id="bodyrecibomercaderia">
                                @*<tr>
                                    <td class="text-center">1</td>
                                    <td>Milk Powder</td>
                                    <td class="text-right">2 </td>
                                    <td class="text-right"> $24 </td>
                                    <td class="text-right"> $48 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td>Air Conditioner</td>
                                    <td class="text-right"> 3 </td>
                                    <td class="text-right"> $500 </td>
                                    <td class="text-right"> $1500 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">3</td>
                                    <td>RC Cars</td>
                                    <td class="text-right"> 20 </td>
                                    <td class="text-right"> %600 </td>
                                    <td class="text-right"> $12000 </td>
                                </tr>
                                <tr>
                                    <td class="text-center">4</td>
                                    <td>Down Coat</td>
                                    <td class="text-right"> 60 </td>
                                    <td class="text-right">$5 </td>
                                    <td class="text-right"> $300 </td>
                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
