@model ERPMVC.DTO.ContactPersonDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
     {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "ContactPersonId" && input.val() === "0") {
                return false;
            }

        }

        //$('#btnprueba').val("");
</script>



<div id="ModalContactPerson" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="width:98%">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contactos</h4>
            </div>
            <div class="modal-body"  >
                <div class="row" id="validation">
                    <div class="col-lg-11">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmContactPerson" kendo-validator="true" kendo-messages="messages"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveContactPerson"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Contactos del Proveedor</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ContactPersonId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="ContactPersonId" name="ContactPersonId" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="ContactPersonId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ContactPersonName" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="ContactPersonName" name="ContactPersonName"  required class="form-control form-control-line" style="min-width:100%" />
                                                    <span asp-validation-for="ContactPersonName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ContactPersonIdentity" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="ContactPersonIdentity" name="ContactPersonIdentity" class="form-control"  autocomplete="off" style="min-width:100%" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label asp-for="ContactPersonPhone" class="control-label"></label>
                                                    <input type="text" asp-for="ContactPersonPhone" name="ContactPersonPhone" class="form-control"  style="min-width:100%" />

                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ContactPersonCity" class=" control-label" style="width:100%"></label>
                                                    <textarea asp-for="ContactPersonCity" name="ContactPersonCity" class="form-control" style="min-width: 100% !important;"></textarea>
                                                </div>

                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ContactPersonEmail" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="ContactPersonEmail" name="ContactPersonEmail" class="form-control"  autocomplete="off" style="min-width:100%" />
                                                    <span asp-validation-for="ContactPersonEmail" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>






                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label asp-for="ContactPersonEstado" class="control-label"></label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.ContactPersonIdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        required
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-11">
                                                <button id="btnContactPerson" class="form-control btn-miboton" type="submit" > Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function RefrescarGrid() {

        var grid = $("#gridNumeracionContactPerson").getKendoGrid();
        grid.dataSource.read();
    }
    function SaveContactPerson(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
        $("#btnContactPerson").hide();
        $("#btnContactPerson").prop("disabled", true);

        var displayedData = $("#gridNumeracionContactPerson").data().kendoGrid.dataSource.view();

        var dataObject = {
            'ContactPersonId': $("#ContactPersonId").val() === "" ? "0" : $("#ContactPersonId").val(),
            'ContactPersonName': $("#ContactPersonName").val(),
            'ContactPersonIdentity': $("#ContactPersonIdentity").val(),
            'VendorId': $("#VendorId").val(),
            'ContactPersonPhone': $("#ContactPersonPhone").val(),
            'ContactPersonCity': $("#ContactPersonCity").val(),
            'ContactPersonEmail': $("#ContactPersonEmail").val(),
            'ContactPersonIdEstado': $("#ContactPersonIdEstado").val(),
            'ContactPersonEstado': $("#ContactPersonIdEstado").data("kendoDropDownList").text(),
            'CreatedDate': $("#CreatedDate").val(),
            'ModifiedDate': $("#ModifiedDate").val(),
            'CreatedUser': $("#CreatedUser").val(),
            'ModifiedUser': $("#ModifiedUser").val(),

                           '_ContactPerson': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmContactPerson").data("kendoValidator");
                 var status = $(".status");


                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveContactPerson", "ContactPerson")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/>Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalContactPerson').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    notification.show({
                        title: "Validación",
                        message:"Datos invalidos"
                    }, "error");
                }


        $("#btnContactPerson").show();
        $("#btnContactPerson").prop("disabled", false);
    }
</script>
