@model ERPMVC.DTO.DepartamentoDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
           // {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

        function customFunction(input) {

            if (input.attr('name') === "BranchId" && input.val() === "0") {
                return false;
            }

        }

        //$('#btnprueba').val("");
</script>



<div id="ModalDepartamento" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Departamento</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmDepartamento" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveDepartamento"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                       @* <h3 class="card-title">Departamento</h3>*@
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdDepartamento" class=" control-label" style="min-width:100%"></label>
                                                    <input type="text" asp-for="IdDepartamento" name="IdDepartamento" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="IdDepartamento" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NombreDepartamento" class=" control-label" style="min-width:100%"></label>
                                                    <input type="text" asp-for="NombreDepartamento" name="NombreDepartamento" class="form-control" autocomplete="off" style="min-width:100%"  required data-required-msg="Nombre de departamento es requerido"/>
                                                    <span asp-validation-for="NombreDepartamento" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdEstado" class="control-label">Estado</label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        required data-required-msg="Estado es requerido"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnDepartamento" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function SaveDepartamento(e) {
            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            //$("#btnDepartamento").hide();
            //$("#btnDepartamento").prop("disabled", true);

            var displayedData = $("#gridDepartamento").data().kendoGrid.dataSource.view();

            var dataObject = {  'IdDepartamento': $("#IdDepartamento").val()===""?"0":$("#IdDepartamento").val(),
                           'NombreDepartamento': $("#NombreDepartamento").val(),
                           'IdEstado': $("#IdEstado").val(),
                           'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                           'FechaCreacion': $("#FechaCreacion").val(),
                           'FechaModificacion':$("#FechaModificacion").val(),
                           'Usuarioreacion':$("#Usuarioreacion").val(),
                           'Usuariomodificacion':$("#Usuariomodificacion").val(),
                           '_Departamento': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmDepartamento").data("kendoValidator");
                 var status = $(".status");

                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveDepartamento", "Departamento")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });
                            $("#btnDepartamento").prop("disabled", true);
                            RefrescarGrid();
                            $('#ModalDepartamento').modal('hide');
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            //notification.show({
                            //    title: "Validación",
                            //    message: textStatus + ": " + XMLHttpRequest.responseText
                            //}, "error");
                            $.toast({
                                heading: 'Validación',
                                text: ' ' + XMLHttpRequest.responseText,
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 30000,
                                stack: 6
                            });     
                            $("#btnDepartamento").prop("disabled", false);
                        }                       
                    });                    
                    
                }
                else {
                    notification.show({
                        title: "Validación",
                        message: "Ingrese todos los datos en el formulario!"
                    }, "error");

                }          
        $("#btnDepartamento").show();      
        //$("#btnDepartamento").prop("disabled", true);
    }
</script>
