@model ERPMVC.DTO.TipoPlanillasDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
   // {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }

    //$('#btnprueba').val("");
</script>



<div id="ModalTipoPlanillas" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tipo de Planilla</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmTipoPlanillas" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveTipoPlanillas"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                    
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdTipoPlanilla" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="IdTipoPlanilla" name="IdTipoPlanilla" class="form-control" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="IdTipoPlanilla" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="TipoPlanilla" class=" control-label" style="width:100%">Nombre Tipo de Planillas</label>
                                                    <input type="text" asp-for="TipoPlanilla" required data-required-msg="Nombre Tipo de Planillas es requerido." name="TipoPlanilla" class="form-control" autocomplete="off" style="min-width:100%" onkeypress="return SoloLetrasNumeros(event)" />
                                                    <span asp-validation-for="TipoPlanilla" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Descripcion" class=" control-label" style="width:100%">Descripción</label>
                                                    <input type="text" asp-for="Descripcion" name="Descripcion" required data-required-msg="La Descripción es requerida." class="form-control" autocomplete="off" style="min-width:100%" onkeypress="return SoloLetrasNumeros(event)" />
                                                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="EstadoId" class="control-label"></label>
                                                    <kendo-dropdownlist name="EstadoId" data-val-required="El Estado es requerido."
                                                                        for="@Model.EstadoId"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                   
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <br/>
                                                    <span asp-validation-for="EstadoId" class="text-danger"></span>
                                                </div>
                                            </div>



                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnTipoPlanillas" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $("#TipoPlanilla").change(function () {
        ValidacionDuplicateTipoPlanilla();
    })
    //Validaciones
    function SoloLetrasNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz1234567890";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }


    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }
        function SaveTipoPlanillas(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnTipoPlanillas").hide();
            $("#btnTipoPlanillas").prop("disabled", true);

            var displayedData = $("#gridTipoPlanillas").data().kendoGrid.dataSource.view();

            var dataObject = {  'IdTipoPlanilla': $("#IdTipoPlanilla").val()===""?"0":$("#IdTipoPlanilla").val(),
                           'TipoPlanilla': $("#TipoPlanilla").val(),
                           'Descripcion': $("#Descripcion").val(),
                           'EstadoId': $("#EstadoId").val(),
                           'Estado': $("#EstadoId").data("kendoDropDownList").text(),
                             'FechaCreacion': $("#FechaCreacion").val(),
                           'FechaModificacion':$("#FechaModificacion").val(),
                           'Usuariocreacion':$("#Usuariocreacion").val(),
                           'Usuariomodificacion':$("#Usuariomodificacion").val(),
                           '_TipoPlanillas': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
            // form.validate();

            var validator = $("#frmTipoPlanillas").data("kendoValidator");
                 var status = $(".status");

                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveTipoPlanillas", "TipoPlanillas")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: 'Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalTipoPlanillas').modal('hide');





                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $.toast({
                                heading: 'Validación',
                                text: textStatus + ": " + XMLHttpRequest.responseText,
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'error',
                                hideAfter: 30000,
                                stack: 6
                            });

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


            $("#btnTipoPlanillas").show();
            $("#btnTipoPlanillas").prop("disabled", false);
    }

    function ValidacionDuplicateTipoPlanilla() {
        debugger;
        var dataObject = {
            IdTipoPlanilla: $("#IdTipoPlanilla").val(),
            TipoPlanilla: $("#TipoPlanilla").val(),
        };
        if ($("#TipoPlanilla").val() != "") {
            $.ajax({
                url: '@Url.Action("ValidacionTipoPlanillas", "TipoPlanillas")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (data) {

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.toast({
                        heading: 'Validación',
                        text: textStatus + ": " + XMLHttpRequest.responseText,
                        position: 'top-right',
                        loaderBg: '#ff6849',
                        icon: 'error',
                        hideAfter: 30000,
                        stack: 6
                    });
                }
            });
        }
    }
</script>
