@using Kendo.Mvc.UI
@using System.Security.Claims

@{
    ViewData["Title"] = "POLIZAS DE SEGURO";
    var Insurances = ViewData["Insurances"] as IEnumerable<ERPMVC.Models.Insurances>;
    ClaimsPrincipal permisos = (ClaimsPrincipal)ViewData["permisos"];
}

<h3 class="text-themecolor">Polizas de Seguro</h3>
<script>

    function onsave(e) {
     //   console.log(new Date(e.model.FechaRecepcion).toISOString());
       // e.model.set('FechaRecepcion', new Date(e.model.FechaRecepcion).toISOString());
    }

    function ShowCertificateReport() {
        window.location.href = '@Url.Action("SFSegurosContratados", "InsurancesCertificate")';
    }

    //AddInsurances
    function AddInsurancesCertificate() {

        var dataObject = null;
        var dataObject = {
            InsurancesCertificateId:0,
            editar: 1
        };


        $.ajax({
            url: '@Url.Action("pvwAddInsurancesCertificate", "InsurancesCertificate")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (result) {
                $("#InsurancesCertificate").html('');
                $("#InsurancesCertificate").html(result);

                 //RefreshCotizacionesDetail();
                // $("#btnSaveCotizacion").show();

                var validator = $("#frmInsurancesCertificate").data("kendoValidator");
                validator.hideMessages();
                $('#ModalInsurancesCertificate').modal('show');
            },
             error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
              }
        });







      }


    function EditInsurancesCertificate(e) {
             e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var dataObject = {
            InsurancesCertificateId: dataItem.InsurancesCertificateId,
                editar : 0
            };
        @**@

            $.ajax({
                 url: '@Url.Action("pvwAddInsurancesCertificate", "InsurancesCertificate")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (result) {
                    $("#InsurancesCertificate").html('');
                    $("#InsurancesCertificate").html(result);


                    //$("#btnCAI").hide();
                    $('#ModalInsurancesCertificate').modal('show');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
         }


</script>

@(Html.Kendo().Grid<ERPMVC.Models.InsurancesCertificate>()
                                                                    .Name("gridInsurancesCertificate")
                                                                    .Columns(columns =>
                                                                    {
                                                                        if (permisos.HasClaim("Contabilidad.Seguros.Seguros de Almacafe.Editar Seguros de Almacafe", "true"))
                                                                        {
                                                                            columns.Command(command =>
                                                                            {
                                                                                //command.Custom("Ver detalles").Click("Detalles");
                                                                                //command.Custom("Editar").Click("EditTypeAccount");
                                                                                command.Custom("Editar").Text(" ").IconClass("fa fa-edit").Click("EditInsurancesCertificate");

                                                                                //  command.Destroy();
                                                                            }).Title("Acciones").Width(100);
                                                                        }
                                                                        columns.Bound(p => p.InsurancesCertificateId).Title("Código").Width(100);
                                                                        columns.Bound(p => p.DateofInsurance).Title("Año").Width(100).Format("{0:yyyy}");
                                                                        columns.Bound(p => p.NoPoliza).Title("Numero Poliza").Width(200);
                                                                        columns.ForeignKey(p => p.InsurancesId,
                                                                       (System.Collections.IEnumerable)ViewData["Insurances"], "InsurancesId", "InsurancesName").Title("Aseguradora").Width(150);
                                                                        // columns.Bound(p => p.Insurances).ClientTemplate("#=Insurances.InsurancesName#").Sortable(false).Width(100);



                                                                    })
                                                                        .Filterable(f => f.Operators(o => o.ForString(s => s
                                                                                               .Clear()
                                                                                               .Contains("Contiene")
                                                                                               .DoesNotContain("No contiene")
                                                                                               .EndsWith("Termina con")
                                                                                               .IsEqualTo("Es igual a")
                                                                                               .IsNotEqualTo("No es igual a")
                                                                                               .IsNull("Es nulo")
                                                                                               .StartsWith("Inicia con")


                                                                                         )
                                                                                         .ForNumber(n => n
                                                                                           .Clear()
                                                                                           .IsEqualTo("Es igual a")
                                                                                           .IsGreaterThan("Es mayor que")
                                                                                           .IsLessThan("Es menor que")
                                                                                           .IsNull("Es nulo")
                                                                                           .IsLessThanOrEqualTo("Es menor o igual que")
                                                                                           .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                                                         )
                                                                                         .ForDate(d => d
                                                                                         .Clear()
                                                                                         .IsEqualTo("Es igual que")
                                                                                         .IsGreaterThan("Es mayor que")
                                                                                         .IsLessThan("Es menor que")
                                                                                         .IsLessThanOrEqualTo("Es menor o igual que")
                                                                                         .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                                                         .IsNotEqualTo("No es igual que")
                                                                                          )
                                                                                       ))
                                                                    .ToolBar(tools =>
                                                                    {
                                                                        // tools.Create();
                                                                        if (permisos.HasClaim("Contabilidad.Seguros.Seguros de Almacafe.Agregar Seguros de Almacafe", "true"))
                                                                        {
                                                                            tools.Custom().Text("Agregar").IconClass("k-icon k-i-plus")
                                                                                                                                       .HtmlAttributes(new { @class = "k-i-plus-sm", onclick = "AddInsurancesCertificate();" });
                                                                        }
                                                                        if (permisos.HasClaim("Contabilidad.Seguros.Seguros de Almacafe.Exportar Seguros de Almacafe", "true"))
                                                                        {
                                                                            tools.Excel().Text("Exportar a excel").HtmlAttributes(new { @class = "toolbar-field" });
                                                                            tools.Pdf().Text("Exportar a pdf").HtmlAttributes(new { @class = "toolbar-field" });
                                                                        }
                                                                        if (permisos.HasClaim("Contabilidad.Seguros.Seguros de Almacafe.Reporte de Seguros de Almacafe", "true"))
                                                                        {
                                                                            tools.Custom().Text("Reporte de seguros contratados")
                                                                             .HtmlAttributes(new { @class = "k-i-plus-sm", onclick = "ShowCertificateReport();" });
                                                                        }


                                                                    })
                                                                    .Editable(e => e.Mode(GridEditMode.PopUp))
                                                                    .Sortable()
                                                                    .Pageable()
                                                                    .Filterable()
                                                                    .Scrollable()
                                                                    .Pdf(pdf => pdf.FileName("InsurancesCertificateReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                                                    + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                                                                    .ProxyURL(Url.Action("Export", "Home")).AllPages())
                                                                        .Excel(excel => excel.FileName("InsurancesCertificateReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                                                    + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                                                                    .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                                                                    .DataSource(dataSource =>
                                                                        dataSource
                                                                        .WebApi()

                                                                        .ServerOperation(true)
                                                                        .Model(model =>
                                                                        {
                                                                            model.Id(p => p.InsurancesCertificateId);
                                                                            model.Field(p => p.NoPoliza).Editable(false);
                                                                            model.Field(p => p.InsurancesId).DefaultValue(1);
                                                                            //model.Field(p => p.Insurances).DefaultValue(
                                                                            // ViewData["defaultinsurance"] as ERPMVC.Models.Insurances);

                                                                        })
                                                                        .Events(events => events.Error("error_handler"))
                                                                        .Read(read => read.Action("Get", "InsurancesCertificate"))
                                                                        .Create(create => create.Action("Insert", "InsurancesCertificate"))
                                                                        .Update(update => update.Action("Update", "InsurancesCertificate", new { InsurancesCertificateId = "{0}" }).Type(HttpVerbs.Put))
                                                                    //.Destroy(destroy => destroy.Action("Delete", "TypeAccount", new { Num = "{1}" }).Type(HttpVerbs.Delete))

                                                                    )
                                                                        .Events(e =>
                                                                        {
                                                                            //  e.Save("onsave");

                                                                        })
)

<div id="InsurancesCertificate">
    @await Html.PartialAsync("pvwAddInsurancesCertificate", new ERPMVC.DTO.InsurancesCertificateDTO { InsurancesCertificateId = 0 })
</div>

<script>

    function setToolbarTooltip(btn_cl, btn_tooltip) {
        $("#gridInsurancesCertificate").kendoTooltip({
            filter: btn_cl,
            content: btn_tooltip
        });
    }

    function setRowButtonTooltip(btn_cl, btn_tooltip) {
        $("#gridInsurancesCertificate").kendoTooltip({
            filter: btn_cl,
            content: btn_tooltip
        });
    }

    setToolbarTooltip(".k-grid-Agregar", "Agregar nuevo registro");
    setRowButtonTooltip(".k-grid-Editar", "Editar registro");
    setRowButtonTooltip(".k-grid-delete", "Eliminar registro");

</script>