@model ERPMVC.Models.InsurancesCertificateLine



<script>

    completedorderlinemant = function (xhr) {

       /* $('#myModalInsurancesCertificateLineLine').find(':input').not('#IdCD :submit').val('0');
        $('#SubProductId').data("kendoDropDownList").value('0');
        var quantity = $("#Quantity").data("kendoNumericTextBox");
        quantity.value(0);
        quantity.trigger('change');

        var Price = $("#Price").data("kendoNumericTextBox");
        Price.value(0);
        Price.trigger('change');

        var Amount = $("#AmountLine").data("kendoNumericTextBox");
        Amount.value(0);
        Amount.trigger('change');
      //  RefreshCertificadoDepositoDetail();
        $('DescriptionDetail').val('');
        CalcularTotalDocumento();
         //$('#TaxCode').val('0');
         //$('#TaxCode').data("kendoDropDownList").value('0');
        //$('#TaxCode').data("kendoDropDownList").value(0);
        $("#btnActualizarCotizacionLinea").prop("disabled", false);
       closesaleorderline();*/
    };


    function closeInsurancesCertificateLine() {
        $("#myModalInsurancesCertificateLine").modal('hide');

    }


    function CalcularTotalDocumento() {
        //var freight = $("#Freight").val()===""?0:$("#Freight").val();

       /* var displayedData = $("#gridCertificadoDepositoDetail").data().kendoGrid.dataSource.view();
        var total = 0, sumacantidad = 0, ValorImpuestos=0;

        $(displayedData).each(function (index, element) {
            var t = JSON.parse(JSON.stringify(element));
            //console.log(t);
            //console.log('Total 1'+total);
              //  console.log('sumacantidad 2' + sumacantidad);
            sumacantidad = sumacantidad + t["Quantity"];
            total = total + t["Amount"];
            ValorImpuestos = ValorImpuestos + t["ValorImpuestos"];
        });

      //  console.log('Total Documento:' + total);
        setearvalor("Quantitysum", sumacantidad);
        setearvalor("SujetasAPago", ValorImpuestos);
        setearvalor("Total", total);
        //$("#Quantitysum").data("kendoNumericTextBox").value(sumacantidad);
        //$("#Total").data("kendoNumericTextBox").value(total);*/

    }

    function AddInsurancesCertificateLine(e) {
       // e.preventDefault();
        var notification = $("#notification").data("kendoNotification");
            try {
                $("#btnActualizarCotizacionLinea").prop("disabled", true);
                RefreshCertificadoDepositoDetail();

            } catch (e) {
                $("#btnActualizarCotizacionLinea").prop("disabled", false);
            }

        return true;
    }


    function setearvalor(nombrenumerico,valor) {
        var numeric = $("#" + nombrenumerico).data("kendoNumericTextBox");
        numeric.value(valor);
        numeric.trigger('change');
        numeric = null;
    }



    function GetPercentage()
    {
      @*  if ($("#TaxCode").val() != null) {
            var dataObject = { TaxId: $("#TaxCode").val() };
            $.ajax({
                url: '@Url.Action("GetTaxById","Tax")',
                method: 'GET',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: dataObject,
                success: function (result) {
                    setearvalor("TaxPercentage", result.TaxPercentage);
                    CalcularTotal();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
        }
*@
    }

    function CalcularTotal() {
        //debugger;
    //    var quantity = $("#Quantity").val();
      //  var price = $("#Price").val();
      //  var amount = quantity * price;
      //  setearvalor("AmountLine", amount);


        //var DiscountAmount = amount * ($("#DiscountPercentage").val() / 100);
        //setearvalor("DiscountAmount", DiscountAmount);
        //var subtotal = amount - DiscountAmount;
        //var taxamount = subtotal * ($("#TaxPercentage").val() / 100) ;
        //setearvalor("TaxAmount", taxamount);
        //setearvalor("SubTotalLine", subtotal);
        //var Total = subtotal + taxamount;
       // setearvalor("TotalLine", Total);
    }

    function cargarloader() {
        $("#btnActualizarInsurancesCertificateLine").prop("disabled", true);
    }



</script>


<span id="spinner" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
<div id="loading"></div>

<div id="myModalInsurancesCertificateLineDetail" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeInsurancesCertificateLine();">&times;</button>
                <h4 class="modal-title">Detalle de certificado</h4>
            </div>
            <div class="modal-body">

                @{
                    var messages1 = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                                                            {"required","Valor requerido" }
                                                                         };
                    var rules1 = new Dictionary<string, string>() { { "custom", "customFunction" } };
                }



                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">

                            @*asp-controller="SalesOrderLine"  asp-action="SaveSalesOrderLine"*@
                            <div class="card-body">
                                <form id="frmInsurancesCertificateLine"
                                      kendo-validator="true" kendo-messages="messages1" kendo-rules="rules1"
                                      data-ajax-method="post"
                                      data-ajax-loading="#loading"
                                      data-ajax-complete="completedorderlinemant"
                                      data-ajax-begin="return AddInsurancesCertificateLine();"
                                      data-ajax="true"
                                      method="post">
                                    <div class="form-body">
                                        <hr>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="InsurancesCertificateLineId" class="control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="InsurancesCertificateLineId" readonly="readonly" style="min-width:100%" class="form-control" disabled />
                                                    <input type="hidden" id="uid" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="InsurancesCertificateId" class="control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="InsurancesCertificateId" style="min-width:100%" class="form-control" disabled />
                                                    <input type="hidden" id="uid" />
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>

                                                        function FillWareHouse(e) {
                                                            var dataItem = e.dataItem;
                                                            $("#warehousesetid").val(dataItem.BranchId);
                                                            $("#WarehouseId").data("kendoDropDownList").dataSource.read();
                                                        }


                                                    </script>
                                                    @*on-select="FillWareHouse"*@
                                                    <input type="hidden" id="warehousesetid" />
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        enable="false"
                                                                        required
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranch", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                   <label asp-for="WarehouseId" class="control-label"></label>
                                                    <kendo-dropdownlist name="WarehouseId" for="WarehouseId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        enable="false"
                                                                        required
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Warehouse","BranchId")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="WarehouseId" class="text-danger"></span>
                                                 </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="GrupoEconomicoId" class="control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="GrupoEconomicoId" style="min-width:100%" class="form-control" disabled />

                                                    <span asp-validation-for="GrupoEconomicoId" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Address" class="control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="Address" style="min-width:100%" class="form-control" disabled />

                                                    <span asp-validation-for="Address" class="text-danger"></span>

                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="LugarFirma" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="LugarFirma" style="min-width:100%" class="form-control" disabled />

                                                    <span asp-validation-for="LugarFirma" class="text-danger"></span>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div id="divvalorimpuesto" class="col-md-6" style="display:none">
                                                <div class="form-group">
                                                    <label asp-for="FechaFirma" class=" control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="FechaFirma"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaFirma"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaFirma" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    @*        <label asp-for="UnitMeasureId" class="control-label" style="width:100%"></label>
        <kendo-dropdownlist name="UnitMeasureId" filter="Kendo.Mvc.UI.FilterType.Contains"
                            id="UnitMeasureId"
                            option-label="Seleccione la unidad de medida"
                            for="UnitMeasureId"
                            datatextfield="UnitOfMeasureName"
                            datavaluefield="UnitOfMeasureId"
                            auto-bind="true"
                            required
                            style="width: 100%;">
            <datasource type="DataSourceTagHelperType.WebApi">
                <transport>
                    <read url="@Url.Action("GetUnitOfMeasure", "UnitOfMeasure")" />
                </transport>
            </datasource>

        </kendo-dropdownlist>
        <span asp-validation-for="UnitMeasureId" class="text-danger"></span>
                                                    *@
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="row">
                                        <button id="btnActualizarInsurancesCertificateLine" type="submit" class="form-control">Actualizar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
