@model ERPMVC.DTO.InsurancesCertificateLineDTO


@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
// {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "InsurancesCertificateLineId" && input.val() === "0") {
            return false;
        }

        //dropdownlist3.selected

        // Dropchange();

    }
    


    //$('#btnprueba').val("");btnInsurancesCertificateLine
</script>

<div id="myModalInsurancesCertificateLineDetail" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Bodegas a Asegurar</h4>
            </div>
            <div class="modal-body">

                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmVendor" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveInsurancesCertificateLin"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Asegurar Bodegas</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="InsurancesCertificateLineId" class="control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="InsurancesCertificateLineId" readonly="readonly" style="min-width:100%" class="form-control" disabled />
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="InsurancesCertificateId" class="control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="InsurancesCertificateId" style="min-width:100%" class="form-control" disabled />
                                                   
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <script>

                                                        function FillWareHouse(e) {
                                                            var dataItem = e.dataItem;
                                                            $("#warehousesetid").val(dataItem.BranchId);
                                                            $("#WarehouseId").data("kendoDropDownList").dataSource.read();
                                                        }


                                                    </script>
                                                    <label asp-for="BranchId" class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        enable="true"
                                                                        required
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranch", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>


                                                </div>

                                            </div>


                                        </div>
                                        
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="WarehouseId" class="control-label"></label>
                                                    <kendo-dropdownlist name="WarehouseId" for="WarehouseId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Sucursal"
                                                                        datatextfield="WarehouseName"
                                                                        datavaluefield="WarehouseId"
                                                                        enable="true"
                                                                        required
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("Get", "Warehouse","BranchId")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="WarehouseId" class="text-danger"></span>

                                                </div>
                                                </div>


                                           
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Address" class=" control-label" style="width:100%"></label>
                                                    <textarea asp-for="Address" name="Address" class="form-control " style="min-width: 100% !important;"></textarea>
                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="GrupoEconomicoId" class="control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="GrupoEconomicoId" style="min-width:100%" class="form-control" />

                                                    <span asp-validation-for="GrupoEconomicoId" class="text-danger"></span>
                                                </div>



                                            </div>





                                        </div>
                                        <div class="row">
                                            @*  <div class="col-md-4">
            <div class="form-group">

                <label asp-for="LugarFirma" class="control-label" style="width:100%"></label>
                <input type="text" asp-for="LugarFirma" style="min-width:100%" class="form-control" />

                <span asp-validation-for="LugarFirma" class="text-danger"></span>

            </div>
        </div>
                                            *@
                                            <div class="col-md-4">
                                                <div class="form-group">

                                                    <label asp-for="FechaFirma" class=" control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="FechaFirma"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaFirma"></kendo-datetimepicker>
                                                    <span asp-validation-for="FechaFirma" class="text-danger"></span>
                                                </div>

                                            </div>


                                        </div>
                                        
                                        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnInsurancesCertificateLine" class="form-control btn-miboton" type="submit"> Guardar </button>
                                            </div>
                                        </div>



                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
     function SaveInsurancesCertificateLine(e) {

                    var notification = $("#notification").data("kendoNotification");
                   // e.preventDefault();
                debugger;
      // debugger;
                //$("#Identidad").val() = ;
                    var dataObject = {
                        'InsurancesCertificateLineId': $("#InsurancesCertificateLineId").val(),
                        'InsurancesCertificateId': $("#InsurancesCertificateId").val(),

                        'BranchId': $("#BranchId").val(),
                        'WarehouseId': $("#WarehouseId").val(),
                        'Address': $("#Address").val(),
                        'GrupoEconomicoId': $("#GrupoEconomicoId").getKendoDateTimePicker().value().toJSON(),
                        'FechaFirma': $("#FechaFirma").getKendoDateTimePicker().value().toJSON(),
                      /*     'IdEstadoVendorConfi': $("#IdEstadoVendorConfi").val(),
                        'EstadoVendorConfi': $("#IdEstadoVendorConfi").data("kendoDropDownList").text(),
                        'Phone': $("#Phone").val(),
                        //'Identidad': $("#Identidad").val('0'),
                        'Email': $("#Email").val(),
                        'CurrencyId': $("#CurrencyId").val(),
                        'IdEstado': $("#IdEstado").val(),
                        'Estado': $("#IdEstado").data("kendoDropDownList").text(),
                        'CompanyReferenceone': $("#CompanyReferenceone").val(),
                        'CompanyReferencetwo': $("#CompanyReferencetwo").val(),
                        'CreatedDate': $("#CreatedDate").val(),
                        'ModifiedDate': $("#ModifiedDate").val(),
                        'CreatedUser': $("#CreatedUser").val(),
                        'ModifiedUser': $("#ModifiedUser").val(),
                        'RepresentativeName': $("#RepresentativeName").val(),
                        'IdentityRepresentative': $("#IdentityRepresentative").val(),
                        'RTNRepresentative': $("#RTNRepresentative").val(),
                        */
                       // '_InsurancesCertificate': displayedData
                    };

                   // console.log(JSON.stringify(dataObject));
                    //var form = $("#frmNumeracion");
                   // form.validate();
            var validator = $("#frmInsurancesCertificateLine").data("kendoValidator");
                    var status = $(".status");
                    if (validator.validate()) {

                            $.ajax({
                                url: '@Url.Action("SaveInsurancesCertificateLine", "InsurancesCertificateLine")',
                                method: 'POST',
                                datatype: "json",
                                contentType: 'application/json',
                                async: false,
                                data: JSON.stringify(dataObject),
                                success: function (data) {

                                    //notification.show({
                                    //    message: "Guardado correctamente!"
                                    //}, "upload-success");
                                    $.toast({
                                        heading: 'Satisfactorio',
                                        text: '<br/><br/> Datos guardados correctamente.',
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 30000,
                                        stack: 6
                                    });

                                    RefrescarGrid();

                                    $('#ModalInsurancesCertificateLine').modal('hide');


                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {

                                    notification.show({
                                        title: "Validación",
                                        message: textStatus + ": " + XMLHttpRequest.responseText
                                    }, "error");

                                }
                            });

                        }
                    else {
                        $("#btnInsurancesCertificateLine").show();
                        $("#btnInsurancesCertificateLine").prop("disabled", false);
                            status.text("Oops! Hay datos invalidos en el formulario.")
                                .removeClass("valid")
                                .addClass("invalid");
                        }




       // }
       // $("#btnInsurancesCertificate").show();
       // $("#btnInsurancesCertificate").prop("disabled", false);
    }

</script>