@model ERPMVC.DTO.InsurancesCertificateLineDTO


@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
// {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "InsurancesCertificateLineId" && input.val() === "0") {
            return false;
        }
        if (input.attr('name') === "InsurancesCertificateId" && input.val() === "0") {
            return true;
        }

        //dropdownlist3.selected

        // Dropchange();

    }

    function CertificateClose() {
        $('#myModalCertificate').modal('hide');
    }

    //$('#btnprueba').val("");btnInsurancesCertificateLine
</script>

<div id="myModalCertificate" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CertificateClose();">&times;</button>

                 <h4 class="modal-title">Certificado a Asegurar</h4>
            </div>
            <div class="modal-body">

                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmInsurancesCertificateLine" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveInsurancesCertificateLine"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Asegurar Certificado</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="InsurancesCertificateLineId" class="control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="InsurancesCertificateLineId" readonly="readonly" style="min-width:100%" class="form-control" disabled />
                                                    
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="InsurancesCertificateId" class="control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="InsurancesCertificateId" style="min-width:100%" class="form-control" disabled />
                                                   
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BranchId"  class="control-label"></label>
                                                    <kendo-dropdownlist name="BranchId1" id="SucursalC" for="BranchId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Sucursal"
                                                                        datatextfield="BranchName"
                                                                        datavaluefield="BranchId"
                                                                        enable="true"
                                                                        required
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi">
                                                            <transport>
                                                                <read url="@Url.Action("GetBranch", "Branch")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="BranchId" class="text-danger"></span>


                                                </div>

                                            </div>


                                        </div>
                                        
                                        <div class="row">
                                            

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CustomerId" class="control-label"></label>
                                                    <kendo-dropdownlist name="CustomerId" for="CustomerId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione el cliente"
                                                                        value="@Model.CustomerId"
                                                                        datatextfield="CustomerName"
                                                                        datavaluefield="CustomerId"
                                                                        required
                                                                        auto-bind="true"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-filtering="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetCustomer", "Common")"/>
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="BeginDateCertificate" class=" control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="BeginDateCertificate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.BeginDateCertificate" />
                                                    <span asp-validation-for="BeginDateCertificate" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="EndDateCertificate" class=" control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="EndDateCertificate"
                                                                          style="width: 100%;"
                                                                          format="dd/MM/yyyy hh:mm:ss"
                                                                          time-format="hh:mm:ss"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.EndDateCertificate" />
                                                    <span asp-validation-for="EndDateCertificate" class="text-danger"></span>
                                                </div>

                                            </div>

                                        </div>
                                       


                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button id="btnInsurancesCertificateLineC" class="form-control btn-miboton" type="submit">Generar certificado de seguro</button>
                                                    </div>
                                                </div>



                                    </div>
</form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  
     function SaveInsurancesCertificateLine(e) {

                    var notification = $("#notification").data("kendoNotification");
                   // e.preventDefault();
                debugger;
      // debugger;
                //$("#Identidad").val() = ;
                    var dataObject = {
                        'InsurancesCertificateLineId': $("#InsurancesCertificateLineId").val(),
                        'InsurancesCertificateId': $("#InsurancesCertificateId").val(),

                        'BranchId': $("#BranchId").val(),
                        'WarehouseId': $("#WarehouseId").val(),
                        'WarehouseName': $("#WarehouseId").data("kendoDropDownList").text(),
                        'CustomerId': $("#CustomerId").val(),
                        'BeginDateCertificate': $("#BeginDateCertificate").getKendoDateTimePicker().value().toJSON(),
                        'EndDateCertificate': $("#EndDateCertificate").getKendoDateTimePicker().value().toJSON(),
                    
                    };

                   // console.log(JSON.stringify(dataObject));
                   // form.validate();
            var validator = $("#frmInsurancesCertificateLine").data("kendoValidator");
                    var status = $(".status");
                    if (validator.validate()) {

                            $.ajax({
                                url: '@Url.Action("SaveInsurancesCertificateLine", "InsurancesCertificateLine")',
                                method: 'POST',
                                datatype: "json",
                                contentType: 'application/json',
                                async: false,
                                data: JSON.stringify(dataObject),
                                success: function (data) {

                                    //notification.show({
                                    //    message: "Guardado correctamente!"
                                    //}, "upload-success");
                                    $.toast({
                                        heading: 'Satisfactorio',
                                        text: '<br/><br/> Datos guardados correctamente.',
                                        position: 'top-right',
                                        loaderBg: '#ff6849',
                                        icon: 'success',
                                        hideAfter: 30000,
                                        stack: 6
                                    });

                                    RefrescarGrid();
                                    //myModalCertificate
                                  //  $('#ModalInsurancesCertificateLine').modal('hide');
                                    $('#myModalCertificate').modal('hide');

                                },
                                error: function (XMLHttpRequest, textStatus, errorThrown) {

                                    notification.show({
                                        title: "Validación",
                                        message: textStatus + ": " + XMLHttpRequest.responseText
                                    }, "error");

                                }
                            });

                        }
                    else {
                        $("#btnInsurancesCertificateLineC").show();
                        $("#btnInsurancesCertificateLineC").prop("disabled", false);
                            status.text("Oops! Hay datos invalidos en el formulario.")
                                .removeClass("valid")
                                .addClass("invalid");
                        }




       // }
       // $("#btnInsurancesCertificate").show();
       // $("#btnInsurancesCertificate").prop("disabled", false);
    }

                                                    </script>
