@model ERPMVC.DTO.EmployeeExtraHoursDTO

@{ Layout = null;
	var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
// {"required","Valor requerido" }
};
	var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>
	$(document).ready(function () {
	
		
	});

	function customFunction(input) {

		if (input.attr('name') === "IdEmpleado" && input.val() === "0") {
			return false;
		}

	}
</script>




<div id="ModalEmployees" class="modal fade" role="dialog">
	<!-- Modal content-->
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Empleados</h4>
			</div>
			<div class="modal-body">
				<div class="row" id="validation">
					<div class="col-lg-12">
						<div class="card">
                            <div class="card-body">
                                <form id="frmEmployees" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Empleados</h3>
                                        <hr>

                                        <div class="row">
                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="EmployeeExtraHoursId" class=" control-label" style="width:100%">Id Empleado</label>
                                                    <input type="text" asp-for="EmployeeExtraHoursId" name="IdEmployees" class="form-control form-control-line" disabled="disabled" style="min-width:100%" />
                                                    <span asp-validation-for="EmployeeExtraHoursId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="EmployeeId" class=" control-label" style="width:100%">Nombre de empleado</label>
                                                    @*<input type="text" asp-for="EmployeeId" name="NombreEmpleado" class="form-control form-control-line" style="min-width:100%" maxlength="250" />*@

                                                    <div class="form-group">
                                                        <script>

                                                            function GetSubProduct(e) {
                                                                var dataItem = e.dataItem;
                                                            }

                                                        </script>

                                                        <kendo-dropdownlist name="EmployeeId" for="@Model.EmployeeId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                            option-label="Seleccione el empleado"
                                                                            required
                                                                            datatextfield="NombreEmpleado"
                                                                            datavaluefield="IdEmpleado"
                                                                            style="width: 100%;">
                                                            <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                                <transport>
                                                                    <read url="@Url.Action("GetEmployees", "Employees")" />
                                                                </transport>
                                                            </datasource>
                                                        </kendo-dropdownlist>
                                                        @*<span asp-validation-for="CustomerId" class="text-danger"></span>*@
                                                    </div>

                                                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="WorkDate" class=" control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="WorkDate"
                                                                          value="Model.WorkDate"
                                                                          format="dd/MM/yyyy"
                                                                          style="width:100%;"                                                                         
                                                                          data-val-required="La fecha es requerida" />
                                                    <span asp-validation-for="WorkDate" class="text-danger"></span>
                                                </div>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#dateinput").kendoDateInput();
                                                    });
                                                </script>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Motivo" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Motivo" name="Motivo" class="form-control form-control-line" style="min-width:100%" />
                                                    <span asp-validation-for="Motivo" class="text-danger"></span>
                                                </div>
                                            </div>
                                            @*<div class="col-md-4">
                                                <label class=" control-label" style="width:100%">Cliente</label>
                                                <kendo-dropdownlist name="CustomerIdSeleccion"                                                                   
                                                                    filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                    option-label="Seleccione el cliente"
                                                                    datatextfield="CustomerName"
                                                                    datavaluefield="CustomerId"
                                                                    class="form-control-line"
                                                                    style="width: 100%;">
                                                    <datasource type="DataSourceTagHelperType.WebApi" server-operation="true" page-size="9999999">
                                                        <transport>
                                                            <read url="@Url.Action("GetCustomer", "Common")" />
                                                        </transport>
                                                    </datasource>
                                                </kendo-dropdownlist>
                                            </div>*@

                                        </div>



                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnEmployees" class="form-control btn-miboton" onclick="SaveEmployeeExtraHours(this);"> Guardar </button>
                                        </div>
                                    </div>
                                </form>

                                <div id="numEmployeesExtraHoursDetail">
                                    @await Html.PartialAsync("pvwAddEmployeeExtraHoursDetail", new ERPMVC.DTO.EmployeeExtraHoursDetailDTO { EmployeeExtraHoursDetailId = 0 })
                                </div>


                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




 <script>




    function validarGenero() {
        var Genero = $("#Genero").val();
       // console.log("Valor Genero", Genero);
        if (Genero == 0 || $("#Genero").data("kendoDropDownList").text() == "Seleccionar Género") {
            $("#GeneroAlert").show();
        }
        else {
            $("#GeneroAlert").hide();
        }
    }

	function validarTipoSangre() {
        var TipoSangre = $("#TipoSangre").val();
        if (TipoSangre == 0 || $("#TipoSangre").data("kendoDropDownList").text() == "Seleccionar Tipo de Sangre") {
            $("#TipoSangreAlert").show();
        }
        else {
            $("#TipoSangreAlert").hide();
        }
    }

	function AddSalarioEmpleado() {
        var displayedData = $("#gridEmployeeSalary").data().kendoGrid.dataSource.view();
        if (displayedData.length == 1) {
            $("#AgregarSalario").hide();
        }
        $('#myModalSalarioEmpleado').modal('show');
    }



    //Validaciones
    function SoloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

     function SaveEmployeeExtraHours(e) {
         debugger;
                var notification = $("#notification").data("kendoNotification");

             //   var displayedData = $("#gridEmployees").data().kendoGrid.dataSource.data();
              //  var displayedData1 = $("#gridEmployeeSalary").data().kendoGrid.dataSource.data();


				var dataObject = {
                        'EmployeeExtraHoursId': $("#EmployeeExtraHoursId").val(),
                        'EmployeeId': $("#EmployeeId").val(),
                        'EmployeeName': $("#EmployeeId").data("kendoDropDownList").text(),
                         'WorkDate': $("#WorkDate").getKendoDateTimePicker().value().toJSON(),
                    'Motivo': $("#Motivo").val(),
                    //'CustomerId': $("#CustomerId").val(),
                    //'CustomerName': $("#CustomerId").data("kendoDropDownList").text()
                        //'_EmployeeSalary': displayedData1
				};

				//var form = $("#frmNumeracion");
                // form.validate();

                var validator = $("#frmEmployees").data("kendoValidator");

                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveEmployeeExtraHours", "EmployeeExtraHours")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {
							$.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/> Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 3000,
                                stack: 6
                            });

							RefrescarGrid();

                            $('#ModalEmployees').modal('hide');

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    $("#btnEmployees").prop("disabled", false);
                }



    }
                    </script>


