@using Kendo.Mvc.UI

@{
    ViewData["Title"] = "Escala";
    bool permisoAgregar, permisoEditar, permisoEliminar;
    permisoAgregar = (bool)ViewData["permisoAgregar"];
    permisoEditar = (bool)ViewData["permisoEditar"];
    permisoEliminar = (bool)ViewData["permisoEliminar"];
}

<script>

    function onsave(e) {
        //   console.log(new Date(e.model.FechaRecepcion).toISOString());
        // e.model.set('FechaRecepcion', new Date(e.model.FechaRecepcion).toISOString());
    }

    function caidata(data) {
        data.FechaRecepcion = data.FechaRecepcion.toISOString('yyyy-MM-dd');
        data.FechaLimiteEmision = data.FechaLimiteEmision.toISOString('yyyy-MM-dd');
    }

     function AddEscala() {

         $('#ModalEscala').find(':input').not(':submit').val('');
         $('#ModalEscala').modal('show');
         $("#EscalaId").val('0');

         var validator = $("#frmEscala").data("kendoValidator");
         validator.hideMessages();
         $('#ModalEscala').find(':input').not(':submit').val('');
         $("#IdEstado").data("kendoDropDownList").value(0);


    }


         function EditEscala(e) {
             e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
             var dataObject = {
                 IdEscala: dataItem.IdEscala,
                editar : 0
             };

             console.log('dataobject', dataObject);

            $.ajax({
                url: '@Url.Action("pvwAddEscala", "Escala")',
                method: 'POST',
                datatype: "json",
                contentType: 'application/json',
                async: false,
                data: JSON.stringify(dataObject),
                success: function (result) {
                    $("#numEscala").html('');
                    $("#numEscala").html(result);


                    //$("#btnCAI").hide();
                    $('#ModalEscala').modal('show');
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });
    }

    function RefrescarGrid() {

        var grid = $("#gridEscala").getKendoGrid();
        grid.dataSource.read();

    }


</script>

<h3 class="text-themecolor">Escala</h3>

@(Html.Kendo().Grid<ERPMVC.Models.Escala>
              ()

                .Name("gridEscala")

                .Columns(columns =>
                {
                    if (permisoEditar == true || permisoEliminar == true)
                    {
                        columns.Command(command =>
                        {
                            //command.Custom("Ver detalles").Click("Detalles");
                            if (permisoEditar)
                            {
                                command.Custom("Editar").Click("EditEscala").Text(" ").IconClass("fa fa-edit");
                            }
                            if (permisoEliminar)
                            {
                                command.Destroy().Text(" ").IconClass("fa fa-trash");
                            }

                        }).Width(170).Title("Acciones");
                    }

                    columns.Bound(p => p.IdEscala).Width(150);
                    columns.Bound(p => p.NombreEscala).Width(170);
                    columns.Bound(p => p.DescripcionEscala).Width(250);
                    columns.Bound(p => p.ValorInicial).Width(200);
                    columns.Bound(p => p.ValorFinal).Width(160);
                    columns.Bound(p => p.Porcentaje).Width(160);
                    columns.Bound(p => p.ValorCalculo).Width(150);
                    columns.Bound(p => p.Estado).Width(150);
                    //columns.Bound(p => p.UsuarioCreacion).Width(170);
                    //columns.Bound(p => p.UsuarioModificacion).Width(190);


                })

                .ToolBar(tools =>
                {

                    //tools.Create();
                    if (permisoAgregar)
                    {
                        tools.Custom().Text("Agregar").IconClass("k-icon k-i-plus")
                                                                      .HtmlAttributes(new { @class = "k-i-plus-sm", onclick = "AddEscala()" });
                    }
                        tools.Excel().Text("Exportar a excel").HtmlAttributes(new { @class = "toolbar-field" });
                        tools.Pdf().Text("Exportar a pdf").HtmlAttributes(new { @class = "toolbar-field" });




                })
                .Editable(e => e.Mode(GridEditMode.PopUp).ConfirmDelete("¿Esta seguro que desea eliminar este registro?"))
                .Sortable()
                .Pageable()
                .Filterable()
                .Scrollable()
                .Pdf(pdf => pdf.FileName("EscalaReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                .ProxyURL(Url.Action("Export", "Home")).AllPages())
                .Excel(excel => excel.FileName("EscalaReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                .DataSource(dataSource =>
                dataSource
                .WebApi()

                .ServerOperation(true)
                .Model(model =>
                {
                    model.Id(p => p.IdEscala);
                    model.Field(p => p.IdEscala).Editable(false);


                })
                .Events(events => events.Error("error_handler"))
                .Read(read => read.Action("Get", "Escala"))
                //.Create(create => create.Action("Insert", "Escala").Type(HttpVerbs.Post))
                //.Update(update => update.Action("Update", "Escala").Type(HttpVerbs.Post))
               .Destroy(destroy => destroy.Action("Delete", "Escala").Type(HttpVerbs.Post))
                )
                .Events(e =>
                {
                    e.Save("onsave");

                })
)

<div id="numEscala">
    @await Html.PartialAsync("pvwAddEscala", new ERPMVC.DTO.EscalaDTO { IdEscala = 0 })
</div>

<script>
    function setToolbarTooltip(btn_cl, btn_tooltip) {
        $("#gridEscala").kendoTooltip({
            filter: btn_cl,
            content: btn_tooltip
        });
    }

    function setRowButtonTooltip(btn_cl, btn_tooltip) {
        $("#gridEscala").kendoTooltip({
            filter: btn_cl,
            content: btn_tooltip
        });
    }

    setToolbarTooltip(".k-grid-Agregar", "Agregar nuevo registro");
    setRowButtonTooltip(".k-grid-delete", "Eliminar registro");
    setRowButtonTooltip(".k-grid-Editar", "Editar registro");
</script>
