@model ERPMVC.DTO.CheckAccountDTO
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
    {"required","Requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}


<div id="ModalCheckAccount" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Chequera</h4>
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="frmCheckAccount" kendo-validator="true" asp-controller="CheckAccount" asp-action="SaveCheckAccount" kendo-messages="messages"
                      data-ajax="true"
                      data-ajax-method="post" enctype="multipart/form-data"
                      data-ajax-begin="onBeginC" data-ajax-complete="onCompleteC"
                      data-ajax-failure="onFailedC" data-ajax-success="onSuccessC"
                      class="validation-wizard wizard-circle">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="CheckAccountId" class="control-label" style="min-width:100%"></label>
                                    <input type="text" asp-for="CheckAccountId" name="CheckAccountId" class="form-control" readonly style="min-width:100%" />

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" asp-for="BankName" hidden />
                                    <label asp-for="BankId" class="control-label" style="min-width:100%"></label>
                                    <kendo-dropdownlist name="BankId" 
                                                        for="BankId"
                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        option-label="Seleccione el banco"
                                                        datatextfield="BankName"
                                                        datavaluefield="BankId"
                                                        onchange="refreshCuentas();"
                                                        data-val-required="El Banco es Requerido"
                                                        required
                                                        style="min-width: 100%;">
                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                            <transport>
                                                <read url="@Url.Action("GetBank", "Bank")" />
                                            </transport>
                                        </datasource>
                                    </kendo-dropdownlist>
                                    <span asp-validation-for="BankId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <script>
                                    function GetCuentas() {

                                        return { 'BankId': $("#BankId").val() , 'pTypeAccount':95 }
                                    }

                                    function refreshCuentas() {
                                        $("#AccountManagementId").data("kendoDropDownList").dataSource.read();
                                        $("#BankName").val($("#BankId").data("kendoDropDownList").text());
                                    }
                                </script>
                                <div class="form-group">
                                    <input type="text" asp-for="AssociatedAccountNumber" hidden />
                                    <label asp-for="AccountManagementId" class="control-label" style="min-width:100%">Número de Cuenta</label>
                                    <kendo-dropdownlist name="AccountManagementId"
                                                        for="AccountManagementId"
                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        option-label="Seleccione una Cuenta"
                                                        datatextfield="AccountNumber"
                                                        datavaluefield="AccountManagementId"
                                                        data-val-required="La Cuenta es requerida"
                                                        onchange="setAccountNumber()"
                                                        style="min-width: 100%;">
                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                            <transport>
                                                <read url="@Url.Action("GetAccountManagementByBankIdByAccountType", "AccountManagement")" data="GetCuentas" />
                                            </transport>
                                        </datasource>
                                    </kendo-dropdownlist>
                                    <span asp-validation-for="AccountManagementId" class="text-danger"></span>


                                </div>
                            </div>
                            <script>
                                function setAccountNumber() {
                                    $("#AssociatedAccountNumber").val($("#AccountManagementId").data("kendoDropDownList").text());

                                }

                            </script>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="CheckAccountNo" class=" control-label" style="min-width:100%"></label>
                                    <input type="text" asp-for="CheckAccountNo" name="CheckAccountNo"  style="min-width: 100%;" class="form-control"  maxlength="50" onKeyPress="return soloNumeros(event)" />

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="NoInicial" class=" control-label" style="min-width:100%"></label>
                                    <input type="text" asp-for="NoInicial" name="NoInicial" class="form-control" required data-val-required="Número Inicial es requerido" style="min-width:100%" maxlength="35" onKeyPress="return soloNumeros(event)" />

                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="NoFinal" class=" control-label" style="min-width:100%"></label>
                                    <input type="text" asp-for="NoFinal" name="NoFinal" class="form-control" required data-val-required="Número Final es requerido" style="min-width:100%" maxlength="35" onKeyPress="return soloNumeros(event)" />

                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="FechaIngreso" class="control-label" style="width: 100%;"></label>
                                    <kendo-datepicker name="FechaIngreso" for="FechaIngreso"
                                                      style="width: 100%;"
                                                      format="dd/MM/yyyy"
                                                      data-val-required="La fecha es requerida"
                                                      readonly />

                                </div>
                            </div>
                            <input type="text" hidden asp-for="Estado" />
                            <input type="text" hidden asp-for="NumeroActual" />
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="IdEstado" class="control-label">Estado</label>
                                    <kendo-dropdownlist name="IdEstado"
                                                        for="@Model.IdEstado"
                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                        option-label="Seleccionar Estado"
                                                        datatextfield="NombreEstado"
                                                        required data-required-msg="El estado es requerido."
                                                        datavaluefield="IdEstado"
                                                        style="width: 100%;">
                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                            <transport>
                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                            </transport>
                                        </datasource>
                                    </kendo-dropdownlist>
                                    <span asp-validation-for="IdEstado" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button id="btnCheckAccount" class="form-control btn-miboton" type="submit"> Guardar </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<script>
    var onBeginC = function () {
        //alert("Begin");

    };

    var onCompleteC = function () {
        //alert("Complete");
        //$('#ModalEmployees').modal('hide');
    };

    var onSuccessC = function (context) {
        //alert(context);
        console.log(context);
        $.toast({
            heading: 'Satisfactorio',
            text: '<br/><br/> Datos guardados correctamente.',
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'success',
            hideAfter: 30000,
            stack: 6
        });

        RefrescarGridC();
        $('#ModalCheckAccount').modal('hide');
        //$('#ModalCheck').modal('hide');
    };

    var onFailedC = function (context) {
        console.log(context);
        $.toast({
            heading: 'Error',
            text: context.responseText,
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: 'error',
            hideAfter: 30000,
            stack: 6
        });
    };


    $("#IdEstado").change(function () {
        $("#Estado").val($("#IdEstado").data("kendoDropDownList").text());
    }); 


    $("#NoFinal").change(function () {
        var NoInicial = $("#NoInicial").val();
        var NoFinal = $("#NoFinal").val();
        if (Number(NoFinal) < Number(NoInicial)) {
            alert("El número final tiene que ser mayor que el número inicial");
            $("#NoFinal").val('');
        }
    }); 

    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }
    function RefrescarGridC() {
        var grid = $("#gridCheckAccount").getKendoGrid();
        grid.dataSource.read();
    }

</script>
