@model ERPMVC.DTO.SeveridadRiesgoDTO
@{
    ViewData["Title"] = "Severidad de Riesgo";
}

<h3 class="text-themecolor">Severidad de Riesgo</h3>

    <div id="msj_failed" hidden>
        <div class="col-md-12" id="mensaje">
            <div class="alert alert-warning alert-danger">
                <button type="button" class="close" data-dissmiss="warning" onclick="AlertClose();" aria-hidden="true">&times;</button>
                <h5 id="MensajeBrecha"><i class="icon fa fa-warning"></i></h5>
            </div>
        </div>
    </div>

@(Html.Kendo().Grid<ERPMVC.Models.SeveridadRiesgo>()
                                  .Name("gridSeveridadRiesgo")
                                  .Events(events => events
                                            //.DataBound("onDataBound")
                                            .DataBinding("onDataBinding")
                                            )
                                  .Columns(columns =>
                                  {
                                      columns.Command(command =>
                                      {
                                          command.Custom("Editar").IconClass("fa fa-edit").Click("EditSeveridadRiesgo");
                                          //command.Destroy().Text("Eliminar");
                                      }).Title("Acciones").Width(100);
                                      columns.Bound(p => p.IdSeveridad).Width(100).Visible(false);
                                      columns.Bound(p => p.Impacto).Width(100);
                                      columns.Bound(p => p.Probabilidad).Width(120);
                                      columns.Bound(p => p.LimeteCalidadSuperir).Width(100).Hidden(true);
                                      columns.Bound(p => p.LimiteCalidadInferior).Width(100).Hidden(true);
                                      columns.Template("#=LimeteCalidadSuperir# <br> #=LimiteCalidadInferior#").Title("Calificación").Width(100);
                                      columns.Bound(p => p.RangoInferiorSeveridad).Width(100).Hidden(true);
                                      columns.Bound(p => p.RangoSuperiorSeveridad).Width(100).Hidden(true);
                                      columns.Template("#=RangoInferiorSeveridad# - #=RangoSuperiorSeveridad#").Title("Valor").Width(100);
                                      columns.Bound(p => p.ColorHexadecimal).Hidden(true);
                                      columns.Bound(p => p.Nivel).Width(100).HtmlAttributes(new { @style = "background:#=ColorHexadecimal#;color:white;" });
                                  })
                                                .Filterable(f => f.Operators(o => o.ForString(s => s
                                                                .Clear()
                                                                .Contains("Contiene")
                                                                .DoesNotContain("No contiene")
                                                                .EndsWith("Termina con")
                                                                .IsEqualTo("Es igual a")
                                                                .IsNotEqualTo("No es igual a")
                                                                .IsNull("Es nulo")
                                                                .StartsWith("Inicia con")
                                                            )
                                                            .ForNumber(n => n
                                                            .Clear()
                                                            .IsEqualTo("Es igual a")
                                                            .IsGreaterThan("Es mayor que")
                                                            .IsLessThan("Es menor que")
                                                            .IsNull("Es nulo")
                                                            .IsLessThanOrEqualTo("Es menor o igual que")
                                                            .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                            )
                                                            .ForDate(d => d
                                                            .Clear()
                                                            .IsEqualTo("Es igual que")
                                                            .IsGreaterThan("Es mayor que")
                                                            .IsLessThan("Es menor que")
                                                            .IsLessThanOrEqualTo("Es menor o igual que")
                                                            .IsGreaterThanOrEqualTo("Es mayor o igual que")
                                                            .IsNotEqualTo("No es igual que")
                                                            )
                                                        ))
                                            .ToolBar(tools =>
                                            {
                                                tools.Custom().Text("Agregar").IconClass("k-icon k-i-plus").HtmlAttributes(new { @id = "SeveridadRiesgo_Add", @class = "k-i-plus-sm", onclick = "AddSeveridadRiesgo()" });
                                                tools.Excel().Text("Exportar a excel").HtmlAttributes(new { @class = "toolbar-field" });
                                                tools.Pdf().Text("Exportar a pdf").HtmlAttributes(new { @class = "toolbar-field" });
                                            })
                                            .Editable(e => e.Mode(GridEditMode.PopUp))
                                            .Sortable()
                                            .Pageable()
                                            .Filterable()
                                            .Scrollable()
                                            .Pdf(pdf => pdf.FileName("SeveridadRiesgoReport" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                            + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".pdf")
                                            .ProxyURL(Url.Action("Export", "Home")).AllPages())
                                                .Excel(excel => excel.FileName("SeveridadRiesgoReport_" + DateTime.Now.Year + "_" + DateTime.Now.Month + "_"
                                            + DateTime.Now.Day + "_" + DateTime.Now.Hour + "_" + DateTime.Now.Minute + "_" + DateTime.Now.Second + ".xlsx").Filterable(true)
                                            .ProxyURL(Url.Action("Export", "Home")).AllPages(true))
                                            .DataSource(dataSource =>
                                                dataSource
                                                .WebApi()
                                                .ServerOperation(true)
                                                .Model(model =>
                                                {
                                                    model.Id(p => p.IdSeveridad);
                                                    model.Field(p => p.IdSeveridad).Editable(false);
                                                    model.Field(p => p.Impacto).Editable(true);
                                                    model.Field(p => p.Probabilidad).Editable(true);
                                                    model.Field(p => p.Nivel).Editable(false);
                                                })
                                                .Events(events => events.Error("error_handler"))
                                                .Read(read => read.Action("GetSeveridadRiesgo", "SeveridadRiesgo"))
                                            //.Create(create => create.Action("PostSeveridadRiesgo", "SeveridadRiesgo"))
                                            //.Update(update => update.Action("PutSeveridadRiesgo", "SeveridadRiesgo", new { id = "{0}" }))
                                            //.Destroy(destroy => destroy.Action("DeleteSeveridadRiesgo", "SeveridadRiesgo", new { id = "{0}" }))
                                            )
)

<div id="numSeveridadRiesgo">
    @await Html.PartialAsync("pvwAddSeveridadRiesgo", new ERPMVC.DTO.SeveridadRiesgoDTO { IdSeveridad = 0 })
</div>

<script>
    $(document).ready(function () {
        $("#NivelAlert").prop("hidden", true);
    });

    function AlertClose() {
        $("#msj_failed").prop("hidden", true);
    }

    function onDataBinding() {
        $.ajax({
            url: '@Url.Action("BrechasEntreRango", "SeveridadRiesgo")',
            method: 'GET',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(),
            success: function (displayedData) {
                var Bajo = "", Medio = "", Alto = "", MuyAlto = "";
                if (displayedData.Data.length > 0) {
                    for (var i = 0; i < displayedData.Data.length; i++) {
                        debugger;
                        if (displayedData.Data[i].Nivel == "Bajo") {
                            Bajo = i;
                        }
                        if (displayedData.Data[i].Nivel == "Medio") {
                            Medio = i;
                        }
                        if (displayedData.Data[i].Nivel == "Alto") {
                            Alto = i;
                        }
                        if (displayedData.Data[i].Nivel == "Muy Alto") {
                            MuyAlto = i;
                        }
                    }

                    if (displayedData.Data[Bajo] != undefined && displayedData.Data[Medio] != undefined) {
                        var BrechaInferior = displayedData.Data[Bajo].RangoSuperiorSeveridad - displayedData.Data[Medio].RangoInferiorSeveridad
                        BrechaInferior = Math.round(BrechaInferior * 100) / 100;
                    }
                    if (displayedData.Data[Medio] != undefined && displayedData.Data[Alto] != undefined) {
                        var BrechaIntermedia = Number(displayedData.Data[Medio].RangoSuperiorSeveridad) - Number(displayedData.Data[Alto].RangoInferiorSeveridad)
                        BrechaIntermedia = Math.round(BrechaIntermedia * 100) / 100;
                    }
                    if (displayedData.Data[Alto] != undefined && displayedData.Data[MuyAlto] != undefined) {
                        var BrechaSuperior = Number(displayedData.Data[Alto].RangoSuperiorSeveridad) - Number(displayedData.Data[MuyAlto].RangoInferiorSeveridad)
                        BrechaSuperior = Math.round(BrechaSuperior * 100) / 100;
                    }
                    if (BrechaInferior != undefined) {
                        if (BrechaInferior == -0.01) {
                            $("#msj_failed").prop("hidden", true);
                            if (BrechaIntermedia != undefined) {
                                if (BrechaIntermedia == -0.01) {
                                    $("#msj_failed").prop("hidden", true);
                                    if (BrechaSuperior != undefined) {
                                        if (BrechaSuperior == -0.01) {
                                            $("#msj_failed").prop("hidden", true);
                                        }
                                        else {
                                            $("#msj_failed").prop("hidden", false);
                                            var NivelAnterior = displayedData.Data[Alto].Nivel;
                                            var NivelPosterior = displayedData.Data[MuyAlto].Nivel;
                                            localStorage.setItem("NivelAnterior", NivelAnterior);
                                            localStorage.setItem("NivelPosterior", NivelPosterior);
                                        }
                                    }
                                }
                                else {
                                    $("#msj_failed").prop("hidden", false);
                                    var NivelAnterior = displayedData.Data[Medio].Nivel;
                                    var NivelPosterior = displayedData.Data[Alto].Nivel;
                                    localStorage.setItem("NivelAnterior", NivelAnterior);
                                    localStorage.setItem("NivelPosterior", NivelPosterior);
                                }
                            }
                        }
                        else {
                            $("#msj_failed").prop("hidden", false);
                            var NivelAnterior = displayedData.Data[Bajo].Nivel;
                            var NivelPosterior = displayedData.Data[Medio].Nivel;
                            localStorage.setItem("NivelAnterior", NivelAnterior);
                            localStorage.setItem("NivelPosterior", NivelPosterior);
                        }
                    }
                    if (localStorage.getItem("NivelAnterior")) {
                        $('#msj_failed').prop("hidden", false);
                        var NivelAnterior = localStorage.getItem("NivelAnterior")
                        var NivelPosterior = localStorage.getItem("NivelPosterior")
                        $('#MensajeBrecha').text(" Exísten brechas, valores Intercalados o valores Iguales entre los rangos de los siguientes niveles: " + NivelAnterior + " y " + NivelPosterior + ".");
                        localStorage.clear();
                    }
                    else {
                        $('#msj_failed').prop("hidden", true);
                    }
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus + ": " + XMLHttpRequest.responseText);
            }
        });
        

        var displayedData = $("#gridSeveridadRiesgo").data().kendoGrid.dataSource.view();
        if (displayedData.length == 4) {
            $("#SeveridadRiesgo_Add").hide();
        }
        else {
            $("#SeveridadRiesgo_Add").show();
        }

        if (displayedData.length == 0) {
            $("#LimeteCalidadSuperir").prop("disabled", true);
        }
    }

    function RefrescarGrid() {
        var grid = $("#gridSeveridadRiesgo").getKendoGrid();
        grid.dataSource.read();
    }

    function AddSeveridadRiesgo() {
        $("#NivelAlert").prop("hidden", true);
        var validator = $("#frmSeveridadRiesgo").data("kendoValidator");
        validator.hideMessages();
        $('#ModalSeveridadRiesgo').find(':input').not(':submit').val('');
        $('#ModalSeveridadRiesgo').modal('show');
        $("#IdSeveridad").val('0');
        $("#Nivel").data("kendoDropDownList").value(0);
        $("#LimeteCalidadSuperir").prop("disabled", true);
        $("#RangoSuperiorSeveridad").prop("disabled", true);
        var id = 0;
        var LimiteCalidadInferior = 0, LimeteCalidadSuperir = 0, RangoInferiorSeveridad = 0, RangoSuperiorSeveridad = 0
        var displayedData = $("#gridSeveridadRiesgo").data().kendoGrid.dataSource.view();
        if (displayedData.length > 0) {
            for (var i = 0; i < displayedData.length; i++) {
                if (displayedData[i].IdSeveridad > id) {
                    id = displayedData[i].IdSeveridad;
                    LimiteCalidadInferior = displayedData[i].LimiteCalidadInferior;
                    LimeteCalidadSuperir = displayedData[i].LimeteCalidadSuperir;
                    RangoInferiorSeveridad = displayedData[i].RangoInferiorSeveridad;
                    RangoSuperiorSeveridad = displayedData[i].RangoSuperiorSeveridad;
                }
            }
            id = id + 1;
        }

        $("#RangoInferiorSeveridad").attr({
            "min": 0
        });
        $("#LimiteCalidadInferior").attr({
            "min": 0
        });
        $("#Impacto").attr({
            "min": 0
        });
        $("#Probabilidad").attr({
            "min": 0
        });
        //if (displayedData.length > 0) {
        //    $("#LimiteCalidadInferior").attr({
        //        "max": LimeteCalidadSuperir + 1,
        //        "min": LimeteCalidadSuperir + 1
        //    });

        //    $("#LimiteCalidadInferior").val(LimeteCalidadSuperir + 1);
        //    var LimiteCalidadSuperirActual = $("#LimiteCalidadInferior").val();

        //    $("#LimeteCalidadSuperir").attr({
        //        "min": Number(LimiteCalidadSuperirActual) + 1
        //    });

        //    $("#RangoInferiorSeveridad").attr({
        //        "max": RangoSuperiorSeveridad + 0.01,
        //        "min": RangoSuperiorSeveridad + 0.01
        //    });

        //    $("#RangoInferiorSeveridad").val(RangoSuperiorSeveridad + 0.01);
        //    var RangoSuperiorSeveridadActual = $("#RangoInferiorSeveridad").val();

        //    $("#RangoSuperiorSeveridad").attr({
        //        "min": Number(RangoSuperiorSeveridadActual) + 0.01
        //    });
        //}
        //SetNivelRiesgo();
    }

    function EditSeveridadRiesgo(e) {
        $("#NivelAlert").prop("hidden", true);

        var displayedData = $("#gridSeveridadRiesgo").data().kendoGrid.dataSource.view();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.IdSeveridad;
        var position = 0;
        /////////////////////////////////////////////////////////////////////////////////////////////////

        if (dataItem.IdSeveridad > 0) {
            for (var i = 0; i < displayedData.length; i++) {
                if (displayedData[i].IdSeveridad == id) {
                 position = i
                }
            }
            position = position + 1
        }

        /////////////////////////////////////////////////////////////////////////////////////////////////

        var dataObject = {
            IdSeveridad: dataItem.IdSeveridad,
            editar : 0
        };

        $.ajax({
            url: '@Url.Action("pvwAddSeveridadRiesgo", "SeveridadRiesgo")',
            method: 'POST',
            datatype: "json",
            contentType: 'application/json',
            async: false,
            data: JSON.stringify(dataObject),
            success: function (result) {
                $("#numSeveridadRiesgo").html('');
                $("#numSeveridadRiesgo").html(result);
                $('#ModalSeveridadRiesgo').modal('show');
                var LimeteCalidadSuperirActual = $("#LimiteCalidadInferior").val();
                $("#LimeteCalidadSuperir").attr({
                    "min": Number(LimeteCalidadSuperirActual) + 1
                });
                var RangoSuperiorSeveridadActual = $("#RangoInferiorSeveridad").val();
                $("#RangoSuperiorSeveridad").attr({
                    "min": Number(RangoSuperiorSeveridadActual) + 0.01
                });
                $('#RangoInferiorSeveridad').val(dataItem.RangoInferiorSeveridad);
                $('#RangoSuperiorSeveridad').val(dataItem.RangoSuperiorSeveridad);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus + ": " + XMLHttpRequest.responseText);
            }
        });
    }
</script>