@model ERPMVC.DTO.SeveridadRiesgoDTO

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
           // {"required","Valor requerido" }
        };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<div id="ModalSeveridadRiesgo" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Severidad de Riesgo</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmSeveridadRiesgo" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SaveSeveridadRiesgo"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Severidad de Riesgo</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdSeveridad" class=" control-label" style="min-width:100%"></label>
                                                    <input type="text" asp-for="IdSeveridad" name="IdSeveridad" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="IdSeveridad" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <script>
                                                    function GetNiveles() {
                                                        return { 'Id': 14 }
                                                    }
                                                </script>
                                                <div class="form-group">
                                                    <label asp-for="Nivel" class="control-label">Nivel</label>
                                                    <kendo-dropdownlist name="Nivel" required data-required-msg="El Nivel es Requerido."
                                                                        for="@Model.Nivel"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccione Nivel de Riesgo!"
                                                                        datatextfield="Nombre"
                                                                        datavaluefield="Nombre"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetElementoByIdConfiguracion", "ElementoConfiguracion")" data="GetNiveles" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="Nivel" class="text-danger"></span>
                                                    <span id="NivelAlert" class="text-danger">Este nivel ya esta creado.</span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Impacto" class=" control-label" style="min-width:100%"></label>
                                                    <input type="number" asp-for="Impacto" required data-required-msg="El Impacto es Requerido." onkeypress="return SoloNumeros(event)" name="Impacto" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Impacto" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Probabilidad" class=" control-label" style="min-width:100%"></label>
                                                    <input type="number" asp-for="Probabilidad" required data-required-msg="La Probabilidad es Requerido." onkeypress="return SoloNumeros(event)" name="Probabilidad" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Probabilidad" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="LimiteCalidadInferior" class=" control-label" style="min-width:100%"></label>
                                                    <input type="number" min="0" asp-for="LimiteCalidadInferior" required data-required-msg="El Limite de Calida Inferior es Requerido." data-min-msg="El limite de calidad inferior no puede ser Negativo." onkeypress="return SoloNumeros(event)" name="LimiteCalidadInferior" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="LimiteCalidadInferior" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="LimeteCalidadSuperir" class=" control-label" style="min-width:100%"></label>
                                                    <input type="number" min="0" asp-for="LimeteCalidadSuperir" required data-required-msg="El Limite de Calida Superior es Requerido." data-min-msg="El limite de Calidad superior no puede ser menor o igual al limite de Calidad inferior." onkeypress="return SoloNumeros(event)" name="LimeteCalidadSuperir" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="LimeteCalidadSuperir" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RangoInferiorSeveridad" class=" control-label" style="min-width:100%"></label>
                                                    <input type="number" min="0" required data-required-msg="El Rango Inferior de Severidad es Requerido." data-min-msg="El rango inferior no puede ser Negativo." asp-for="RangoInferiorSeveridad" name="RangoInferiorSeveridad" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="RangoInferiorSeveridad" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="RangoSuperiorSeveridad" class=" control-label" style="min-width:100%"></label>
                                                    <input type="number" min="0" required data-required-msg="El Rango Superior de Severidad es Requerido." data-min-msg="El rango superior no puede ser menor o igual que el Rango Inferior." asp-for="RangoSuperiorSeveridad" name="RangoSuperiorSeveridad" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="RangoSuperiorSeveridad" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button id="btnSeveridadRiesgo" class="form-control btn-miboton" onclick="SaveSeveridadRiesgo(this)" type="button"> Guardar </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#NivelAlert").prop("hidden", true);
        $("#Impacto").on('paste', function (e) {
            e.preventDefault();
        })
        $("#Probabilidad").on('paste', function (e) {
            e.preventDefault();
        })
        $("#LimiteCalidadInferior").on('paste', function (e) {
            e.preventDefault();
        })
        $("#LimeteCalidadSuperir").on('paste', function (e) {
            e.preventDefault();
        })
        $("#RangoInferiorSeveridad").on('paste', function (e) {
            e.preventDefault();
        })
        $("#RangoSuperiorSeveridad").on('paste', function (e) {
            e.preventDefault();
        })
    })

    function SoloNumeros(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = "1234567890";
        especiales = "8-37-39-46";

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            return false;
        }
    }

    function customFunction(input) {
        if (input.attr('name') === "IdSeveridad" && input.val() === "0") {
            return false;
        }
    }

    function SaveSeveridadRiesgo(e) {
        var displayedData = $("#gridSeveridadRiesgo").data().kendoGrid.dataSource.view();
        var notification = $("#notification").data("kendoNotification");

            $("#btnSeveridadRiesgo").hide();
            $("#btnSeveridadRiesgo").prop("disabled", true);

        var setColorHexadecimal = "";
        if ($("#Nivel").data("kendoDropDownList").text() == "Bajo") {
            setColorHexadecimal = "#008F39";
        }
        else if ($("#Nivel").data("kendoDropDownList").text() == "Medio") {
            setColorHexadecimal = "#FFFF00";
        }
        else if ($("#Nivel").data("kendoDropDownList").text() == "Alto") {
            setColorHexadecimal = "#FF8000";
        }
        else if ($("#Nivel").data("kendoDropDownList").text() == "Muy Alto") {
            setColorHexadecimal = "#FF0000";
        }
            
            var dataObject = {
                'IdSeveridad': $("#IdSeveridad").val() === "" ? "0" : $("#IdSeveridad").val(),
                'Impacto': $("#Impacto").val(),
                'Probabilidad': $("#Probabilidad").val(),
                'LimiteCalidadInferior': $("#LimiteCalidadInferior").val(),
                'LimeteCalidadSuperir': $("#LimeteCalidadSuperir").val(),
                'RangoInferiorSeveridad': $("#RangoInferiorSeveridad").val(),
                'RangoSuperiorSeveridad': $("#RangoSuperiorSeveridad").val(),
                'Nivel': $("#Nivel").data("kendoDropDownList").text(),
                'ColorHexadecimal': setColorHexadecimal,
            };

        var validator = $("#frmSeveridadRiesgo").data("kendoValidator");
        var status = $(".status");

                if (validator.validate()) {
                    if ($('#NivelAlert').is(':hidden')) {
                        $.ajax({
                            url: '@Url.Action("SaveSeveridadRiesgo", "SeveridadRiesgo")',
                            method: 'POST',
                            datatype: "json",
                            contentType: 'application/json',
                            async: false,
                            data: JSON.stringify(dataObject),
                            success: function (data) {
                                $.toast({
                                    heading: 'Satisfactorio',
                                    text: '<br/><br/>Datos guardados correctamente.',
                                    position: 'top-right',
                                    loaderBg: '#ff6849',
                                    icon: 'success',
                                    hideAfter: 30000,
                                    stack: 6
                                });
                                RefrescarGrid();
                                $('#ModalSeveridadRiesgo').modal('hide');
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                notification.show({
                                    title: "Validación",
                                    message: textStatus + ": " + XMLHttpRequest.responseText
                                }, "error");
                            }
                        });
                    }
                    else {
                        notification.show({
                            title: "Validación",
                            message: "No se puede duplicar el Nivel!"
                        }, "error");
                    }
                }
                else {
                    notification.show({
                        title: "Validación",
                        message: "Ingrese todos los datos en el formulario!"
                    }, "error");
                }

            $("#btnSeveridadRiesgo").show();
            $("#btnSeveridadRiesgo").prop("disabled", false);
    }

    function SetNivelRiesgo() {
        var displayedData = $("#gridSeveridadRiesgo").data().kendoGrid.dataSource.view();
        if (displayedData.length == 0) {
            $("#Nivel").data("kendoDropDownList").text('Bajo');
        }
        else if (displayedData.length == 1) {
            $("#Nivel").data("kendoDropDownList").text('Medio');
        }
        else if (displayedData.length == 2) {
            $("#Nivel").data("kendoDropDownList").text('Alto');
        }
        else if (displayedData.length == 3) {
            $("#Nivel").data("kendoDropDownList").text('Muy Alto');
        }
    }

    $("#LimiteCalidadInferior").keyup(function (e) {
        if ($("#LimiteCalidadInferior").val() == 0) {
            $("#LimeteCalidadSuperir").prop("disabled", true);
        }
        else {
            $("#LimeteCalidadSuperir").prop("disabled", false);
            var LimeteCalidadSuperirActual = Number($("#LimiteCalidadInferior").val());
            $("#LimeteCalidadSuperir").attr({
                "min": Number(LimeteCalidadSuperirActual) + 1
            });
            if (LimeteCalidadSuperirActual >= $("#LimeteCalidadSuperir").val()) {
                $("#LimeteCalidadSuperir").val("")
            }
        }
    });

    $("#LimiteCalidadInferior").change(function (e) {
        if ($("#LimiteCalidadInferior").val() == 0) {
            $("#LimeteCalidadSuperir").prop("disabled", true);
        }
        else {
            $("#LimeteCalidadSuperir").prop("disabled", false);
            var LimeteCalidadSuperirActual = $("#LimiteCalidadInferior").val();
            $("#LimeteCalidadSuperir").attr({
                "min": Number(LimeteCalidadSuperirActual) + 1
            });
            if (LimeteCalidadSuperirActual >= $("#LimeteCalidadSuperir").val()) {
                $("#LimeteCalidadSuperir").val("");
            }
        }
    });

    $("#RangoInferiorSeveridad").keyup(function (e) {
        if ($("#RangoInferiorSeveridad").val() == 0) {
            $("#RangoSuperiorSeveridad").prop("disabled", true);
        }
        else {
            $("#RangoSuperiorSeveridad").prop("disabled", false);
            var RangoSuperiorSeveridadActual = Number($("#RangoInferiorSeveridad").val());
            $("#RangoSuperiorSeveridad").attr({
                "min": Number(RangoSuperiorSeveridadActual) + 0.01
            });
            if (RangoSuperiorSeveridadActual >= $("#RangoSuperiorSeveridad").val()) {
                $("#RangoSuperiorSeveridad").val("")
            }
        }
    });

    $("#RangoInferiorSeveridad").change(function (e) {
        if ($("#RangoInferiorSeveridad").val() == 0) {
            $("#RangoSuperiorSeveridad").prop("disabled", true);
        }
        else {
            $("#RangoSuperiorSeveridad").prop("disabled", false);
            var RangoSuperiorSeveridadActual = $("#RangoInferiorSeveridad").val();
            $("#RangoSuperiorSeveridad").attr({
                "min": Number(RangoSuperiorSeveridadActual) + 0.01
            });
            if (RangoSuperiorSeveridadActual >= $("#RangoSuperiorSeveridad").val()) {
                $("#RangoSuperiorSeveridad").val("");
            }
        }
    });

    $("#Nivel").change(function (e) {
        var Id = $("#IdSeveridad").val();
        var Nivel1 = $("#Nivel").data("kendoDropDownList").text();
        var displayedData = $("#gridSeveridadRiesgo").data().kendoGrid.dataSource.view();
        var NivelExisten = "";

        if (displayedData.length > 0) {
            for (var i = 0; i < displayedData.length; i++) {
                NivelExisten = displayedData[i]
                if (NivelExisten.Nivel != Nivel1) {
                    $("#NivelAlert").prop("hidden", true);
                    debugger;
                    if (Id == 0) {
                        if (NivelExisten.Nivel == "Bajo") {
                            var RangoSuperiorSeveridadAnterior = 0;
                            var LimeteCalidadSuperirAnterior = 0;
                            var ImpactoAnterior = 0;
                            var ProbabilidadAnterior = 0;

                            RangoSuperiorSeveridadAnterior = NivelExisten.RangoSuperiorSeveridad
                            LimeteCalidadSuperirAnterior = NivelExisten.LimeteCalidadSuperir
                            ImpactoAnterior = NivelExisten.Impacto
                            ProbabilidadAnterior = NivelExisten.Probabilidad

                            if (Nivel1 == "Bajo") { var IdNivel = 1 }
                            else if (Nivel1 == "Medio") { var IdNivel = 2 }
                            else if (Nivel1 == "Alto") { var IdNivel = 3 }
                            else if (Nivel1 == "Muy Alto") { var IdNivel = 4 }
                            var NivelAnterior = 1

                            if (IdNivel > NivelAnterior && IdNivel == 2) {
                                $("#RangoInferiorSeveridad").attr({
                                    "min": RangoSuperiorSeveridadAnterior + 0.01
                                });
                                $("#LimiteCalidadInferior").attr({
                                    "min": Number(LimeteCalidadSuperirAnterior) + 1
                                });
                                $("#Impacto").attr({
                                    "min": ImpactoAnterior + 1
                                });
                                $("#Probabilidad").attr({
                                    "min": ProbabilidadAnterior + 1
                                });
                                $("#RangoInferiorSeveridad").attr({ "data-min-msg": "El Rango Inferior de Severidad no puede ser menor que el nivel anterior." });
                                $("#LimiteCalidadInferior").attr({ "data-min-msg": "El Limite de Calidad Inferior no puede ser menor que el nivel anterior." });
                                $("#Probabilidad").attr({ "data-min-msg": "La Probabilidad no puede ser menor que el nivel anterior." });
                                $("#Impacto").attr({ "data-min-msg": "El Impacto no puede ser menor que el nivel anterior." });
                                break;
                            }
                            else {
                                $("#RangoInferiorSeveridad").attr({
                                    "min": 0
                                })
                                $("#LimiteCalidadInferior").attr({
                                    "min": 0
                                });
                                $("#Impacto").attr({
                                    "min": 0
                                });
                                $("#Probabilidad").attr({
                                    "min": 0
                                });

                                var validator = $("#frmSeveridadRiesgo").data("kendoValidator");
                                validator.hideMessages();
                            }
                        }

                        if (NivelExisten.Nivel == "Medio") {
                            var RangoSuperiorSeveridadAnterior = 0;
                            var LimeteCalidadSuperirAnterior = 0;
                            //var RangoInferiorSeveridadAnterior = 0;
                            //var LimeteCalidadInferiorAnterior = 0;
                            var ImpactoAnterior = 0;
                            var ProbabilidadAnterior = 0;
                            debugger;

                            //El nivel es Superior
                            RangoSuperiorSeveridadAnterior = NivelExisten.RangoSuperiorSeveridad
                            LimeteCalidadSuperirAnterior = NivelExisten.LimeteCalidadSuperir
                            ImpactoAnterior = NivelExisten.Impacto
                            ProbabilidadAnterior = NivelExisten.Probabilidad

                            //El nivel es Inferior
                            //RangoInferiorSeveridadAnterior = NivelExisten.RangoInferiorSeveridad
                            //LimiteCalidadInferiorAnterior = NivelExisten.LimiteCalidadInferior

                            if (Nivel1 == "Bajo") { var IdNivel = 1 }
                            else if (Nivel1 == "Medio") { var IdNivel = 2 }
                            else if (Nivel1 == "Alto") { var IdNivel = 3 }
                            else if (Nivel1 == "Muy Alto") { var IdNivel = 4 }
                            var NivelAnterior = 2

                            if (IdNivel > NivelAnterior && IdNivel == 3) {
                                $("#RangoInferiorSeveridad").attr({
                                    "min": RangoSuperiorSeveridadAnterior + 0.01
                                });
                                $("#LimiteCalidadInferior").attr({
                                    "min": Number(LimeteCalidadSuperirAnterior) + 1
                                });
                                $("#Impacto").attr({
                                    "min": ImpactoAnterior + 1
                                });
                                $("#Probabilidad").attr({
                                    "min": ProbabilidadAnterior + 1
                                });
                                $("#RangoInferiorSeveridad").attr({ "data-min-msg": "El Rango Inferior de Severidad no puede ser menor que el nivel anterior." });
                                $("#LimiteCalidadInferior").attr({ "data-min-msg": "El Limite de Calidad Inferior no puede ser menor que el nivel anterior." });
                                $("#Probabilidad").attr({ "data-min-msg": "La Probabilidad no puede ser menor que el nivel anterior." });
                                $("#Impacto").attr({ "data-min-msg": "El Impacto no puede ser menor que el nivel anterior." });
                                break;
                            }
                            //else if (IdNivel < NivelAnterior && IdNivel == 1) {
                            //    $("#RangoInferiorSeveridad").attr({
                            //        "min": RangoInferiorSeveridadAnterior - 0.01
                            //    });
                            //    $("#LimiteCalidadInferior").attr({
                            //        "min": Number(LimiteCalidadInferiorAnterior) - 1
                            //    });
                            //    $("#Impacto").attr({
                            //        "min": ImpactoAnterior - 1
                            //    });
                            //    $("#Probabilidad").attr({
                            //        "min": ProbabilidadAnterior - 1
                            //    });
                            //    $("#RangoInferiorSeveridad").attr({ "data-min-msg": "El Rango Inferior de Severidad no puede ser menor que el nivel anterior." });
                            //    $("#LimiteCalidadInferior").attr({ "data-min-msg": "El Limite de Calidad Inferior no puede ser menor que el nivel anterior." });
                            //    $("#Probabilidad").attr({ "data-min-msg": "La Probabilidad no puede ser menor que el nivel anterior." });
                            //    $("#Impacto").attr({ "data-min-msg": "El Impacto no puede ser menor que el nivel anterior." });
                            //}
                            else {
                                $("#RangoInferiorSeveridad").attr({
                                    "min": 0
                                });
                                $("#LimiteCalidadInferior").attr({
                                    "min": 0
                                });
                                $("#Impacto").attr({
                                    "min": 0
                                });
                                $("#Probabilidad").attr({
                                    "min": 0
                                });

                                var validator = $("#frmSeveridadRiesgo").data("kendoValidator");
                                validator.hideMessages();
                            }
                        }

                        if (NivelExisten.Nivel == "Alto") {
                            var RangoSuperiorSeveridadAnterior = 0;
                            var LimeteCalidadSuperirAnterior = 0;
                            var ImpactoAnterior = 0;
                            var ProbabilidadAnterior = 0;

                            RangoSuperiorSeveridadAnterior = NivelExisten.RangoSuperiorSeveridad
                            LimeteCalidadSuperirAnterior = NivelExisten.LimeteCalidadSuperir
                            ImpactoAnterior = NivelExisten.Impacto
                            ProbabilidadAnterior = NivelExisten.Probabilidad

                            if (Nivel1 == "Bajo") { var IdNivel = 1 }
                            else if (Nivel1 == "Medio") { var IdNivel = 2 }
                            else if (Nivel1 == "Alto") { var IdNivel = 3 }
                            else if (Nivel1 == "Muy Alto") { var IdNivel = 4 }
                            var NivelAnterior = 3

                            if (IdNivel > NivelAnterior && IdNivel == 4) {
                                $("#RangoInferiorSeveridad").attr({
                                    "min": RangoSuperiorSeveridadAnterior + 0.01
                                });
                                $("#LimiteCalidadInferior").attr({
                                    "min": Number(LimeteCalidadSuperirAnterior) + 1
                                });
                                $("#Impacto").attr({
                                    "min": ImpactoAnterior + 1
                                });
                                $("#Probabilidad").attr({
                                    "min": ProbabilidadAnterior + 1
                                });
                                $("#RangoInferiorSeveridad").attr({ "data-min-msg": "El Rango Inferior de Severidad no puede ser menor que el nivel anterior." });
                                $("#LimiteCalidadInferior").attr({ "data-min-msg": "El Limite de Calidad Inferior no puede ser menor que el nivel anterior." });
                                $("#Probabilidad").attr({ "data-min-msg": "La Probabilidad no puede ser menor que el nivel anterior." });
                                $("#Impacto").attr({ "data-min-msg": "El Impacto no puede ser menor que el nivel anterior." });
                                break;
                            }
                            else {
                                $("#RangoInferiorSeveridad").attr({
                                    "min": 0
                                });
                                $("#LimiteCalidadInferior").attr({
                                    "min": 0
                                });
                                $("#Impacto").attr({
                                    "min": 0
                                });
                                $("#Probabilidad").attr({
                                    "min": 0
                                });

                                var validator = $("#frmSeveridadRiesgo").data("kendoValidator");
                                validator.hideMessages();
                            }
                        }
                    }
                }
                if (NivelExisten.Nivel == Nivel1 && NivelExisten.IdSeveridad != Id) {
                    $("#NivelAlert").prop("hidden", false);
                    break;
                }
                else if (Nivel1 == "@Model.Nivel" && NivelExisten.IdSeveridad == Id) {
                    $("#NivelAlert").prop("hidden", true);
                }
            }
        }
    });
</script>