<link href="~/css/loginalmacafe.css" rel="stylesheet" />

@model ERPMVC.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layoutlogin.cshtml";
    ViewData["Title"] = "Login";
}

<head>

    <link href="~/css/kendo/silver/all.css" rel="stylesheet" />
    <style>

       .k-i-eye {
            position: absolute !important; 
            margin-left: -25px !important;
            margin-top: 45px !important;
        }
    
</style>
</head>

<div class="sidenav" style="background-image: url('/images/logo-almacafe.png') ; background-size: cover;">
         
      </div>
      <div class="main">
          <div class="login-main-text" style="background-color:rgba(255, 255, 255, 0.8); "  >
            <h2>ERP - Login</h2>
           
                <div class="login-form">
                   <form asp-controller="Account" asp-action="Login">
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                              <div class="form-group">
                                 <label>Usuario</label>
                                 <input id="Email" asp-for="Email" class="form-control" type="text" style="min-width:100%" placeholder="Usuario" required autocomplete="false">
                              </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 col-sm-12">
                              <div class="form-group">
                                 <label class="control-label" style="min-width:100%">Contraseña</label>
                                  <i class="k-icon k-i-eye" id="togglePassword"></i>
                                 <input id="Password" asp-for="Password" class="form-control" type="password" placeholder="Contraseña" required style="min-width:100%" autocomplete="false">
                                
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-8"></div>
                          <div class="col-md-4">
                              <button class="btn btn-black" type="submit">
                                    Acceder
                            </button>
                          </div>
                            
                      </div>
                   </form>
                     @if (Model != null)
                        {
                            if (Model.Failed)
                            {
                                <div class="alert alert-error" style="display:block" id="satisfactoriomsj"> @Model.LoginError </div>
                            }
                        }
                
            
            </div>
            
         </div>
         <hr/>
            <footer>
            <p style="text-align:center;color:black">&copy; @DateTime.Now.Year - Desarrollos Agiles</p>
            </footer>
         
     </div>
<script>

   const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#Password');
 
  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
  });

</script>