<link href="~/css/loginalmacafe.css" rel="stylesheet" />

@model ERPMVC.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_Layoutlogin.cshtml";
    ViewData["Title"] = "Login";
}




<div class="sidenav" style="background-image: url('/images/logo-almacafe.png') ; background-size: cover;">
         
      </div>
      <div class="main">
          <div class="login-main-text" style="background-color:rgba(255, 255, 255, 0.8); "  >
            <h2>ERP - Login</h2>
           
               
                <div class="login-form">
                   <form asp-controller="Account" asp-action="Login">
                      <div class="row">
                        <div class="col-md-12 col-sm-12">
                              <div class="form-group">
                                 <label>Usuario</label>
                                 <input id="Email" asp-for="Email" class="form-control" type="text" style="min-width:100%" placeholder="Usuario" required>
                              </div>
                        </div>
                      </div>
                      <div class="row">
                          <div class="col-md-12 col-sm-12">
                              <div class="form-group">
                                 <label class="control-label" style="min-width:100%">Contraseña</label>
                                 <input id="Password" asp-for="Password" class="form-control" type="password" placeholder="Contraseña" required style="min-width:100%">
                              </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-8"></div>
                          <div class="col-md-4">
                              <button class="btn btn-black" type="submit">
                                    Acceder
                            </button>
                          </div>
                            
                      </div>
                      
                   </form>
                     @if (Model != null)
                        {
                            if (Model.Failed)
                            {
                                <div class="alert alert-error" style="display:block" id="satisfactoriomsj"> @Model.LoginError </div>
                            }
                        }
                
            
            </div>
            
         </div>
         <hr/>
            <footer>
            <p style="text-align:center;color:black">&copy; @DateTime.Now.Year - Desarrollos Agiles</p>
            </footer>
         
     </div>
