@model ERPMVC.DTO.PurchDTO
@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
// {"required","Valor requerido" }
};
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>

    function customFunction(input) {

        if (input.attr('name') === "PurchId" && input.val() === "0") {
            return false;
        }

    }

    //$('#btnprueba').val("");
</script>

@await Html.PartialAsync("~/Views/OFAC/Index.cshtml")

@await Html.PartialAsync("~/Views/PEPS/PEPSFind.cshtml")

@await Html.PartialAsync("~/Views/BlackListCustomers/BlackListFind.cshtml")

@await Html.PartialAsync("~/Views/ONU/ONULISTFind.cshtml")



<div id="ModalPurch" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" name="btnprueba" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Datos de Proveedores</h4>
            </div>
            <div class="modal-body">

                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmPurch" kendo-validator="true"
                                      data-ajax="true"
                                      data-ajax-method="post"
                                      data-ajax-begin="SavePurch"
                                      class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Proveedores</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PurchId" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="PurchId" name="PurchId" class="form-control" disabled="disabled" style="width:100%" />
                                                    <span asp-validation-for="PurchId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PurchCode" class=" control-label" style="width:100%"></label>
                                                    <input asp-for="PurchCode" name="PurchCode" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="PurchCode" class="text-danger k-invalid-msg" data-for="RTN"></span>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PurchName" class="control-label" style="width:100%"></label>
                                                    <span>
                                                        <input asp-for="PurchName" required class="form-control form-control-line" onchange="RefreshOFAC();" style="min-width: 80%" />
                                                        @*<button type="button" onclick="return RefreshOFAC();" class="k-button k-primary"><i class="fa fa-search"></i>LISTADOS</button>*@
                                                    </span>
                                                    <span asp-validation-for="PurchName" class="text-danger"></span>

                                                   </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Address" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Address" name="Address" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="City" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="City" name="City" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="City" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="State" class=" control-label" style="width:100%">Departamento</label>
                                                    <input asp-for="State" name="State" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="State" class="text-danger k-invalid-msg" data-for="RTN"></span>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Phone" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Phone" name="Phone" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Identidad" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Identidad" name="Identidad" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Identidad" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Email" class=" control-label" style="width:100%"></label>
                                                    <input asp-for="Email" name="Email" class="form-control" autocomplete="off" style="width:100%" />
                                                    <span asp-validation-for="Email" class="text-danger k-invalid-msg" data-for="RTN"></span>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="ContactPerson" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="ContactPerson" name="ContactPerson" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="ContactPerson" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Estado" class="control-label" style="width:100%"></label>
                                                    <kendo-dropdownlist name="IdEstado"
                                                                        for="@Model.IdEstado"
                                                                        filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        option-label="Seleccionar Estado"
                                                                        datatextfield="NombreEstado"
                                                                        datavaluefield="IdEstado">
                                                        <datasource type="DataSourceTagHelperType.WebApi" server-operation="true">
                                                            <transport>
                                                                <read url="@Url.Action("GetGrupoEstadoUno", "Estados")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CompanyReferenceone" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="CompanyReferenceone" name="CompanyReferenceone" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="CompanyReferenceone" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CompanyReferencetwo" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="CompanyReferencetwo" name="CompanyReferencetwo" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="CompanyReferencetwo" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <label asp-for="RTN" class=" control-label" style="width:100%"></label>
                                                        <input asp-for="RTN" name="RTN" class="form-control" autocomplete="off" style="width:100%" />
                                                        <span asp-validation-for="RTN" class="text-danger k-invalid-msg" data-for="RTN"></span>
                                                    </div>


                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="QtyMin" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="QtyMin" name="QtyMin" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="QtyMin" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="QtyMonth" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="QtyMonth" name="QtyMonth" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="QtyMonth" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button id="btnPurch" class="form-control btn-miboton" type="submit"> Guardar </button>
                                                </div>
                                            </div>



                                        </div>
</form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function RefrescarGrid() {

        var grid = $("#gridNumeracionPurch").getKendoGrid();
        grid.dataSource.read();
    }
    function SavePurch(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
        $("#btnPurch").hide();
        $("#btnPurch").prop("disabled", true);

        var displayedData = $("#gridNumeracionPurch").data().kendoGrid.dataSource.view();

        var dataObject = {
            'PurchId': $("#PurchId").val(),
            'PurchName': $("#PurchName").val(),
            'PurchCode': $("#PurchCode").val(),
            'RTN': $("#RTN").val(),
            'City': $("#City").val(),
            'Address': $("#Address").val(),
            'State': $("#State").val(),
            'Phone': $("#Phone").val(),
            'Identidad': $("#Identidad").val(),
            'Email': $("#Email").val(),
            'ContactPerson': $("#ContactPerson").val(),
            'IdEstado': $("#IdEstado").val(),
            'Estado': $("#IdEstado").data("kendoDropDownList").text(),
            'CompanyReferenceone': $("#CompanyReferenceone").val(),
            'CompanyReferencetwo': $("#CompanyReferencetwo").val(),
            'QtyMin': $("#QtyMin").val(),
            'QtyMonth': $("#QtyMonth").val(),
            'CreatedDate': $("#CreatedDate").val(),
                'ModifiedDate': $("#ModifiedDate").val(),
                'CreatedUser': $("#CreatedUser").val(),
                'ModifiedUser': $("#ModifiedUser").val(),
            '_Purch': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

        var validator = $("#frmPurch").data("kendoValidator");
                 var status = $(".status");


                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SavePurch", "Purch")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            //notification.show({
                            //    message: "Guardado correctamente!"
                            //}, "upload-success");
                            $.toast({
                                heading: 'Satisfactorio',
                                text: '<br/><br/> Datos guardados correctamente.',
                                position: 'top-right',
                                loaderBg: '#ff6849',
                                icon: 'success',
                                hideAfter: 30000,
                                stack: 6
                            });

                            RefrescarGrid();

                            $('#ModalPurch').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validación",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }


        $("#btnPurch").show();
        $("#btnPurch").prop("disabled", false);
    }
</script>

