@model ERPMVC.Models.InsuranceEndorsementLine



<script>

    completedorderlinemant = function (xhr) {
        debugger
        $('#myModalInvoiceLine').find(':input').not('#SalesOrderId :submit').val('0');
        $('#WareHouseId').data("kendoDropDownList").value('0');
        $('#AmountLp').val(0);
        $('#AmountDl').val(0);
        $('#CertificateBalance').val(0);
        $('AssuredDiferenceLine').val(0);
        CalcularTotalDocumento();
        $("#btnActualizarCotizacionLinea").prop("disabled", false);
        closesaleorderline();
    };


    function closesaleorderline() {
        $("#myModalInvoiceLine").modal('hide');

    }


    function CalcularTotalDocumento() {

        debugger;
        var displayedData = $("#gridInvoiceDetail").data().kendoGrid.dataSource.view();
        // var subtotal = 0, total = 0, totaldescuento = 0, totalimpuesto = 0, totalimpuesto18 = 0, totalmonto = 0;
        var montodolar = 0, montolp = 0, totalsaldocert = 0, totaldiferencia = 0;
        $(displayedData).each(function (index, element) {
            var t = JSON.parse(JSON.stringify(element));
            montodolar += + t["AmountDl"];
            montolp += t["AmountLp"];
            totalsaldocert += t["CertificateBalance"];
            totaldiferencia += t["AssuredDiference"];

        });
        //var sumatotal = Number(TotalGravado) + Number(TotalGravado18) + Number(TotalExento) + Number(TotalExonerado) + Number(totalimpuesto18)+  Number(totalimpuesto) + Number(freight);
        debugger;
        setearvalor('TotalAmountDl', montodolar);
        setearvalor('TotalAmountLp', montolp);
        setearvalor('TotalCertificateBalalnce', totalsaldocert);
        setearvalor('TotalAssuredDifernce', totaldiferencia);

    }

    function RefreshInvoiceDetail() {
        debugger;
        var grid = $("#gridInvoiceDetail").getKendoGrid();
        grid.dataSource.read();
        grid.refresh();
    }
    function AddConceptoCotizacion(e) {
        var notification = $("#notification").data("kendoNotification");
        if ($("#WareHouseId").val() != "") {
            try {
                $("#btnActualizarCotizacionLinea").prop("disabled", false);
                var debito = $("#AmountLp").val();
                var credito = $("#AmountDl").val();
                RefreshInvoiceDetail();

            } catch (e) {
                $("#btnActualizarCotizacionLinea").prop("disabled", true);
            }
        }
        else {
            notification.show({
                title: "Validación",
                message: "Seleccione la bodega!"
            }, "error");

            return;
        }
    }

    function setearvalor(nombrenumerico, valor) {
        var numeric = $("#" + nombrenumerico).data("kendoNumericTextBox");
        numeric.value(valor);
        numeric.trigger('change');
        numeric = null;
    }
    function CalcularTotal() {
        //debugger;
        //var quantity = $("#Quantity").val();
        //var price = $("#Price").val();
        //var amount = quantity * price;
        //setearvalor("AmountLine", amount);
        //var DiscountAmount = amount * ($("#DiscountPercentage").val() / 100);
        //setearvalor("DiscountAmount", DiscountAmount);
        //var subtotal = amount - DiscountAmount;
        //var taxamount = subtotal * ($("#TaxPercentage").val() / 100) ;
        //setearvalor("TaxAmount", taxamount);
        //setearvalor("SubTotalLine", subtotal);
        //var Total = Number(subtotal) + Number(taxamount);
        //setearvalor("TotalLine", Total);
    }

    function cargarloader() {
        $("#btnActualizarCotizacionLinea").prop("disabled", true);
    }    

</script>

<span id="spinner" style="display:none;"><i class="fas fa-spinner fa-spin"></i></span>
<div id="loading"></div>

<div id="myModalInvoiceLine" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closesaleorderline();">&times;</button>
                <h4 class="modal-title">Bodega</h4>
            </div>
            <div class="modal-body">
                @{
                    var messages1 = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                                                                                            {"required","Valor requerido" }
                                                                                         };
                    var rules1 = new Dictionary<string, string>() { { "custom", "customFunction" } };
                }
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">

                            <div class="card-body">
                                <form id="frmSalesOrderLine"
                                      kendo-validator="true" kendo-messages="messages1" kendo-rules="rules1"
                                      data-ajax-method="post"
                                      data-ajax-loading="#loading"
                                      data-ajax-complete="completedorderlinemant"
                                      data-ajax-begin="AddConceptoCotizacion"
                                      data-ajax="true"
                                      method="post" class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <hr>
                                        <div class="row" hidden>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="InsuranceEndorsementLineId" class="control-label" style="width:100%"></label>
                                                    <input type="number" asp-for="InsuranceEndorsementLineId" class="form-control" style="min-width:100%" readonly disabled />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="InsuranceEndorsementId" class="control-label" style="min-width:100%"></label>
                                                    <input type="number" asp-for="InsuranceEndorsementId" style="min-width:100%" class="form-control" readonly disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="WareHouseId" class="control-label" style="width:100%">Bodega</label>
                                                    <kendo-dropdownlist name="WareHouseId" filter="Kendo.Mvc.UI.FilterType.Contains"
                                                                        for="@Model.WareHouseId"
                                                                        id="WareHouseId"
                                                                        option-label="Seleccione la Bodega"
                                                                        datatextfield="WarehouseName"
                                                                        required
                                                                        datavaluefield="WarehouseId"
                                                                        style="width: 100%;">
                                                        <datasource type="DataSourceTagHelperType.WebApi" page-size="9999999">
                                                            <transport>
                                                                <read url="@Url.Action("GetWarehouse", "Warehouse")" />
                                                            </transport>
                                                        </datasource>
                                                    </kendo-dropdownlist>
                                                    <span asp-validation-for="WareHouseId" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AmountLp" class="control-label" style="width:100%">Monto Lps</label>
                                                    <kendo-numerictextbox name="AmountLp"
                                                                          format="c2"
                                                                          min="0"
                                                                          decimals="2"
                                                                          spinners="false"
                                                                          required
                                                                          max="1000000000"
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="Model.AmountLp" />
                                                    <span asp-validation-for="AmountLp" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AmountDl" class="control-label" style="width:100%">Monto $</label>
                                                    <kendo-numerictextbox name="AmountDl"
                                                                          format="'$.' #.## "
                                                                          min="0"
                                                                          max="1000000000"
                                                                          spinners="false"
                                                                          required
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="Model.AmountDl" />
                                                    <span asp-validation-for="AmountDl" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CertificateBalance" class="control-label" style="width:100%">Saldo Certificado</label>
                                                    <kendo-numerictextbox name="CertificateBalance"
                                                                          format="c2"
                                                                          min="0"
                                                                          spinners="false"
                                                                          required
                                                                          maxlength="9"
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="Model.CertificateBalance" />
                                                    <span asp-validation-for="CertificateBalance" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="AssuredDiference" class="control-label" style="width:100%">Diferencia Asegurada</label>
                                                    <kendo-numerictextbox name="AssuredDiference"
                                                                          format="c2"
                                                                          min="0"
                                                                          spinners="false"
                                                                          required
                                                                          maxlength="20"
                                                                          onchange="CalcularTotal();"
                                                                          style="width:100%"
                                                                          value="Model.AssuredDiference" />
                                                    <span asp-validation-for="AssuredDiference" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        @if (Model.InsuranceEndorsementId == 0)
                                        {
                                            <button id="btnActualizarCotizacionLinea" type="submit" class="form-control">Actualizar</button>
                                        }
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
