
<div style=" align-items:center; height:825px;width: 100%;">
    <ej-report-viewer id="rpvReporte" rendering-begin="renderingBegin" report-print="onPrintReport" processing-mode="Remote" locale="es-ES"
                      report-service-url="/ReportViewer"  report-loaded="onReportLoaded" report-path="/ReportsTemplate/SegurosEndosados.rdl" />

</div>
<ej-script-manager></ej-script-manager>

