@model ERPMVC.DTO.DTO_NumeracionSAR

@{ Layout = null;
    var messages = new Dictionary<string, string>() { { "custom", "Ingrese un valor correcto." },
                               // {"required","Valor requerido" }
                            };
    var rules = new Dictionary<string, string>() { { "custom", "customFunction" } };
}

<script>
    function customFunction(input) {

        if (input.attr('name') === "BranchId" && input.val() === "0") {
            return false;
        }

    }
</script>




<div id="myModalNumeracion" class="modal fade" role="dialog">
    <!-- Modal content-->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Numeracion Sar</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="validation">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmNumeracion" kendo-validator="true" class="validation-wizard wizard-circle">
                                    <div class="form-body">
                                        <h3 class="card-title">Numeracion SAR</h3>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="IdNumeracion" class="control-label" style="width:100%"></label>
                                                    <kendo-numerictextbox name="IdNumeracion"
                                                                          format="n"
                                                                          min="0"
                                                                          disabled
                                                                          max="99999999"
                                                                          step="1"
                                                                          style="width: 100%;"
                                                                          value="Model.IdNumeracion"></kendo-numerictextbox>
                                                    <span asp-validation-for="IdNumeracion" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                @Html.Label("CAI")
                                                @(Html.Kendo().DropDownList()
                                                        // .HtmlAttributes(new { data_bind="value:RoleId"})
                                                        .Name("IdCAI")
                                                        .DataValueField("IdCAI")
                                                        .DataTextField("_cai")
                                                        .Filter(Kendo.Mvc.UI.FilterType.Contains)
                                                        .HtmlAttributes(new { @style = "width:50%" })
                                                        .OptionLabel("Seleccione un CAI")
                                                        //.Events(e=>e.Select("rolf"))
                                                        //.AutoBind(true)
                                                        .Enable(true)
                                                        .DataSource(Source => Source.Read(r => r.Action("GetBOX", "CAI")))
                                                )
                                            </div>
                                            @*<div class="col-md-4">
                                                    <div class="form-group">
                                                        <label asp-for="IdCAI" class="col-md-2 control-label" style="width:100%"></label>
                                                        <input asp-for="IdCAI" class="form-control" style="width:100%" />
                                                        <span asp-validation-for="IdCAI" class="text-danger"></span>
                                                    </div>
                                                </div>*@

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NoInicio" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="NoInicio" name="NoInicio" class="form-control  " style="width:100%" />
                                                    <span asp-validation-for="NoInicio" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="NoFin" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="NoFin" name="NoFin" class="form-control" style="width:100%" />
                                                    <span asp-validation-for="NoFin" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaLimite" class="control-label" style="width:100%"></label>
                                                    <kendo-datetimepicker name="FechaLimite"
                                                                          style="width: 100%;"
                                                                          data-val-required="La fecha es requerida"
                                                                          value="Model.FechaLimite"></kendo-datetimepicker>
                                                    @*<input type="email" asp-for="FechaLimite" class="form-control required " style="width:100%" />*@
                                                    <span asp-validation-for="FechaLimite" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="CantidadOtorgada" class=" control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="CantidadOtorgada" name="CantidadOtorgada" class="form-control  " style="width:100%" />
                                                    <span asp-validation-for="CantidadOtorgada" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="SiguienteNumero" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="SiguienteNumero" name="SiguienteNumero" class="form-control required " style="width:100%" />
                                                    <span asp-validation-for="SiguienteNumero" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="PuntoEmision" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="PuntoEmision" name="PuntoEmision" class="form-control required " style="width:100%" />
                                                    <span asp-validation-for="PuntoEmision" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DocType" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="DocType" name="DocType" class="form-control required " style="width:100%" />
                                                    <span asp-validation-for="DocType" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="DocSubType" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="DocSubType" name="DocSubType" class="form-control required " style="width:100%" />
                                                    <span asp-validation-for="DocSubType" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="Estado" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="Estado" name="Estado" class="form-control required " style="width:100%" />
                                                    <span asp-validation-for="Estado" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaCreacion" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="FechaCreacion" name="FechaCreacion" class="form-control required " style="width:100%" />
                                                    <span asp-validation-for="FechaCreacion" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="FechaModificacion" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="FechaModificacion" name="FechaModificacion" class="form-control required " style="width:100%" />
                                                    <span asp-validation-for="FechaModificacion" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="UsuarioCreacion" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="UsuarioCreacion" name="UsuarioCreacion" class="form-control required " style="width:100%" />
                                                    <span asp-validation-for="UsuarioCreacion" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label asp-for="UsuarioModificacion" class="control-label" style="width:100%"></label>
                                                    <input type="text" asp-for="UsuarioModificacion" name="UsuarioModificacion" class="form-control required " style="width:100%" />
                                                    <span asp-validation-for="UsuarioModificacion" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="btnumeracion" class="form-control btn-miboton" type="submit" onclick="SaveNumeracion(this);"> Guardar </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <script>
        function SaveNumeracion(e) {

            var notification = $("#notification").data("kendoNotification");
           // e.preventDefault();
            $("#btnumeracion").hide();
            $("#btnumeracion").prop("disabled", true);

            var displayedData = $("#gridNumeracionSAR").data().kendoGrid.dataSource.view();

            var dataObject = {  'IdNumeracion': $("#IdNumeracion").val()===""?"0":$("#IdNumeracion").val(),
                           'IdCAI':$("#IdCAI").val(),
                           'NoInicio': $("#NoInicio").val(),
                           'NoFinal': $("#NoFinal").val(),
                           'FechaLimite': $("#FechaLimite").val(),
                           'CantidadOtorgada': $("#CantidadOtorgada").val(),
                           'SiguienteNumero': $("#SiguienteNumero").val(),
                           'PuntoEmision': $("#PuntoEmision").val(),
                           'DocType':$("#DocType").val(),
                           'DocSubType': $("#DocSubType").val(),
                           'Estado': $("#Estado").val(),
                           'FechaCreacion': $("#FechaCreacion").val(),
                           'FechaModificacion':$("#FechaModificacion").val(),
                           'UsuarioCreacion':$("#UsuarioCreacion").val(),
                           'UsuarioModificacion':$("#UsuarioModificacion").val(),
                           '_NumeracionSAR': displayedData
            };

           // console.log(JSON.stringify(dataObject));
            //var form = $("#frmNumeracion");
           // form.validate();

            var validator = $("#frmNumeracion").data("kendoValidator");
                 var status = $(".status");

            if (displayedData.length > 0) {
                if (validator.validate()) {

                    $.ajax({
                        url: '@Url.Action("SaveNumeracionSAR", "NumeracionSAR")',
                        method: 'POST',
                        datatype: "json",
                        contentType: 'application/json',
                        async: false,
                        data: JSON.stringify(dataObject),
                        success: function (data) {

                            notification.show({
                                message: "Guardado correctamente!"
                            }, "upload-success");

                            RefreshCotizaciones();

                            $('#myModalNumeracion').modal('hide');


                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                            notification.show({
                                title: "Validacion",
                                message: textStatus + ": " + XMLHttpRequest.responseText
                            }, "error");

                        }
                    });

                }
                else {
                    status.text("Oops! There is invalid data in the form.")
                        .removeClass("valid")
                        .addClass("invalid");
                }
            }
            else {
                notification.show({
                    title: "Validacion",
                    message: "Debe agregar los productos!"
                }, "error");
               // notification.show("New E-mail","Debe agregar los productos", "info");
                //alert('Debe agregar los productos!!');
            }

            $("#btnumeracion").show();
            $("#btnumeracion").prop("disabled", false);
        }
    </script>